@charset 'utf-8';

@import '../app/core/core';
@import '../app/foundation/_placeholder/_placeholder';

@import '_wpaw-any-posts/app';
@import '_wpaw-carousel/app';
@import '_wpaw-local-nav/app';
@import '_wpaw-pickup-slider/app';
@import '_wpaw-posts-list/app';
@import '_wpaw-pr-box/app';
@import '_wpaw-profile-box/app';
@import '_wpaw-ranking/app';
@import '_wpaw-recent-posts/app';
@import '_wpaw-showcase/app';
@import '_wpaw-site-branding/app';
@import '_wpaw-slider/app';
@import '_wpaw-taxonomy-posts/app';
@import '_wpaw-term/app';

[data-has-sidebar="false"] {
  [data-is-content-widget-area="true"] {
    .wpaw-pickup-slider.alignfull,
    .wpaw-showcase.alignfull,
    .wpaw-pr-box.alignfull,
    .wpaw-slider.alignfull {
      margin-right: calc(50% - 50vw) !important;
      margin-left: calc(50% - 50vw) !important;
      max-width: none !important;
    }
  }

  &[data-header-layout="left"] {
    .wpaw-pickup-slider.alignfull,
    .wpaw-showcase.alignfull,
    .wpaw-pr-box.alignfull,
    .wpaw-slider.alignfull {
      @include _media-min(lg) {
        $body-margin-left: 280px;
        margin-right: calc(50% - (100vw - #{ var-body-margin-left() }) / 2) !important;
        margin-left: calc(50% - (100vw - #{ var-body-margin-left() }) / 2) !important;
        max-width: none !important;
      }
    }
  }
}

// @todo WordPress 5.9 iframed content hack.
// https://github.com/WordPress/gutenberg/blob/f2161e246b9fdd9a2a56e7552b0b28050f1a5302/packages/block-editor/src/components/iframe/index.js#L70-L74
html :where(.editor-styles-wrapper) {
  display: block;
}
