@use '_wpaw-carousel/app' as *;
@use '_wpaw-local-nav/app' as *;
@use '_wpaw-pickup-slider/app' as *;
@use '_wpaw-posts-list/app' as *;
@use '_wpaw-pr-box/app' as *;
@use '_wpaw-profile-box/app' as *;
@use '_wpaw-ranking/app' as *;
@use '_wpaw-showcase/app' as *;
@use '_wpaw-site-branding/app' as *;
@use '_wpaw-slider/app' as *;
@use '_wpaw-term/app' as *;

[data-has-sidebar="false"] {
	[data-is-content-widget-area="true"] {
		--wp--style--global--content-size: none;

		.alignfull > .c-container {
			padding-right: 0;
			padding-left: 0;
			max-width: none;
			width: auto;
		}
	}
}

// @todo WordPress 5.9 iframed content hack.
// https://github.com/WordPress/gutenberg/blob/f2161e246b9fdd9a2a56e7552b0b28050f1a5302/packages/block-editor/src/components/iframe/index.js#L70-L74
html :where(.editor-styles-wrapper) {
	display: block;
}
