.#{ $_prefix }c-drawer {
  $drawer-font-size: $_base-font-size-px - 2;

  z-index: 100000;
  background-color: var-color-accent();
  color: $_color-white;
  @include _font-size-line-height($drawer-font-size);

  a {
    color: inherit;
  }

  .#{$_prefix}c-ic-angle-right {
    transform: translateY(0) translateX(-.15em);

    &::before {
      border-color: $_color-white; // For IE11
      border-color: _var-color-white();
    }
  }

  &__toggle {
    top: _space(.25);
    @include _square(1rem);
    @include _transition(transform);
    transform: rotate(90deg);

    &[aria-expanded="true"] {
      transform: rotate(-90deg);
    }
  }

  &__menu {
    @include _padding-top(.25);
    @include _padding-bottom(.25);
  }

  &__item {
    @include _padding(.25, .5);

    &.menu-item-has-children {
      > a {
        @include _margin-right(1);
      }
    }
  }

  &__submenu[aria-hidden="false"] {
    @include _margin(0, -.5, -.25, 0, false);
    @include _padding(.25, 0);
  }

  &__subitem {
    @include _padding(.25, .5);

    &:last-child {
      @include _margin-bottom(-.25, false);
    }

    &.menu-item-has-children {
      > a {
        @include _margin-right(1);
      }
    }
  }

  &__sub-nav {
    @include _font-size-line-height($_base-font-size-px - 4);

    * + .#{ $_prefix }c-drawer__sub-nav {
      border-top: 1px solid rgba(#fff, .4);
    }

    .#{ $_prefix }c-drawer__submenu {
      @include _margin-right(-.25, false);
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include _container-padding();
    @include _padding-top(.25);
    @include _padding-bottom(.25);
    text-align: right;

    &--left {
      padding-right: 0;
      text-align: initial;
    }
  }

  .#{ $_prefix }c-hamburger-btn__bar {
    background-color: #fff;
  }
}

.#{ $_prefix }c-drawer--highlight-type-background-color {
  .#{ $_prefix }c-drawer__item {
    &.sm-nav-menu-item-highlight {
      background-color: var-color-sub-accent();

      &:first-child {
        @include _margin-top(-.25, false);
      }

      &:last-child {
        @include _margin-bottom(-.25, false);
      }
    }
  }

  .#{ $_prefix }c-drawer__subitem {
    &.sm-nav-menu-item-highlight {
      background-color: var-color-sub-accent();
    }
  }
}

[id="drawer-nav"] {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

[id="drawer-nav"]:not(.#{ $_prefix }c-drawer--inverse) {
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
  width: calc(#{ $_base-line-height * 10 } + constant(safe-area-inset-left));
  width: calc(#{ $_base-line-height * 10 } + env(safe-area-inset-left));
}

[id="drawer-nav"].#{ $_prefix }c-drawer--inverse {
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
  width: calc(#{ $_base-line-height * 10 } + constant(safe-area-inset-right));
  width: calc(#{ $_base-line-height * 10 } + env(safe-area-inset-right));
}

[id="drawer-nav"].#{ $_prefix }c-drawer--overall {
	right: 0;
	left: 0;
	width: 100%;
	max-width: none;
	transition: opacity .2s, visibility .2s;
	opacity: 0;
  padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  overflow: auto;

  &[aria-hidden="false"] {
    opacity: 1;
  }

  & > * {
    flex: 1 1 100%;
  }

  .#{ $_prefix }c-drawer__inner {
    margin: auto;
    height: auto;
    overflow: none;
  }

  .#{ $_prefix }c-drawer__submenu {
    margin-right: $_container-margin * -1; // for IE11
    margin-right: calc((#{ _var-container-margin-sm() } + constant(safe-area-inset-right)) * -1);
    margin-right: calc((#{ _var-container-margin-sm() } + env(safe-area-inset-right)) * -1);

    @supports (-ms-ime-align: auto) {
      margin-right: calc(#{ _var-container-margin-sm() } * -1); // for Edge
    }

    @include _media-min(md) {
      margin-right: $_container-margin * 2 * -1; // for IE11
      margin-right: calc((#{ _var-container-margin() } + constant(safe-area-inset-right)) * -1);
      margin-right: calc((#{ _var-container-margin() } + env(safe-area-inset-right)) * -1);

      @supports (-ms-ime-align: auto) {
        margin-right: calc(#{ _var-container-margin() } * -1); // for Edge
      }
    }
  }

  .#{ $_prefix }c-drawer__item {
    @include _container-padding();
  }

  .#{ $_prefix }c-drawer__subitem {
    @include _padding-left(.5);
    padding-right: $_container-margin; // for IE11
    padding-right: calc((#{ _var-container-margin-sm() } + constant(safe-area-inset-right)));
    padding-right: calc((#{ _var-container-margin-sm() } + env(safe-area-inset-right)));

    @supports (-ms-ime-align: auto) {
      padding-right: calc(#{ _var-container-margin-sm() }); // for Edge
    }

    @include _media-min(md) {
      padding-right: $_container-margin * 2 * -1; // for IE11
      padding-right: calc((#{ _var-container-margin() } + constant(safe-area-inset-right)));
      padding-right: calc((#{ _var-container-margin() } + env(safe-area-inset-right)));

      @supports (-ms-ime-align: auto) {
        padding-right: calc(#{ _var-container-margin() }); // for Edge
      }
    }
  }

  .#{ $_prefix }c-drawer__toggle {
    right: calc(#{ $_container-margin } + 5px); // for IE11
    right: calc(#{ _var-container-margin-sm() } + 5px + constant(safe-area-inset-right));
    right: calc(#{ _var-container-margin-sm() } + 5px + env(safe-area-inset-right));

    @supports (-ms-ime-align: auto) {
      right: calc(#{ _var-container-margin-sm() } + 5px); // for Edge
    }

    @include _media-min(md) {
      right: calc(#{ $_container-margin * 2 } + 5px); // for IE11
      right: calc(#{ _var-container-margin() } + 5px + constant(safe-area-inset-right));
      right: calc(#{ _var-container-margin() } + 5px + env(safe-area-inset-right));

      @supports (-ms-ime-align: auto) {
        right: calc(#{ _var-container-margin() } + 5px); // for Edge
      }
    }
  }
}
