@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.l-header {
	z-index: 1000;
	background-color: var(--_global--background-color);
	color: var(--header-text-color);
	overflow: hidden;

	@include core.media-min(lg) {
		overflow: visible;
	}

	&:not([aria-hidden="true"]) {
		@include core.transition(visibility, opacity);
	}

	&[aria-hidden="true"],
	&[aria-hidden="true"] .p-drop-nav {
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
	}

	&__content {
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);

		@include core.media-min(lg) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.c-hamburger-btn__bar {
		background-color: var(--header-text-color);
	}

	/**
	 * Sticky header
	 */
	@mixin sticky-header() {
		position: sticky;
		top: 0;
		box-shadow: 0 1px 2px 1px rgba(#000, .05);

		.admin-bar & {
			@include core.media-min(601px) {
				top: 46px;
			}

			@include core.media-min(783px) {
				top: 32px;
			}
		}
	}

	&--sticky-sm {
		@include core.media-max(md) {
			@include sticky-header();
		}
	}

	&--sticky-lg {
		@include core.media-min(lg) {
			@include sticky-header();
		}
	}

	/**
	 * Non-sticky overlay header
	 */
	@mixin overlay-header() {
		position: absolute;
		right: 0;
		left: 0;
		background-color: transparent;
	}

	@mixin overlay-header-white-text() {
		color: var(--overlay-header-text-color);

		.c-hamburger-btn__bar {
			background-color: var(--overlay-header-text-color);
		}
	}

	&--overlay-sm {
		@include core.media-max(md) {
			@include overlay-header();
			@include overlay-header-white-text();
		}
	}

	&--overlay-lg {
		@include core.media-min(lg) {
			@include overlay-header();
			@include overlay-header-white-text();
		}
	}

	/**
	 * Sticky overlay header
	 */
	@mixin sticky-overlay-header() {
		position: fixed;
		@include overlay-header();
		@include overlay-header-white-text();
	}

	&--sticky-overlay-sm {
		@include core.media-max(md) {
			@include sticky-overlay-header();
		}
	}

	&--sticky-overlay-lg {
		@include core.media-min(lg) {
			@include sticky-overlay-header();
		}
	}

	/**
	 * Colored sticky overlay
	 */
	@mixin sticky-overlay-colored-header() {
		@include overlay-header();
		position: fixed;

		[data-scrolled="false"] & {
			@include overlay-header-white-text();
		}

		[data-scrolled="true"] & {
			background-color: var(--_global--background-color);
			box-shadow: 0 1px 2px 1px rgba(#000, .05);
		}
	}

	&--sticky-overlay-colored-sm {
		@include core.media-max(md) {
			@include sticky-overlay-colored-header();
		}
	}

	&--sticky-overlay-colored-lg {
		@include core.media-min(lg) {
			@include sticky-overlay-colored-header();
		}
	}

	&:not(.l-header--left) {
		.c-row {
			&,
			&__col {
				margin-bottom: 0;
			}
		}
	}

	&__drop-nav {
		display: none;
		visibility: hidden;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		transform: translateY(-100%);
		box-shadow: 0 1px 2px 1px rgba(#000, .05);
		color: var(--drop-nav-text-color);
		@include core.transition(transform, visibility);
		transition-timing-function: ease-in;

		@include core.media-min(lg) {
			display: block;
		}

		&[aria-hidden="false"] {
			top: 0;
			transform: translateY(0);
			visibility: visible;
			@include core.transition(transform);
			transition-timing-function: ease-out;
		}

		.admin-bar & {
			&[aria-hidden="false"] {
				transform: translateY(32px);
			}
		}
	}
}

/**
 * simple header
 */
.l-simple-header {
	&__row {
		@include core.media-min(lg) {
			padding-top: var(--_padding-1);
			padding-bottom: var(--_padding-1);
		}
	}
}

/**
 * 1row header
 */
.l-1row-header {
	&__branding,
	&__content {
		@include core.media-min(lg) {
			padding-top: var(--_padding-2);
			padding-bottom: var(--_padding-2);
		}
	}

	.p-global-nav {
		&--vertical {
			justify-content: flex-end;
		}

		.c-navbar {
			&__item {
				flex: 0 1 auto;
			}
		}
	}
}

/**
* 2rows header
*/
.l-2row-header {
	&__row {
		&:nth-child(1) {
			@include core.media-min(lg) {
				padding-top: var(--_padding-2);
				padding-bottom: var(--_padding-2);
			}
		}
	}

	.p-global-nav {
		.c-navbar {
			&__item {
				> a {
					padding-top: var(--_padding-1);
					padding-bottom: var(--_padding-1);
				}
			}
		}
	}
}

/**
* centered header
*/
.l-center-header {
	&__row:nth-child(1) {
		@include core.media-min(lg) {
			padding-top: var(--_padding-1);
			padding-bottom: var(--_padding-1);
		}

		.l-center-header[data-has-global-nav="true"] & {
			@include core.media-min(lg) {
				margin-top: var(--_margin1);
				margin-bottom: var(--_margin-2);
				padding: 0;
			}
		}
	}

	.c-row__col.u-text-center {
		display: flex;
		flex-direction: column;

		> * {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.c-site-branding--has-logo img {
		margin-right: auto;
		margin-left: auto;
	}

	.p-global-nav {
		&--vertical {
			justify-content: center;
		}

		.c-navbar {
			justify-content: center;

			&__item {
				flex: 0 1 auto;

				> a {
					padding-top: var(--_padding-1);
					padding-bottom: var(--_padding-1);
				}
			}
		}
	}
}

/**
* Left
*/
[data-header-layout="left"] {
	@include core.media-min(lg) {
		$body-margin-left: 280px;
		--body-margin-left: #{ $body-margin-left };

		margin-left: var(--body-margin-left);

		.p-footer-sticky-nav,
		.p-footer-cta {
			left: var(--body-margin-left);
		}
	}
}
.l-header--left {
	@include core.media-min(lg) {
		position: fixed;
		inset: 0;
		width: var(--body-margin-left);
		// overflow: hidden auto; // @todo The submenu is not visible.

		.l-header__content {
			padding-block: var(--_padding1);
			height: 100%;
			overflow: hidden auto;
			scrollbar-width: none;

			&::-webkit-scrollbar{
				display: none;
			}
		}

		.admin-bar & {
			top: 32px;
		}

		.c-container {
			padding-right: 0;
			padding-left: 0;
			max-width: none;
		}

		.c-site-branding {
			padding: 0 var(--_padding1);

			&--has-logo {
				text-align: center;

				picture {
					img {
						margin-right: auto;
						margin-left: auto;
					}
				}
			}
		}

		.p-header-content {
			padding: 0 var(--_padding1);
		}

		.p-global-nav,
		.p-header-sub-nav {
			.c-navbar {
				flex-direction: column;
			}
		}

		.p-global-nav {
			&--hover-underline .c-navbar__item > a::after,
			&--hover-extend-underline .c-navbar__item > a::after,
			&--current-same-hover-effect .c-navbar__item[data-active-menu] > a::after,
			&--current-underline .c-navbar__item[data-active-menu] > a::after {
				top: auto;
			}

			.c-navbar {
				&__item {
					--rect-top: '';
					--rect-right: '';
					--rect-height: '';
					--rect-width: '';
					position: static;
				}

				&__item > a {
					align-items: flex-start;
					padding: var(--_padding-1) var(--_padding1);
				}

				&__item[aria-haspopup="true"]::before {
					@include core.triangle-left(10px, 16px, var(--wp--preset--color--sm-accent));
					bottom: auto;
					right: auto;
					left: calc(var(--rect-right) - 10px);
					top: calc(var(--rect-top) + var(--rect-height) / 2); // = 50%
					transform: translateY(-50%);
				}

				&__item > .c-navbar__submenu {
					top: calc(var(--rect-top) + var(--rect-height) / 2); // = 50%
					left: 100%;
					transform: translateY(-50%);
				}
			}
		}

		.p-header-sub-nav {
			.c-navbar {
				&__item {
					margin-right: 0;
					margin-left: 0;

					> a {
						justify-content: flex-start;
						padding: var(--_padding-2) var(--_padding1);
					}
				}
			}
		}
	}
}

[data-has-global-nav="true"] {
	.l-2row-header__row,
	.l-center-header__row {
		&:last-child {
			margin-top: var(--_margin-2);
		}
	}
}
