.wpco {
  .contents-outline {
    a {
      &::before {
        background-color: var-color-accent();
        color: _var-color-white();
        font-size: 10px;
        line-height: 1;
      }
    }
  }
}
