.wpco {
	.contents-outline {
		a {
			&::before {
				background-color: var(--wp--preset--color--sm-accent);
				color: var(--wp--preset--color--sm-text-alt);
				font-size: 10px;
				line-height: 1;
			}
		}
	}
}
