.#{$_prefix}l-header {
  z-index: 2;
	background-color: #fff;
  border-bottom: 1px solid _lighter($_color-gray);
  @include _padding(.25, 0);

  @include _media-min(lg) {
    border-bottom: none;
  }

  &--center,
  &--1row,
  &--2row,
  &--simple {
    @include _media-min(lg) {
      padding: 0;
    }
  }

  &__drop-nav {
    @include _position(fixed, 0, 0, null, 0, 10);
    transform: translateY(-100%);
    background-color: #fff;
    border-bottom: 1px solid _lighter($_color-gray);
    @include _transition(transform);

    &[aria-hidden="false"] {
      transform: translateY(0);
    }

    .admin-bar & {
      &[aria-hidden="false"] {
        transform: translateY(32px);
      }
    }

    .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
      justify-content: center;

      &__item {
        flex: 0 1 auto;

        > a {
          @include _padding-top(.5);
          @include _padding-bottom(.5);
        }
      }
    }
  }
}

/**
 * simple header
 */
.#{$_prefix}l-simple-header {
  &__row {
    @include _media-min(lg) {
      @include _padding(.5, 0);
    }
  }
}

/**
 * 1row header
 */
.#{$_prefix}l-1row-header {
  &__branding,
  &__content {
    @include _media-min(lg) {
      @include _padding(.5, 0);
    }
  }

  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    &__item {
      flex: 0 1 auto;
    }
  }
}

/**
 * 2rows header
 */
.#{$_prefix}l-2row-header {
  &__row {
    &:nth-child(1) {
      @include _media-min(lg) {
        @include _padding(.5, 0);
      }
    }
  }

  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    &__item {
      > a {
        @include _padding-top(.5);
        @include _padding-bottom(.5);
      }
    }
  }
}

/**
 * centered header
 */
.#{$_prefix}l-center-header {
  &__row {
    &:nth-child(1) {
      @include _media-min(lg) {
        @include _padding(.5, 0);
      }

      .#{$_prefix}l-center-header[data-has-global-nav="true"] & {
        @include _media-min(lg) {
          @include _margin(1, 0, .25);
          padding: 0;
        }
      }
    }
  }
}
