.#{$_prefix}l-header {
  z-index: 99999;
  background-color: #fff;
  @include _padding(.25, 0);
  @include _transition(all);
  overflow: hidden;

  @include _media-min(lg) {
    padding: 0;
  }

  /**
   * Sticky header
   */
  &[data-l-header-type="sticky"] {
    box-shadow: 0 1px 2px 1px rgba(#000, .05);
  }

  /**
   * Overlay header
   */
  &[data-l-header-type="overlay"] {
    [data-scrolled="false"] & {
      background-color: transparent;

      .#{$_prefix}c-site-branding__title > a,
      .#{$_prefix}c-site-branding__description,
      .#{$_prefix}c-hamburger-btn__label,
      [data-has-global-nav] .#{$_prefix}p-global-nav .#{$_prefix}c-navbar__item > a {
        color: #fff;
      }

      .#{$_prefix}c-hamburger-btn__bar {
        background-color: #fff;
      }
    }

    [data-scrolled="true"] & {
      box-shadow: 0 1px 2px 1px rgba(#000, .05);
    }
  }

  .#{$_prefix}c-row {
    &,
    &__col {
      margin-bottom: 0;
    }
  }

  &__drop-nav {
    display: none;
    visibility: hidden;
    @include _position(fixed, 0, 0, null, 0, 10);
    transform: translateY(-100%);
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(#000, .05);
    @include _transition(transform, visibility);
    transition-timing-function: ease-in;

    @include _media-min(lg) {
      display: block;
    }

    &[aria-hidden="false"] {
      top: 0;
      transform: translateY(0);
      visibility: visible;
      @include _transition(transform);
      transition-timing-function: ease-out;
    }

    .admin-bar & {
      &[aria-hidden="false"] {
        transform: translateY(32px);
      }
    }

    .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
      justify-content: center;

      &__item {
        flex: 0 1 auto;

        > a {
          @include _padding-top(.5);
          @include _padding-bottom(.5);
        }
      }
    }
  }
}

/**
 * simple header
 */
.#{$_prefix}l-simple-header {
  &__row {
    @include _media-min(lg) {
      @include _padding(.5, 0);
    }
  }
}

/**
 * 1row header
 */
.#{$_prefix}l-1row-header {
  &__branding,
  &__content {
    @include _media-min(lg) {
      @include _padding(.25, 0);
    }
  }

  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    &__item {
      flex: 0 1 auto;
    }
  }
}

/**
 * 2rows header
 */
.#{$_prefix}l-2row-header {
  &__row {
    &:nth-child(1) {
      @include _media-min(lg) {
        @include _padding(.25, 0);
      }
    }
  }

  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    &__item {
      > a {
        @include _padding-top(.5);
        @include _padding-bottom(.5);
      }
    }
  }
}

/**
 * centered header
 */
.#{$_prefix}l-center-header {
  &__row:nth-child(1) {
    @include _media-min(lg) {
      @include _padding(.5, 0);
    }

    .#{$_prefix}l-center-header[data-has-global-nav="true"] & {
      @include _media-min(lg) {
        @include _margin(1, 0, .25);
        padding: 0;
      }
    }
  }

  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    justify-content: center;

    &__item {
      flex: 0 1 auto;

      > a {
        @include _padding-top(1);
        @include _padding-bottom(1);
      }
    }
  }
}
