.#{$_prefix}l-header {
  z-index: 2;
	background-color: #fff;
  border-bottom: 1px solid _lighter($_color-gray);
  @include _padding(.25, 0);

  @include _media-min(lg) {
    border-bottom: none;
  }

  &--center,
  &--1row,
  &--2row {
    @include _media-min(lg) {
      padding: 0;
    }
  }

  &__drop-nav {
    @include _position(fixed, 0, 0, null, 0, 10);
    transform: translateY(-100%);
    background-color: #fff;
    border-bottom: 1px solid _lighter($_color-gray);
    @include _transition(transform);

    &[aria-hidden="false"] {
      transform: translateY(0);
    }

    .admin-bar & {
      &[aria-hidden="false"] {
        transform: translateY(32px);
      }
    }

    .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
      justify-content: center;

      &__item {
        flex: 0 1 auto;

        > a {
          @include _padding-top(.5);
          @include _padding-bottom(.5);
        }
      }
    }
  }
}

/**
 * simple header
 */
.#{$_prefix}l-simple-header {
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__branding {
    flex: 0 0 auto;
    @include _margin-right(1);
  }

  &__nav {
    flex: 0 0 auto;
    margin-left: auto;
  }
}

/**
 * 1row header
 */
.#{$_prefix}l-1row-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &__branding {
    flex: 0 0 auto;
    @include _margin-right(1);

    @include _media-min(lg) {
      @include _padding(.25, 0);

      .#{$_prefix}l-center-header[data-has-global-nav="true"] & {
        @include _padding(10px, 0);
      }
    }
  }

  &__for-wide {
    flex: 0 1 auto;
    margin-left: auto;
    @include _hidden();

    @include _media-min(lg) {
      @include _visible();
    }
  }

  &__for-narrow {
    flex: 0 0 auto;
    margin-left: auto;

    @include _media-min(lg) {
      @include _hidden();
    }
  }
}

/**
 * 2rows header
 */
.#{$_prefix}l-2row-header {
  &__row {
    @include _container();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include _media-min(lg) {
      flex-wrap: wrap;
    }
  }

  &__branding {
    flex: 0 0 auto;
    @include _margin-right(1);

    @include _media-min(lg) {
      @include _padding(.25, 0);

      .#{$_prefix}l-center-header[data-has-global-nav="true"] & {
        @include _padding(.5, 0, .25);
      }
    }
  }

  &__for-wide {
    flex: none;
    @include _hidden();

    @include _media-min(lg) {
      @include _visible();

      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      width: 100vw;

      > .#{$_prefix}p-global-nav {
        @include _container();
      }
    }
  }

  &__for-narrow {
    flex: 0 0 auto;
    margin-left: auto;

    @include _media-min(lg) {
      @include _hidden();
    }
  }
}

/**
 * centered header
 */
.#{$_prefix}l-center-header {
  &__row {
    @include _container();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include _media-min(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__branding {
    flex: 1 1 auto;
    text-align: center;

    @include _media-min(lg) {
      @include _padding(.5, 0);

      .#{$_prefix}l-center-header[data-has-global-nav="true"] & {
        @include _margin(1, 0, .25);
        padding: 0;
      }
    }
  }

  &__for-wide {
    flex: 0 1 auto;
    @include _hidden();

    @include _media-min(lg) {
      @include _visible();
    }
  }

  &__for-narrow {
    flex: 0 0 50px;
    max-width: 100%;
    text-align: right;

    @include _media-min(lg) {
      @include _hidden();
    }
  }
}
