.#{ $_prefix }l-overlay-widget-area {
	@include _set-content-level(1);

	position: relative;
	margin: auto;
	background-color: var(--wp--preset--color--sm-text-alt);
	padding: var(--_padding1);
	width: min(90vw, #{ _px2rem(map-get($_sizes, lg)) });

	&[data-is-slim-widget-area="true"] {
		max-width: _px2rem(map-get($_sizes, md));
	}
}
