.tag-cloud-link {
  display: inline-block;
  background-color: _lightest($_color-gray); // For IE11
  background-color: _var-lightest-color-gray();
  border: 1px solid transparent;
  border-color: _lighter($_color-gray); // For IE11
  border-color: _var-lighter-color-gray();
  border-radius: $_border-radius; // for IE11
  border-radius: _var-border-radius();
  color: $_color-text; // For IE11
  color: _var-color-text();
  font-size: ($_base-font-size-px - 4) !important;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  padding: 4px 8px;
  vertical-align: top;

  @include _hover(lg) {
    background-color: _lighter($_color-gray); // For IE11
    background-color: _var-lighter-color-gray();
    text-decoration: none;
  }

  &::before {
    margin-right: 3px;
    content: '#';
    color: var-color-accent();
    font-weight: bold;
  }
}

.widget_tag_cloud {
  .tag-cloud-link {
    margin: 0 4px 8px 0;
  }
}
