.tag-cloud-link {
	--_border-radius: var(--_global--border-radius);

	display: inline-block;
	background-color: var(--wp--preset--color--sm-lightest-gray);
	border: 1px solid transparent;
	border-color: var(--wp--preset--color--sm-lighter-gray);
	border-radius: var(--_border-radius);
	font-size: var(--wp--preset--font-size--sm-xs) !important;
	line-height: 1;
	white-space: nowrap;
	padding: calc(var(--_padding-2) * .5) var(--_padding-2);
	vertical-align: top;

	@include _hover() {
		background-color: var(--wp--preset--color--sm-lighter-gray);
	}

	&::before {
		margin-right: 3px;
		content: '#';
		color: var(--wp--preset--color--sm-accent);
		font-weight: bold;
	}
}

a.tag-cloud-link {
	color: var(--wp--preset--color--sm-text);
	text-decoration: none;
}

.widget_tag_cloud {
	display: flex;
	flex-wrap: wrap;
	gap: var(--_margin-2);
}
