@use '../../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../../core/mixin/widget' as *;

.children-expander {
	position: absolute;
	top: -1px;
	right: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@include core.square(var(--_space));
	transform: rotate(90deg);
	@include core.transition(transform);

	&[data-is-expanded="true"] {
		transform: rotate(-90deg);
		right: .05rem;
	}

	> .c-ic-angle-right {
		transform: none;
	}
}

.cat-item .children {
	@include widget-children-theme();
}

.children .cat-item .children:last-child:not(:first-child) {
	margin-bottom: calc(-1 * var(--_padding-2));
}
