.#{ $_prefix }c-page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  @include _padding(2, 0);

  &[data-has-image="true"] {
    min-height: 300px;
    height: 1px; // For IE11
    @include _padding(1, 0);

    @include _media-min(md) {
      min-height: 400px;
    }

    @include _media-min(lg) {
      min-height: 500px;
    }

    .#{ $_prefix }c-page-header__content {
      color: $_color-white; // For IE11
      color: _var-color-white();
    }
  }

  &[data-align="center"] {
    justify-content: center;

    .#{ $_prefix }c-page-header__content {
     align-items: center;
    }
  }

  &[data-align="right"] {
   justify-content: flex-end;

    .#{ $_prefix }c-page-header__content {
     align-items: flex-end;
    }
  }

  .#{ $_prefix }c-container {
    flex: 1 1 auto;

    @media all and (-ms-high-contrast: none) {
      margin-right: 0; // For IE11
      margin-left: 0; // For IE11
      width: 100%; // For IE11
    }
  }

  &__bgimage {
    @include cover-img();
    @include _position(absolute, 0, 0, 0, 0);
  }

  &__bgimage-caption {
    @include _position(absolute, null, 0, 0, 0, 1);
    color: $_color-white; // For IE11
    color: _var-color-white();
    @include _padding(.25, 0);
  }

  &__content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    a {
      color: inherit;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__meta {
    @include _margin-top(.25);
    @include _font-size-line-height(12px);
    font-weight: bold;
  }
}
