.wpaw-posts-list {
  @include widget-list-base();

  &__item {
    &:not(:first-child) {
      @include _margin(.5, 0, 0);
    }

    > a {
      color: inherit;
      @include _transition(opacity);

      @include _hover(lg) {
        opacity: .8;
      }
    }
  }

  &__title {
    @include _margin(0, 0, .25);
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  &__taxonomy {
    margin: 0 0 3px;
    line-height: 1;
  }

  &__date {
    @include _font-size-line-height(11px);
  }
}
