.wpaw-posts-list {
	@extend %widget-list-base;
	margin-left: auto;

	&__item {
		&:not(:first-child) {
			margin-top: var(--_margin-1);
		}

		> a {
			color: inherit;
			@include _transition(opacity);

			@include _hover() {
				opacity: .8;
			}
		}
	}

	&__title {
		margin-bottom: var(--_margin-2);
		@include _set-font-size-level(-1);
	}

	&__taxonomy {
		margin: 0 0 3px;
		line-height: 1;
	}

	&__date {
		@include _set-font-size-level(-2);
	}
}
