.#{$_prefix}l-contents {
  &__inner {
    @include _margin-bottom(1.5);

    [data-has-sidebar="true"] & {
      @include _media-min(lg) {
        @include _margin-top(1.5);
      }
    }

    [data-has-sidebar="false"][data-is-full-template="true"] & {
      margin-bottom: 0;
    }

    [data-has-sidebar="false"][data-is-full-template="false"] & {
      &:last-child {
        [data-is-content-widget-area="true"]:last-child {
          @include _margin-bottom(-1.5);
        }
      }
    }

    [data-has-sidebar="true"] & {
      &:last-child {
        [data-is-content-widget-area="true"]:last-child {
          @include _media-max(md) {
            @include _margin-bottom(-1.5);
          }
        }
      }
    }
  }

  &__sidebar {
    @include items-gutter();
  }

  [data-has-sidebar="true"] & {
    &__inner {
      @include _media-min(lg) {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    &__main {
      flex: 1 1 0%;

      @include _media-min(lg) {
        flex: none;
        width: calc(100% - 336px - #{_space(2)});
      }
    }

    &__sidebar {
      flex: 1 1 0%;
      @include _margin(1.5, 0, 0);

      @include _media-min(lg) {
        margin: 0;
        flex: none;
        width: 336px;
      }
    }
  }

  /**
   * Right sidebar
   */
  .#{$_prefix}l-body--right-sidebar & {
    &__inner {
      @include _media-min(lg) {
        flex-direction: row;
      }
    }

    &__main {
      @include _media-min(lg) {
        @include _margin(0, 2, 0, 0);
      }
    }
  }

  /**
   * Left sidebar
   */
  .#{$_prefix}l-body--left-sidebar & {
    &__inner {
      @include _media-min(lg) {
        flex-direction: row-reverse;
      }
    }

    &__main {
      @include _media-min(lg) {
        @include _margin(0, 0, 0, 2);
      }
    }
  }
}
