.#{$_prefix}l-contents {
  &__inner {
    @include _margin-top(1);

    @include _media-min(lg) {
      @include _margin-top(2);
    }

    .#{$_prefix}l-body--right-sidebar &,
    .#{$_prefix}l-body--left-sidebar &,
    .#{$_prefix}l-body--one-column &,
    .#{$_prefix}l-body--one-column-slim & {
      @include _margin-bottom(1);

      @include _media-min(lg) {
        @include _margin-bottom(2);
      }
    }

    .home.#{$_prefix}l-body--one-column &,
    .#{$_prefix}l-body--one-column-fluid &,
    .#{$_prefix}l-body--one-column-full & {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__sidebar {
    @include _content();
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  /**
   * Right sidebar
   */
  .#{$_prefix}l-body--right-sidebar & {
    &__inner {
      @include _media-min(lg) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    &__main {
      flex: 1 1 0%;

      @include _media-min(lg) {
        @include _margin(0, 2, 0, 0);
        flex: none;
        width: calc(100% - 336px - #{_space(2)});
      }
    }

    &__sidebar {
      @include _margin(1, 0, 0);
      flex: 1 1 0%;

      @include _media-min(lg) {
        margin: 0;
        flex: none;
        width: 336px;
      }
    }
  }

  /**
   * Left sidebar
   */
  .#{$_prefix}l-body--left-sidebar & {
    &__inner {
      @include _media-min(lg) {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
      }
    }

    &__main {
      flex: 1 1 0%;

      @include _media-min(lg) {
        @include _margin(0, 0, 0, 2);
        flex: none;
        width: calc(100% - 336px - #{_space(2)});
      }
    }

    &__sidebar {
      @include _margin(1, 0, 0);
      flex: 1 1 0%;

      @include _media-min(lg) {
        margin: 0;
        flex: none;
        width: 336px;
      }
    }
  }
}
