@mixin btn() {
  @include _btn();
  background-color: $color-accent;
  border: none;
  border-radius: $_border-radius; // for IE11
  border-radius: _var-border-radius();
  color: #fff;
  @include _padding(.5, 1.25);
  max-width: 100%;
  @include _transition(all);

  @include _hover(lg) {
    filter: brightness(90%);
  }
}
