@mixin section() {
  @include _section();
  @include _padding(1.5, 0);

  @include _media-min(lg) {
    @include _padding(3, 0);
  }
}

@mixin section-subtitle() {
  @include _margin-bottom(.25);
  color: $color-accent;
  font-weight: bold;
}

@mixin section-title() {
  @include _font-size-line-height($_base-font-size * 1.5);
  text-align: center;

  @include _media-min(lg) {
    @include _font-size-line-height($_base-font-size * 2);
  }
}

@mixin section-lede() {
  @include _margin-top(.5);

  @include _media-min(lg) {
    @include _margin-top(1);
  }
}

@mixin section-body() {
  @include _margin-top(1);

  @include _media-min(lg) {
    @include _margin-top(1.5);
  }
}
