.#{$_prefix}c-prev-next-nav {
  @include _margin(1, 0, 0);
  position: relative;

  @include _media-min(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &::before {
    @include _media-min(md) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 1.5px);
      content: '';
      display: block;
      width: $border-bottom-width;
      background-color: $_color-black;
    }
  }

  &__item {
    position: relative;
    display: flex;
    overflow: hidden;

    @include _media-min(md) {
      flex: 1 1 0%;
      max-width: calc(50% - #{_space(.5)});
    }

    &:not(:first-child) {
      @include _margin-top(.5);

      @include _media-min(md) {
        margin-top: 0;
      }
    }

    &--prev {
      @include _media-min(md) {
        @include _margin(0, 0, 0, .5);
      }
    }

    &--next {
      @include _media-min(md) {
        @include _margin(0, .5, 0, 0);
      }
    }

    > a {
      position: relative;
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      @include _padding(.5);

      background-color: #000;

      @include _media-min(md) {
        @include _padding(1);
      }

      &::before {
        @include _position(absolute, 8px, 8px, 8px, 8px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(rgba($color-accent, .5) 33%, transparent 33%);
        background-size: 2px 2px;
        content: '';
        color: #fff;
        font-weight: bold;
        opacity: 0;
        visibility: hidden;
        @include _transition(opacity);
      }
    }

    @include _hover(lg) {
      > a {
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }

      .#{$_prefix}c-prev-next-nav__item-figure {
        > img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__item-figure {
    @include cover-img();
    @include _position(absolute, 0, 0, 0, 0);
    background-color: _lighter($_color-gray);
    backface-visibility: hidden;
    opacity: .6;

    > img {
      @include _transition(transform);
    }
  }

  &__item-label {
    position: relative;
    @include _font-size-line-height($_base-font-size-px - 4);
  }

  &__item-title {
    position: relative;
    @include _font-size-line-height($_base-font-size-px);

    @include _media-min(lg) {
      @include _font-size-line-height($_base-font-size * 1.2);
    }
  }
}
