.wp-block-image {
  margin-bottom: 0;

  figcaption {
    @include figcaption();
  }

  &.noshadow {
    img {
      box-shadow: none;
    }
  }
}

figure.wp-block-image,
.wp-block-image > figure {
  padding-top: $_half-leading * 1rem;
  padding-bottom: $_half-leading * 1rem;
}

img.alignleft,
img.alignright {
  margin-top: $_half-leading * 1rem;
}
