.#{ $_prefix }p-global-nav {
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  .#{ $_prefix }c-navbar {
    &__item {
      > a {
        flex-direction: column;
        color: inherit;
        @include _font-size-line-height($_base-font-size-px - 2);
        font-weight: bold;
        @include _padding(.75);
        @include _transition(background-color, color);

        > span {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        > small {
          display: block;
          @include _font-size-line-height($_base-font-size-px - 6);
          font-weight: normal;
        }
      }

      &[data-active-menu] {
        > a {
          color: var-color-accent();
        }
      }

      @include _hover(lg) {
        > a {
          color: var-color-accent();
        }
      }

      &.sm-nav-menu-item-highlight {
        background-color: var-color-accent();
        color: $_color-white; // For IE11
        color: _var-color-white();

        > a {
          color: inherit !important;
        }

        @include _hover(lg) {
          > a {
            background-color: rgba(#fff, .05);
          }
        }
      }

      > .#{ $_prefix }c-navbar__submenu {
        left: 50%;
        transform: translateX(-50%);

        &::before {
          content: '';
          display: block;
          @include _triangle-top(16px, 10px, var-color-accent());
          position: absolute;
          top: -10px;
          left: calc(50% - 8px);
        }
      }
    }

    &__submenu {
      background-color: var-color-accent();
      z-index: 1;
    }

    &__subitem {
      @include _font-size-line-height($_base-font-size-px - 2);

      &.sm-nav-menu-item-highlight {
        background-color: var-color-sub-accent();
      }

      > a {
        position: relative;
        color: $_color-white; // For IE11
        color: _var-color-white();
        @include _padding(.5rem, 1rem);
        @include _transition(background-color, color);
      }

      @include _hover(lg) {
        > a {
          background-color: rgba(#fff, .05);
        }
      }

      .#{ $_prefix }c-navbar__subitem:first-child > a:before {
        content: '';
        @include _position(absolute, -20px, -20px, -20px, -20px);
      }
    }

    &[data-popup-mode=click] {
      .#{ $_prefix }c-navbar__toggle {
        @include _transition(transform);
      }

      .#{ $_prefix }c-navbar__item {
        .#{ $_prefix }c-navbar__toggle {
          transform: rotate(90deg);

          &[aria-expanded="true"] {
            transform: rotate(-90deg);
          }
        }
      }

      .#{ $_prefix }c-navbar__subitem {
        .#{ $_prefix }c-navbar__toggle {
          color: $_color-white; // For IE11
          color: _var-color-white();
          transform: rotate(0);

          &[aria-expanded="true"] {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &--vertical {
    display: flex;

    .#{ $_prefix }c-navbar {
      display: inline-flex;

      &__item {
        display: block;

        > a {
          display: block;
          writing-mode: vertical-rl;
          text-align: left;

          > span {
            display: block;
          }
        }
      }
    }
  }
}
