.#{$_prefix}c-fluid-container,
.#{$_prefix}c-container {
  padding-right: $_container-margin / 2;
  padding-right: calc(#{$_container-margin / 2} + constant(safe-area-inset-right));
  padding-right: calc(#{$_container-margin / 2} + env(safe-area-inset-right));

  padding-left: $_container-margin / 2;
  padding-left: calc(#{$_container-margin / 2} + constant(safe-area-inset-left));
  padding-left: calc(#{$_container-margin / 2} + env(safe-area-inset-left));

  @include _media-min(md) {
    padding-right: $_container-margin;
    padding-right: calc(#{$_container-margin} + constant(safe-area-inset-right));
    padding-right: calc(#{$_container-margin} + env(safe-area-inset-right));

    padding-left: $_container-margin;
    padding-left: calc(#{$_container-margin} + constant(safe-area-inset-left));
    padding-left: calc(#{$_container-margin} + env(safe-area-inset-left));
  }
}

.#{$_prefix}c-container {
  &.#{$_prefix}u-slim-width {
    @include _media-min(_rem2px($one-column-slim-max-width) + 1px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .#{$_prefix}c-page-header > & {
    margin-right: 0; // For IE11
    margin-left: 0; // For IE11
  }

  .#{$_prefix}p-infobar__inner > & {
    margin-right: 0; // For IE11
    margin-left: 0; // For IE11
  }

  .wpaw-pr-box--chameleon & {
    @include _media-min(lg) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
