.#{ $_prefix }c-entry {
  &__header {
    @include _margin-bottom(1);
  }

  &__meta {
    @include _margin-top(.25);
    @include _font-size-line-height(12px);

    a {
      color: inherit;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__body {
    @include items-gutter();
  }

  &__content {
    @include _clearfix();
  }

  &__footer {
    @include items-gutter();
    @include _margin-top(1.5);
  }
}

[data-has-sidebar="false"]:not([data-header-layout="left"]) .c-entry__content {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

  > * {
    @include content-alignment();
  }
}
