.#{ $_prefix }c-pagination {
  text-align: center;
  font-size: 0;

  &__item,
  &__item-link,
  &__item-ellipsis {
    margin: 0 2px;
    display: inline-flex;
    font-size: 14px;
    line-height: 1;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    vertical-align: top;
  }

  &__item {
    background-color: var-color-accent();
    color: $_color-white; // For IE11
    color: _var-color-white();
  }

  &__item-link,
  &__item-ellipsis {
    background-color: _lighter($_color-gray); // For IE11
    background-color: _var-lighter-color-gray();
    color: _light($_color-text); // For IE11
    color: _var-light-color-text();
  }

  &__item-link {
    @include _hover(lg) {
      background-color: _light($_color-gray); // For IE11
      background-color: _var-light-color-gray();
      color: $_color-white; // For IE11
      color: _var-color-white();
    }
  }
}

.#{ $_prefix }p-archive .#{ $_prefix }c-pagination,
.#{ $_prefix }p-archive + .#{ $_prefix }c-pagination {
  @include _margin-top(1);

  @include _media-min(lg) {
    @include _margin-top(1.5);
  }
}
