.#{ $_prefix }c-pagination {
	&__item {
		background-color: var(--wp--preset--color--sm-accent);
		color: var(--wp--preset--color--white);
	}

	&__item-link,
	&__item-ellipsis {
		background-color: var(--wp--preset--color--sm-lighter-gray);
	}

	&__item-link {
		@include _hover() {
			background-color: var(--wp--preset--color--sm-light-gray);
			color: var(--wp--preset--color--white);
		}
	}
}
