.#{ $_prefix }c-pagination {
  &__item {
    background-color: var-color-accent();
    color: $_color-white; // For IE11
    color: _var-color-white();
  }

  &__item-link,
  &__item-ellipsis {
    background-color: _lighter($_color-gray); // For IE11
    background-color: _var-lighter-color-gray();
    color: _light($_color-text); // For IE11
    color: _var-light-color-text();
  }

  &__item-link {
    @include _hover(lg) {
      background-color: _light($_color-gray); // For IE11
      background-color: _var-light-color-gray();
      color: $_color-white; // For IE11
      color: _var-color-white();
    }
  }
}
