.#{ $_prefix }c-page-top {
  position: relative;
  @include _square(40px);
  @include _transition(opacity, filter);
  visibility: hidden;
  opacity: 0;

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
  }

  @include _media-min(md) {
    @include _square(50px);
  }

  a {
    @include _position(absolute, 0, 0, 0, 0);
    color: _var-color-text();
    text-decoration: none;
    font-size: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

#page-top {
  position: fixed;
  right: 0;
  bottom: 44px;
  // @see https://qiita.com/usagimaru/items/761e9a5f3d78b1939df8
  bottom: calc(constant(safe-area-inset-bottom) + 49px);
  bottom: calc(env(safe-area-inset-bottom) + 49px);
  z-index: 99998;
}
