.#{ $_prefix }c-widget {
	word-break: break-word;

	&__title,
	> .widget-title,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		@extend %widget-title;
	}

	.wp-widget-group__inner-blocks,
	.wp-block-group,
	.wp-block-group__inner-container {
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {
			@extend %widget-title;
			border: none;
			background-color: transparent;
			padding: 0;
		}
	}
}

[data-is-slim-widget-area="true"] .#{ $_prefix }c-widget {
	@include _set-font-size-level(-1);

	&__title,
	> .widget-title,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		@include _set-font-size-level(0);
	}

	.wp-widget-group__inner-blocks,
	.wp-block-group,
	.wp-block-group__inner-container {
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {
			@include _set-font-size-level(0);
		}
	}
}

.widgettitle {
	@extend %widget-title;
}

@import '_children-expander/app';
@import '_snow-monkey-posts/app';
@import '_widget-archive/app';
@import '_widget-calendar/app';
@import '_widget-categories/app';
@import '_widget-meta/app';
@import '_widget-nav-menu/app';
@import '_widget-pages/app';
@import '_widget-recent-comments/app';
@import '_widget-recent-entries/app';
@import '_widget-tag-cloud/app';
@import '_widget-text/app';
