@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../core/mixin/widget' as *;

@use '_children-expander/app' as *;
@use '_snow-monkey-posts/app' as *;
@use '_widget-archive/app' as *;
@use '_widget-calendar/app' as *;
@use '_widget-categories/app' as *;
@use '_widget-meta/app' as *;
@use '_widget-nav-menu/app' as *;
@use '_widget-pages/app' as *;
@use '_widget-recent-comments/app' as *;
@use '_widget-recent-entries/app' as *;
@use '_widget-tag-cloud/app' as *;
@use '_widget-text/app' as *;

.c-widget {
	word-break: break-word;

	&__title,
	> .widget-title,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		@include widget-title();
	}

	.wp-widget-group__inner-blocks,
	.wp-block-group,
	.wp-block-group__inner-container {
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {
			@include widget-title();
			border: none;
			background-color: transparent;
			padding: 0;
		}
	}
}

[data-is-slim-widget-area="true"] .c-widget {
	@include core.set-font-size-level(-1);

	&__title,
	> .widget-title,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		@include core.set-font-size-level(0);
	}

	.wp-widget-group__inner-blocks,
	.wp-block-group,
	.wp-block-group__inner-container {
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {
			@include core.set-font-size-level(0);
		}
	}
}

.widgettitle {
	@include widget-title();
}
