.l-body {
	overflow-x: clip;
}

// Blank / One column full
[data-is-full-template="true"] {
	--wp--custom--content-width: none;
	--wp--custom--content-wide-width: none;
}

// One column slim / Blank slim
[data-has-sidebar="false"][data-is-slim-width="true"] {
	.l-contents__inner {
		--wp--custom--content-width: var(--wp--custom--slim-width);
	}
}
