.#{ $_prefix }l-body {
	visibility: visible;
	overflow-x: hidden;
}

// Blank / One column full
[data-is-full-template="true"] {
	--wp--style--global--content-size: none;
	--wp--style--global--wide-size: none;
}

// One column slim / Blank slim
[data-has-sidebar="false"][data-is-slim-width="true"] {
	.#{ $_prefix }l-contents__inner {
		--wp--style--global--content-size: var(--wp--custom--slim-width);
	}
}
