.smb-btn {
  background-color: var-color-accent();
}

.smb-btn-wrapper.is-style-ghost .smb-btn {
  border-color: var-color-accent();
  color: var-color-accent();
}

.smb-btn-wrapper.is-style-text .smb-btn {
  color: var-color-accent();
}

.aligncenter.smb-btn-wrapper {
  display: table;
}
