.smb-btn {
	--smb-btn--background-color: var(--wp--preset--color--sm-accent);
	--smb-btn--style--ghost--border-color: var(--wp--preset--color--sm-accent);
	--smb-btn--style--ghost--color: var(--wp--preset--color--sm-accent);
	--smb-btn--style--text--color: var(--wp--preset--color--sm-accent);
}

.aligncenter.smb-btn-wrapper {
	display: table;
}
