.#{ $_prefix }p-infobar {
	&--center {
		.#{ $_prefix }c-container {
			display: flex;
			justify-content: center;
		}
	}

	&--right {
		.#{ $_prefix }c-container {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__inner {
		display: flex;
		flex-direction: row;
		background-color: var(--wp--preset--color--sm-accent);
		font-weight: bold;
		text-decoration: none;
		padding: 5px;
	}

	&__content {
		flex: 0 1 auto;
		color: var(--wp--preset--color--sm-text-alt);

		a {
			color: inherit;
		}
	}
}

a.#{ $_prefix }p-infobar {
	@include _transition(filter);
	@include _hover() {
		filter: brightness(90%);
	}
}
