@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.p-infobar {
	&--center {
		.c-container {
			display: flex;
			justify-content: center;
		}
	}

	&--right {
		.c-container {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__inner {
		display: flex;
		flex-direction: row;
		background-color: var(--wp--preset--color--sm-accent);
		font-weight: bold;
		text-decoration: none;
		padding: 5px;
	}

	&__content {
		flex: 0 1 auto;
		color: var(--wp--preset--color--white);

		a {
			color: inherit;
		}
	}
}

a.p-infobar {
	@include core.transition(filter);
	@include core.hover() {
		filter: brightness(90%);
	}
}
