@charset 'utf-8';

@import 'core/core';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

@import 'object/component/_wpac/wpac';

.wp-oembed-blog-card__favicon {
  display: none;
}

.amp-wp-article-content {
  @include _content();
}
