@charset 'utf-8';

@import 'style';

#tinymce {
  margin: 10px;
  padding: 0;
}

.mce-preview-object.mce-object-iframe iframe[src*="rcm-fe.amazon-adsystem.com"] {
  height: 100%;
}

body {
  padding: 50px 0;
}

textarea.editor-post-title__input {
  @include _font-size-line-height($_base-font-size * $_h2-font-size-scale);
  font-weight: bold;
  font-family: $_font-family;
  @include _padding(.25, .5);
}

// @todo 本来不要かも
.block-editor-block-list__block[data-align="full"] .block-editor-warning {
  @include _media-min(600px) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

[data-type="core/heading"],
.wp-block-freeform {
  @extend %entry-content;
}

.block-editor-block-list__layout > [data-type="core/heading"]:not(:first-child) {
  h2 {
    @include _margin-top($_h2-margin-top);
  }

  h3 {
    @include _margin-top($_h3-margin-top);
  }

  h4 {
    @include _margin-top($_h4-margin-top);
  }
}

:root {
  --wp-block-width: var(--_container-max-width, 1280px);
}

// @see app/setup/editor.php
// @see --wp-block-width
.wp-block {
  max-width: 1280px; // for IE11
  max-width: var(--wp-block-width);
}

.wp-block[data-align="wide"] {
  max-width: calc(1280px + 220px); // for IE11
  max-width: calc(var(--wp-block-width) + 220px);
}

.wp-block[data-align="center"] {
  clear: both;
  text-align: initial;

  > .is-block-content {
    margin-right: auto;
    margin-left: auto;
    display: table;
  }
}

.wp-block[data-align="full"] {
  max-width: none;
}

// normal width > alignfull
.block-editor-inner-blocks {
  > .block-editor-block-list__layout {
    > .wp-block[data-align="full"] {
      margin-left: auto;
      margin-right: auto;
    }

    .block-editor-block-list__block[data-align=full]::before {
      left: -14px;
      right: -14px;
      border-left-width: 1px;
      border-right-width: 1px;
    }
  }
}

// Parent block
.block-editor-block-list__layout .has-child-selected::before {
  border: 1px solid rgba(66, 88, 99, .2);
  pointer-events: auto;
}

.block-editor-block-switcher {
  overflow: hidden;
}

.wp-block-image {
  > div {
    > div {
      max-width: none !important;
      max-height: none !important;
    }
  }
}

.wp-block-code {
  font-size: 0;

  textarea {
    background-color: _lightest($_color-gray);
    @include _font-size-line-height($_base-font-size-px);
  }
}

.wp-block-html {
  pre {
    border-radius: 0;
    padding: 0 1rem;
  }
}

.wp-block[data-type="core/group"] > .wp-block-group.has-background > .wp-block-group__inner-container > .block-editor-inner-blocks {
  margin-top: -28px;
  margin-bottom: -28px;
  padding: 0;
}

// for block styles of core/list block
.block-editor-block-preview__content [data-type="core/list"] ul {
  padding-left: 1.3em;
}

.u-hidden,
.u-hidden-sm,
.u-hidden-md,
.u-hidden-md-up,
.u-hidden-lg,
.u-hidden-lg-up,
.u-hidden-xl,
.u-hidden-xl-up {
  @include _visible();
  outline: 1px dashed rgba(#127db8, .8);

  &::after {
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    color: #fff;
    background-color: #127db8;
    font-size: 12px;
    line-height: 1;
    padding: 4px 4px;
    opacity: .8;
  }
}

.u-hidden::after { content: '.u-hidden'; }
.u-hidden-sm::after { content: '.u-hidden-sm'; }
.u-hidden-md::after { content: '.u-hidden-md'; }
.u-hidden-md-up::after { content: '.u-hidden-md-up'; }
.u-hidden-lg::after { content: '.u-hidden-lg'; }
.u-hidden-lg-up::after { content: '.u-hidden-lg-up'; }
.u-hidden-xl::after { content: '.u-hidden-xl'; }
.u-hidden-xl-up::after { content: '.u-hidden-xl-up'; }
