@charset 'utf-8';

@import 'core/core';

@import 'style';

body {
  padding: 50px 0;
}

.editor-post-title__input {
  @include _font-size-line-height($_base-font-size-px * 1.25);
  font-weight: bold;
  font-family: sans-serif;
  @include _padding(.25, .5);
}

// @todo 本来不要かも
.editor-block-list__block[data-align="full"] .editor-warning {
  @include _media-min(600px) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

[data-type="core/paragraph"] .components-autocomplete,
[data-type="core/heading"] .components-autocomplete,
.wp-block-freeform {
  @include entry-content();
}

$content-width: 1000px;
$border-width: 1px;

.wp-block {
  max-width: $content-width;
}

.wp-block[data-align="wide"] {
  max-width: $content-width + 220px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.editor-block-list__block {
  @include _media-min(600px) {
    &[data-align="wide"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar,
    &[data-align="full"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
      .editor-block-toolbar {
        max-width: $content-width;
      }
    }

    &[data-align="full"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
      .editor-block-toolbar {
        max-width: $content-width - $border-width - $border-width;
      }
    }
  }
}

.editor-block-switcher {
  overflow: hidden;
}

.wp-block-image {
  > div {
    > div {
      max-width: none !important;
      max-height: none !important;
    }
  }
}

.wp-block-code {
  font-size: 0;

  textarea {
    background-color: _lightest($_color-gray);
    @include _font-size-line-height($_base-font-size-px);
  }
}

.wp-block-html {
  pre {
    border-radius: 0;
    padding: 0 1rem;
  }
}
