@charset 'utf-8';

/**
 * Core
 */
@import 'core/core';

/**
 * Foundation
 */
@import '../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/basis';
@import 'foundation/foundation';

/**
 * Layout
 */
@import 'layout/layout';

/**
 * Object - Component
 */
@import 'object/component/component';

/**
 * Object - Project
 */
@import 'object/project/project';

/**
 * Object - utility
 */
@import 'object/utility/utility';

#page-start {
  margin-bottom: -1px;
  height: 1px;
  width: 1px;
  visibility: hidden;
}

#page-end {
  margin-top: -1px;
  height: 1px;
  width: 1px;
  visibility: hidden;
}

#wp-admin-bar-sm-remove-caches {
  svg {
    fill: rgba(240, 245, 250, .6);
    height: 20px;
    width: 20px;
    transform: translateY(6px);
  }

  #wpadminbar:not(.mobile) &:hover > .ab-item svg,
  #wpadminbar:not(.mobile) &:focus > .ab-item svg {
    fill: #00b9eb;
  }
}
