@charset 'utf-8';

@import 'core/core';

.woocommerce-input-wrapper,
.quantity,
.woocommerce-EditAccountForm,
.woocommerce-form,
.woocommerce-ResetPassword {
  .input-text {
    @include _form-control();
  }
}

.woocommerce-EditAccountForm {
  @include _content();

  fieldset {
    border: none;
  }
}

.woocommerce-MyAccount-content,
.woocommerce-MyAccount-content > section[class^="woocommerce-"],
.woocommerce-checkout,
.woocommerce-order,
.woocommerce-order > section[class^="woocommerce-"] {
  @include _content();

  > h2,
  > header > h2 {
    @include _margin-bottom(.5);
  }

  > header + .shop_table {
    @include _margin-top(.5);
  }
}

.woocommerce-MyAccount-navigation {
  @include _margin-bottom(1);

  ul {
    @include _list-unstyled();
    border-top: 1px solid _lighter($_color-gray);
  }

  li {
    border-bottom: 1px solid _lighter($_color-gray);
  }

  a {
    display: block;
    text-decoration: none;
    @include _padding(.25, 0);

    @include _hover(lg) {
      text-decoration: underline;
    }
  }
}

.#{$_prefix}c-entry__content {
  .woocommerce .shop_table {
    border-collapse: collapse;

    thead {
      th {
        background-color: _lightest($_color-gray);
      }
    }
  }
}

.woocommerce .quantity .qty {
  max-height: 37px;
}

.woocommerce-Tabs-panel,
.related.products {
  @include entry-content();
}

.related.products {
  @include _margin-top(2);
}
