.#{ $_prefix }c-entry-aside {
  &__title {
    @include _font-size-line-height(1.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include _media-min(lg) {
      @include _font-size-line-height(1.5);
    }

    &::before,
    &::after {
      display: block;
      content: '';
      height: $border-bottom-width;
      background-color: _var-color-black();
      flex: 1 0 0%;
      min-width: 20px;
    }

    &::before {
      margin-right: .5em;
    }

    &::after {
      margin-left: .5em;
    }
  }
}
