.#{ $_prefix }c-entry-aside {
	&__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&::before,
		&::after {
			display: block;
			content: '';
			height: 1px;
			background-color: var(--wp--preset--color--sm-text);
			flex: 1 0 0%;
			min-width: 20px;
		}

		&::before {
			margin-right: .5em;
		}

		&::after {
			margin-left: .5em;
		}
	}
}
