@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 100;
	src: url('../../fonts/NotoSansJP-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/NotoSansJP-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/NotoSansJP-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/NotoSansJP-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/NotoSansJP-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/NotoSansJP-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 200;
	src: url('../../fonts/NotoSerifJP-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/NotoSerifJP-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/NotoSerifJP-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/NotoSerifJP-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/NotoSerifJP-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/NotoSerifJP-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/NotoSerifJP-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 100;
	src: url('../../fonts/MPLUS1p-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/MPLUS1p-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/MPLUS1p-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/MPLUS1p-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/MPLUS1p-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 800;
	src: url('../../fonts/MPLUS1p-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS 1p';
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/MPLUS1p-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 100;
	src: url('../../fonts/MPLUSRounded1c-Think.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/MPLUSRounded1c-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/MPLUSRounded1c-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/MPLUSRounded1c-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/MPLUSRounded1c-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 800;
	src: url('../../fonts/MPLUSRounded1c-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/MPLUSRounded1c-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'BIZ UDGothic';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/BIZUDPGothic-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'BIZ UDGothic';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/BIZUDPGothic-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'BIZ UDPMincho';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/BIZUDPGothic-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'BIZ UDPMincho';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/BIZUDPGothic-Bold.woff2') format('woff2');
}
