@use 'adminbar' as *;

/**
 * Foundation
 */
@use 'foundation/settings' as *;
@use 'foundation' as *;

/**
 * Layout
 */
@use 'layout' as *;

/**
 * Object - Component
 */
@use 'object/component' as *;

/**
 * Object - Project
 */
@use 'object/project' as *;

/**
 * Object - utility
 */
@use 'object/utility' as *;

#page-start {
	margin-bottom: -1px;
	height: 1px;
	width: 1px;
	visibility: hidden;
}

#page-end {
	margin-top: -1px;
	height: 1px;
	width: 1px;
	visibility: hidden;
}
