@import '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis-layout/src/css/layout/container';

.#{$_prefix}l-container {
  position: relative;
  overflow: hidden;

  @include _media-min(lg) {
    overflow: visible;
  }
}

@media all and (-ms-high-contrast: none) {
  .#{$_prefix}l-container {
    display: block !important;
  }
}
