@use 'sass:color';
@use 'sass:math';
@use '../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../app/core/mixin/align' as *;
@use '../app/placeholder/section';

/**
 * Alert
 */
.wpac-alert {
	--_border-radius: var(--_global--border-radius);

	$color: #fff9e6;
	@include core.alert();
	background-color: $color;
	border: 1px solid color.adjust(color.adjust($color, $saturation: -10%), $lightness: -10%);
	border-radius: var(--_border-radius);
	color: color.adjust(color.adjust($color, $saturation: -60%), $lightness: -10%);
	padding: var(--_padding-1);
	@include core.set-between-content-level(1);

	&--warning {
		background-color: color.adjust($color, $hue: -30deg);
		border-color: color.adjust(color.adjust(color.adjust($color, $saturation: -10%), $lightness: -10%), $hue: -30deg);
		color: color.adjust(color.adjust(color.adjust($color, $saturation: -60%), $lightness: -60%), $hue: -30deg);
	}

	&--success {
		background-color: color.adjust($color, $hue: 40deg);
		border-color: color.adjust(color.adjust(color.adjust($color, $saturation: -15%), $lightness: -15%), $hue: 40deg);
		color: color.adjust(color.adjust(color.adjust($color, $saturation: -70%), $lightness: -70%), $hue: 40deg);
	}

	> .mceEditable,
	&__body {
		@include core.set-content-level(1);
	}
}

/**
 * Balloon
 */
.wpac-balloon {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include core.media-min(md) {
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}

	&__person {
		margin: 0 0 20px;
		display: inline-flex;
		flex-direction: column;
		align-items: center;

		@include core.media-min(md) {
			margin: 0 20px 0 0;
		}
	}

	&__figure {
		position: relative;
		flex: 0 0 auto;
		@include core.circle(60px);
		max-width: 60px;
		border: 2px solid transparent;
		border-color: var(--wp--preset--color--sm-lighter-gray);

		> img {
			max-width: 100%;
			height: auto;
			padding: 0;
		}
	}

	&__name {
		margin-top: 5px;
		font-size: 12px;
		line-height: 1;
		white-space: nowrap;
	}

	&__body {
		@include core.set-between-content-level(1);
	}

	&__body {
		flex: 1 1 auto;
		border-radius: var(--_border-radius);
		overflow-wrap: break-word;
		padding: var(--_padding-1);
		max-width: 100%;
		width: 100%;

		@include core.top-balloon((
			background-color: var(--wp--preset--color--sm-lightest-gray),
			border-color: null,
			border-size: null,
			triangle-size: 10px,
		));

		&::before,
		&::after {
			margin-left: 0;
			left: 24px;
		}

		@include core.media-min(md) {
			max-width: calc(100% - 80px);
			@include core.balloon-triangle(left, 10px, var(--wp--preset--color--sm-lightest-gray));
		}
	}

	&--reverse {
		align-items: flex-end;

		@include core.media-min(md) {
			flex-direction: row-reverse;
			align-items: center;
		}

		.wpac-balloon__person {
			@include core.media-min(md) {
				margin: 0 0 0 20px;
			}
		}

		.wpac-balloon__body {
			&::before,
			&::after {
				left: auto;
				right: 24px;
			}

			@include core.media-min(md) {
				@include core.balloon-triangle(right, 10px, var(--wp--preset--color--sm-lightest-gray));
			}
		}
	}
}

/**
 * Columns
 */
.wpac-columns {
	--wpac-columns--item-width: 100%;

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: calc(-1 * var(--_margin1));
		margin-right: calc(-1 * var(--_margin1) * .5);
		margin-left: calc(-1 * var(--_margin1) * .5);
	}

	&__col {
		flex: 0 1 var(--wpac-columns--item-width);
		max-width: var(--wpac-columns--item-width);
		margin-bottom: var(--_margin1);
		padding-right: calc(var(--_margin1) * .5);
		padding-left: calc(var(--_margin1) * .5);

		@each $size, $screen-min in core.$sizes {
			@include core.media-min($screen-min) {
				$prefix: core.size-prefix($size);

				@for $max_columns from 1 through 5 {
					@for $i from 1 through $max_columns {
						&#{ $prefix }-#{ $i }-#{ $max_columns } {
							--wpac-columns--item-width: #{ math.div($i, $max_columns) * 100% };
						}
					}
				}
			}
		}
	}

	&__col-inner {
		flex: 1;
	}
}

/**
 * Section
 */
.wpac-section {
	@extend %section;

	&__title {
		@extend %section-title;
		text-align: center;

		& + .wpac-section__body {
			@extend %section-body;
		}
	}

	&--inverse {
		background-color: var(--wp--preset--color--sm-lightest-gray);
	}

	& + .wpac-section {
		margin-top: 0 !important;
	}
}

[data-has-sidebar="false"] {
	.wpac-section {
		@include alignfull();
	}

	&[data-header-layout="left"] {
		.wpac-section {
			@include core.media-min(lg) {
				margin-right: calc(50% - ((100vw - var(--body-margin-left) - var(--scrollbar-width)) / 2));
				margin-left: calc(50% - ((100vw - var(--body-margin-left) - var(--scrollbar-width)) / 2));
			}
		}
	}
}

/**
 * Highlighter
 */
.wpac-highlighter {
	background: linear-gradient(transparent 60%, rgba(#fffd6b, .7) 60%);
}
