@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../app/core/mixin/blockquote' as *;

.wp-block-pullquote {
	@include core.set-fluid-font-size-level(2);

	blockquote {
		margin: 0;
		border: none;
		padding: 0;
		@include core.set-fluid-font-size-level(2);
	}

	cite {
		@include blockquote__cite();
	}
}
