.wp-block-pullquote {
	@include _set-font-size-level(2);
	font-weight: bold;
	padding: var(--_padding2) 0;

	&:not(.is-style-solid-color) {
		border-top: 4px solid var(--wp--preset--color--sm-text);
		border-bottom: 4px solid var(--wp--preset--color--sm-text);
	}

	&.is-style-solid-color {
		blockquote {
			margin: 0;
			max-width: none;

			p {
				@include _set-font-size-level(2);
			}
		}
	}

	&__citation,
	cite {
		@extend %blockquote__cite;
	}

	blockquote {
		margin: 0;
		border-left: none;
		padding: 0;

		p {
			@include _set-font-size-level(2);
		}
	}
}
