ul.wp-block-gallery {
  margin-left: 0;
}

.wp-block-gallery {
  --wp--style--block-gap: #{ _space(.25, true, true) };
  gap: var(--wp--style--block-gap) !important;

  .wp-block-image {
    padding: 0;
  }
}
