.#{ $_prefix }p-drop-nav {
  background-color: #fff; // for IE11
  background-color: _var-background-color();

  @media print {
    display: none;
  }

  .#{ $_prefix }c-navbar {
    justify-content: center;

    &__item {
      flex: 0 1 auto;

      > a {
        @include _padding-top(.5);
        @include _padding-bottom(.5);
      }
    }
  }
}
