@use 'sass:math';
@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../core/mixin/cover-img' as *;

.c-entry-summary {
	max-width: 100%;

	&__figure {
		margin-bottom: var(--_margin-1);
		background-color: var(--wp--preset--color--sm-lighter-gray);
		@include cover-img();

		&::before {
			content: '';
			display: block;
			padding-top: 75%;
		}

		.c-entry-summary__term {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}

	&__term {
		display: inline-block;
		background-color: var(--wp--preset--color--sm-accent);
		color: var(--wp--preset--color--white);
		font-weight: bold;
		@include core.set-font-size-level(-2);
		padding: calc(var(--_padding-2) * .5) var(--_padding-2);
	}

	&__header {
		margin-bottom: var(--_margin-2);
	}

	&__title {
		margin: 0;
		@include core.set-fluid-font-size-level(1);
	}

	&__content {
		@include core.set-font-size-level(-1);
	}

	&__meta {
		margin-top: var(--_margin-1);
		@include core.set-font-size-level(-2);
		font-weight: bold;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.c-meta {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.c-meta__item--categories {
			display: none;
		}
	}
}

.c-entries--simple .c-entry-summary {
	@include core.clearfix();

	&__figure {
		float: left;
		margin-right: var(--_margin1);
		margin-bottom: 0;
		width: 33%;

		@include core.media-min(md) {
			width: 25%;
		}

		@include core.media-min(lg) {
			width: 20%;
		}
	}

	&__body {
		overflow: hidden;
	}

	&__content {
		display: none;
		@include core.set-font-size-level(-1);

		@include core.media-min(md) {
			display: block;
		}
	}

	&__meta {
		justify-content: flex-start;
	}
}

.c-entries--text .c-entry-summary {
	&__figure,
	&__content {
		display: none;
	}

	&__header {
		margin: 0;
	}

	&__title {
		@include core.set-font-size-level(0);
		font-weight: normal;
	}

	&__meta {
		margin: 1px 0 0;
		@include core.set-font-size-level(-1);
		font-weight: normal;
		justify-content: flex-start;

		.c-meta__item {
			&:not(.c-meta__item--published) {
				display: none;
			}
		}
	}

	&__body {
		position: relative;
		display: flex;
		flex-direction: column-reverse;

		> .c-entry-summary__header,
		> .c-entry-summary__meta {
			flex: 1 1 auto;
		}

		@include core.media-min(lg) {
			flex-direction: row-reverse;

			> .c-entry-summary__meta {
				flex: 0 0 auto;
				margin-right: var(--_margin1);
				width: 8em;
			}
		}
	}
}

.c-entries--text2 .c-entry-summary {
	&__figure,
	&__content {
		display: none;
	}

	&__header {
		margin: 0;
	}

	&__title {
		@include core.set-font-size-level(0);
		font-weight: normal;
	}

	&__meta {
		margin-top: var(--_margin-2);
		font-weight: normal;
		justify-content: flex-start;

		.c-meta__item--categories {
			display: inline-flex;
		}
	}
}

.c-entries--large-image .c-entry-summary {
	position: relative;

	&__figure {
		margin: 0;

		&::before {
			@include core.media-max(sm) {
				padding: math(100% * 4, 3) 0 0;
			}
		}
	}

	&__figure .c-entry-summary__term,
	&__content {
		display: none;
	}

	&__body {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: var(--_padding1);
		overflow: hidden;
	}

	&__header {
		margin: 0;
	}

	&__meta {
		margin-top: var(--_margin-2);
		font-weight: normal;
		justify-content: flex-start;

		.c-meta__item--categories {
			display: inline-block;
		}
	}
}

.c-entries--panel .c-entry-summary {
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;

	&__title {
		font-size: 100%;
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: var(--_padding-1) var(--_padding1) var(--_padding1);
	}
}

.c-entries__item > a {
	.c-entry-summary__figure > img {
		@include core.transition(filter);
	}

	.c-entry-summary__body {
		@include core.transition(opacity);
	}

	@include core.hover() {
		.c-entry-summary__figure > img {
			filter: brightness(80%);
		}

		.c-entry-summary__body {
			opacity: .8;
		}
	}
}
