.#{$_prefix}c-section {
  @include section();

  &__title {
    @include widget-title();
  }

  [data-has-sidebar="true"] [data-is-content-widget-area="true"] & {
    padding-top: 0;
    padding-bottom: 0;
  }
}
