.l-footer {
	border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
	overflow: hidden;
}

/**
 * Default
 */
.l-footer--default {
	.p-social-nav {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);

		.c-navbar {
			justify-content: center;
		}
	}

	.l-footer-widget-area {
		padding-top: var(--_padding2);
		padding-bottom: var(--_padding2);
	}

	.c-copyright {
		text-align: center;
	}
}

/**
 * Footer 1
 */
.l-footer--footer-1 {
	.p-social-nav {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);

		.c-navbar {
			justify-content: center;
		}
	}

	.l-footer-widget-area {
		padding-top: var(--_padding2);
		padding-bottom: var(--_padding2);
	}

	.l-footer__footer {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);
	}

	.c-copyright {
		padding: 0;
	}
}

/**
 * Footer 2
 */
.l-footer--footer-2 {
	.l-footer__header {
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);
	}

	.l-footer__body {
		border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
	}

	.l-footer__widget-area {
		padding-top: var(--_padding2);
		padding-bottom: var(--_padding2);
	}

	.l-footer__footer {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);
	}

	.c-copyright {
		padding: 0;
	}

	.p-social-nav {
		background-color: transparent;
		padding: 0;
	}
}

/**
 * Footer 3
 */
.l-footer--footer-3 {
	.l-footer__header {
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);
	}

	.l-footer__body {
		border-top: 1px solid transparent;
		border-top-color: var(--wp--preset--color--sm-lighter-gray);
	}

	.l-footer__widget-area {
		padding-top: var(--_padding2);
		padding-bottom: var(--_padding2);
	}

	.l-footer__footer {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);
	}

	.c-copyright {
		padding: 0;
	}
}

/**
 * Footer 4, Footer 5
 */
.l-footer--footer-4,
.l-footer--footer-5 {
	.l-footer__body {
		padding-top: var(--_padding2);
		padding-bottom: var(--_padding2);
	}

	.l-footer__footer {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);
	}

	.c-copyright {
		padding: 0;
	}
}
