@import '../app/core/core';

:root {
	--wp--style--block-gap: calc(var(--_space) * var(--_margin-scale));
}

/**
 * _set-font-size-level() uses rem. Therefore, the font size must be specified in the html element.
 */
html {
	font-size: var(--_global--font-size-px);
}

/**
 * Font face
 */
@import '../app/fonts';

/**
 * ## Post editor
 * - .block-editor-writing-flow.editor-styles-wrapper
 *  - .edit-post-visual-editor__post-title-wrapper
 *  - .wp-block-post-content.is-root-container
 *
 * ## Block widget editor
 * - .block-editor-writing-flow
 *  - .edit-widgets-main-block-list.is-root-container
 *    - .wp-block-widget-area__inner-blocks.editor-styles-wrapper
 *
 * ## Block preview
 * - html.block-editor-block-preview__content-iframe
 *	- body.block-editor-iframe__body.editor-styles-wrapper
 */

/**
 * Final selector adjustments are made in app/setup/editor.php.
 * Here, the selector of the direct parent of the blocks is specified.
 */
html :where(.editor-styles-wrapper) {
	ul,
	ol {
		padding-left: var(--_list-item-indent);
	}

	/**
	 * Foundation
	 */
	@import '../app/foundation/settings';
	@import '../app/foundation/foundation';

	/**
	 * Layout
	 */
	// @import '../app/layout/layout';

	/**
	 * Object - Component
	 */
	@import '../app/object/component/component';

	/**
	 * Object - Project
	 */
	@import '../app/object/project/project';

	/**
	 * Object - utility
	 */
	@import '../app/object/utility/utility';
}

.is-root-container {
	overflow: hidden;
}

.editor-styles-wrapper .is-root-container,
.editor-styles-wrapper .wp-block-freeform {
	@include entry-content();
}

.wp-block-widget-area__inner-blocks .block-editor-block-list__layout [data-type="core/heading"],
[data-type="core/widget-group"] > .widget-title {
	// @todo Because ::after is used in the block editor.
	// @include widget-title();

	margin-top: var(--_margin1);
	margin-bottom: var(--_margin-1);
	@include _set-font-size-level(1);
	font-weight: bold;
}

.wp-block[data-type="core/widget-area"] .wp-block-widget-area__inner-blocks > .block-editor-block-list__layout {
	@include _set-content-level(1);
}

.mce-preview-object.mce-object-iframe iframe[src*="rcm-fe.amazon-adsystem.com"] {
	height: 100%;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
	margin: 2em auto 28px;
	@include _set-font-size-level(3);
	font-family: var(--_global--font-family);
	font-weight: bold;
}

.components-checkbox-control .components-base-control__field {
	display: flex;
	align-items: center;
}

.has-metaboxes {
	.editor-styles-wrapper {
		padding-bottom: 2rem;
	}
}

// サイドバーの横幅分 alignfull, alignwide から引く
.edit-post-layout.is-mode-visual.is-sidebar-opened {
	@include _media-min(782px) {
		--body-margin-left: 280px;
	}
}

.wp-block-image {
	> div {
		> div {
			max-width: none !important;
			max-height: none !important;
		}
	}
}

[data-type="core/html"] {
	textarea {
		@include _pre();
	}
}

.wp-block-embed {
	.components-sandbox {
		margin-bottom: -8px; // @todo
	}
}

// @see src/css/layout/body/_body.scss
.l-body--one-column-full,
.l-body--blank,
.l-body--blank-content {
	.editor-styles-wrapper {
		--wp--custom--content-width: none;
	}
}

// @see src/css/layout/body/_body.scss
.l-body--one-column-slim,
.l-body--blank-slim {
	.editor-styles-wrapper {
		--wp--custom--content-max-width: var(--wp--custom--slim-width);
	}
}

// @see src/css/layout/body/_body.scss
.l-body--right-sidebar,
.l-body--left-sidebar {
	.editor-styles-wrapper {
		--wp--custom--content-max-width: calc(var(--_container-max-width) - 336px);
	}
}

// @see src/css/object/component/_entries.scss
.l-body--one-column-slim,
.l-body--blank-slim,
.l-body--right-sidebar,
.l-body--left-sidebar {
	.editor-styles-wrapper {
		.#{ $_prefix }c-entries {
			&--rich-media,
			&--panel {
				@include _media-min(lg) {
					--entries--item-width: 50%;
				}
			}
		}
	}
}

.u-hidden,
.u-hidden-sm,
.u-hidden-md,
.u-hidden-md-up,
.u-hidden-lg,
.u-hidden-lg-up,
.u-hidden-xl,
.u-hidden-xl-up {
	@include _visible();
	outline: 1px dashed rgba(#127db8, .8);

	&::after {
		position: absolute;
		top: -1px;
		left: -1px;
		display: inline-block;
		color: var(--wp--preset--color--white);
		background-color: #127db8;
		font-size: 12px;
		line-height: 1;
		padding: 4px 4px;
		opacity: .8;
	}
}

.u-hidden::after { content: '.u-hidden'; }
.u-hidden-sm::after { content: '.u-hidden-sm'; }
.u-hidden-md::after { content: '.u-hidden-md'; }
.u-hidden-md-up::after { content: '.u-hidden-md-up'; }
.u-hidden-lg::after { content: '.u-hidden-lg'; }
.u-hidden-lg-up::after { content: '.u-hidden-lg-up'; }
.u-hidden-xl::after { content: '.u-hidden-xl'; }
.u-hidden-xl-up::after { content: '.u-hidden-xl-up'; }
