.#{ $_prefix }c-entry-aside {
  @include _margin(1, 0, 0);

  @include _media-min(lg) {
    @include _margin(2, 0, 0);
  }

  &__title {
    @include _margin(0, 0, .5);
    @include _font-size-line-height(1.25);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include _media-min(lg) {
      @include _margin(0, 0, 1);
      @include _font-size-line-height(1.5);
    }

    &::before,
    &::after {
      display: block;
      content: '';
      height: $border-bottom-width;
      background-color: $_color-black; // For IE11
      background-color: _var-color-black();
      flex: 1 0 0%;
      min-width: 20px;
    }

    &::before {
      margin-right: .5em;
    }

    &::after {
      margin-left: .5em;
    }
  }
}
