.#{$_prefix}c-site-branding {
  &__title {
    @include _font-size-line-height($_base-font-size-px);
    font-weight: bold;

    @include _media-min(md) {
      @include _font-size-line-height($_base-font-size-px * 1.5);
    }

    .l-center-header & {
      @include _media-min(lg) {
        @include _font-size-line-height($_base-font-size * 2);
      }
    }

    > a {
      color: $_color-text;
      text-decoration: none;
    }

    .custom-logo {
      .l-center-header & {
        max-width: none;
      }
    }
  }

  &__description {
    margin-top: 2px;
    @include _font-size(13px);
    line-height: 1;
  }
}
