.#{$_prefix}c-site-branding {
  &__title {
    @include _font-size($_base-font-size);
    @include _line-height($_base-font-size * 1.5);
    font-weight: bold;

    @include _media-min(md) {
      @include _font-size($_base-font-size * 1.5);
      @include _line-height($_base-font-size * 2);
    }

    .l-center-header & {
      @include _media-min(lg) {
        @include _font-size-line-height($_base-font-size * 2);
      }
    }

    > a {
      color: $_color-text;
      text-decoration: none;
    }
  }

  &__description {
    margin-top: 2px;
    @include _font-size($_base-font-size-px - 4);
    line-height: 1;
  }
}
