.wp-block-rss {
  @include widget-list-base();

  &__item-publish-date,
  &__item-author {
    @include _font-size-line-height($_base-font-size-px - 4);
  }

  &__item-excerpt {
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  &.is-grid {
    @include _row();
    @include _row--margin(.25);

    &.alignright,
    &.alignleft {
      float: none;
    }

    > .wp-block-rss__item {
      margin: 0;
      width: auto;
      @include _row__col(1, 1);
      @include _row__col--margin(.25);
    }

    @include _media-min(md) {
      @include _row--margin(1);

      @for $i from 2 through 6 {
        &.columns-#{ $i } {
          > .wp-block-rss__item {
            $width: percentage(1 / $i);
            @include _row__col--width($width);
            @include _row__col--margin(1);
          }
        }
      }
    }
  }
}
