.widget_inc2734_wp_awesome_widgets_pr_box {
	padding: 0;
}

.wpaw-pr-box {
	padding-top: var(--_padding1);
	padding-bottom: var(--_padding1);

	&--chameleon {
		#{ $_prefix }c-container {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&__title {
		@include section-title();
	}

	&__lead {
		@include _set-between-content-level(-1);
		margin-top: var(--_margin1);
		@include _set-font-size-level(-1);
	}

	&__row {
		margin-top: var(--_margin1);
	}

	&__item-figure {
		margin-bottom: var(--_margin1);
	}

	&__item-summary {
		@include _set-between-content-level(-1);
		@include _set-font-size-level(-1);

		@include _media-min(lg) {
			margin-top: var(--_margin-2);
		}
	}

	&__item-action {
		margin-top: var(--_margin-1);
	}

	&__action {
		margin-top: var(--_margin1);
	}
}

[data-has-sidebar="true"] {
	[data-is-content-widget-area="true"] {
		.wpaw-pr-box {
			padding-top: var(--_padding2);
			padding-bottom: var(--_padding2);
		}
	}
}

[data-has-sidebar="false"] {
	[data-is-content-widget-area="true"] {
		.wpaw-pr-box {
			padding-top: var(--_padding3);
			padding-bottom: var(--_padding3);
		}
	}
}
