.wp-block-categories {
  @include widget-list-base();

  .children {
    @include widget-list-base();
    @include _margin-top(.25);
    margin-left: 1em;
  }
}

.editor-block-list__layout .wp-block-categories {
  &__list {
    @include widget-list-base();

    .wp-block-categories__list {
      @include _margin-top(.25);
      margin-left: 1em;
    }
  }
}
