@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.c-copyright {
	@include core.set-font-size-level(-1);
	padding-top: var(--_padding-1);
	padding-bottom: var(--_padding-1);

	a {
		color: inherit;
		text-decoration: none;

		@include core.hover() {
			text-decoration: underline;
		}
	}
}
