@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../core/mixin/cover-img' as *;

.c-prev-next-nav {
	margin-top: var(--_margin1);
	position: relative;

	@include core.media-min(md) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&__item {
		position: relative;
		display: flex;
		overflow: hidden;

		@include core.media-min(md) {
			flex: 0 1 auto;
			width: 50%;
		}

		&:not(:first-child) {
			margin-top: var(--_margin-1);

			@include core.media-min(md) {
				margin-top: 0;
			}
		}

		&--prev {
			@include core.media-min(md) {
				margin-left: var(--_margin-1);
			}
		}

		&--next {
			@include core.media-min(md) {
				margin-right: var(--_margin-1);
			}
		}

		> a {
			position: relative;
			flex: 1 1 0%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: var(--wp--preset--color--black);
			color: var(--wp--preset--color--white);
			font-weight: bold;
			text-decoration: none;
			padding: var(--_padding1);

			@include core.hover() {
				.c-prev-next-nav__item-figure {
					opacity: .5;
				}
			}
		}
	}

	&__item-figure {
		background-color: var(--wp--preset--color--sm-lighter-gray);
		backface-visibility: hidden;
		@include core.transition(opacity);
		opacity: .6;
		@include cover-img();

		& {
			position: absolute;
			inset: 0;
		}
	}

	&__item-label {
		position: relative;
		@include core.set-font-size-level(-2);
	}

	&__item-title {
		position: relative;
		@include core.set-fluid-font-size-level(1);
	}
}
