.#{ $_prefix }c-prev-next-nav {
	margin-top: var(--_margin1);
	position: relative;

	@include _media-min(md) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&__item {
		position: relative;
		display: flex;
		overflow: hidden;

		@include _media-min(md) {
			flex: 0 1 auto;
			width: 50%;
		}

		&:not(:first-child) {
			margin-top: var(--_margin-1);

			@include _media-min(md) {
				margin-top: 0;
			}
		}

		&--prev {
			@include _media-min(md) {
				margin-left: var(--_margin-1);
			}
		}

		&--next {
			@include _media-min(md) {
				margin-right: var(--_margin-1);
			}
		}

		> a {
			position: relative;
			flex: 1 1 0%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: var(--wp--preset--color--black);
			color: var(--wp--preset--color--white);
			font-weight: bold;
			text-decoration: none;
			padding: var(--_padding1);

			@include _hover() {
				.#{ $_prefix }c-prev-next-nav__item-figure {
					opacity: .5;
				}
			}
		}
	}

	&__item-figure {
		@include cover-img();
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--wp--preset--color--sm-lighter-gray);
		backface-visibility: hidden;
		@include _transition(opacity);
		opacity: .6;
	}

	&__item-label {
		position: relative;
		@include _set-font-size-level(-2);
	}

	&__item-title {
		position: relative;
		@include _set-font-size-level(1);
	}
}
