.#{$_prefix}c-entry-summary {
  &__figure {
    @include cover-img();
    @include _margin(0, 0, .25);
    background-color: _lighter($_color-gray);

    &::before {
      content: '';
      display: block;
      padding-top: 75%;
    }

    .#{$_prefix}c-entry-summary__term {
      @include _position(absolute, 0, 0, null, null, 1);
    }
  }

  &__term {
    display: inline-block;
    background-color: $color-accent;
    color: #fff;
    font-weight: bold;
    @include _font-size($_base-font-size-px - 4);
    line-height: 1;
    @include _padding(.25, .5);
  }

  &__body {
    @include _transition(color);
    overflow: hidden;
  }

  &__title {
    @include _margin(0, 0, .2);
    @include _font-size($_base-font-size);
    @include _line-height($_base-font-size * 1.5);

    @include _media-min(lg) {
      @include _margin(0, 0, .25);
      @include _font-size($_base-font-size * 1.5);
      @include _line-height($_base-font-size * 1.8);
    }
  }

  &__content {
    @include _margin(0, 0, .2);
    @include _font-size($_base-font-size-px - 4);
    @include _line-height($_base-font-size * 1.25);
    color: _light($_color-text);

    @include _media-min(lg) {
      @include _margin(0, 0, .5);
    }
  }

  &__meta {
    @include _font-size-line-height(10px);
    font-weight: bold;
    text-align: center;
  }

  a > & {
    @include _hover(lg) {
      .#{$_prefix}c-entry-summary__body,
      .#{$_prefix}c-entry-summary__content {
        color: $_color-gray;
      }
    }
  }

  .#{$_prefix}c-entries--rich-media a > & {
    .#{$_prefix}c-entry-summary__figure {
      &::after {
        @include _position(absolute, 8px, 8px, 8px, 8px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(rgba($color-accent, .5) 33%, transparent 33%);
        background-size: 2px 2px;
        content: 'READ MORE';
        color: #fff;
        font-weight: bold;
        opacity: 0;
        visibility: hidden;
        @include _transition(opacity);
      }

      > img {
        @include _transition(transform);
      }
    }

    @include _hover(lg) {
      .#{$_prefix}c-entry-summary__figure {
        > img {
          transform: scale(1.05);
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .#{$_prefix}c-entries--simple & {
    overflow: hidden;

    &__figure {
      float: left;
      @include _margin($_between-lines, .5, 0, 0);
      width: 20%;

      @include _media-min(md) {
        @include _margin-right(1);
      }
    }

    &__term {
      display: none;

      @include _media-min(md) {
        display: block;
      }
    }

    &__meta {
      text-align: left;
    }
  }
}
