.smb-tabs {
  &__tab {
    font-family: _var-base-font-family();
  }
}

.smb-tabs.is-style-line {
  > .smb-tabs__tabs {
    .smb-tabs__tab::after {
      background-color: var-color-accent();
    }
  }
}

.smb-tab-panel {
  &__body {
    @extend %entry-content;
  }
}
