[data-type="core/separator"]:not(:first-child) {
  > .wp-block-separator {
    @include _margin-top(1);
  }
}

.wp-block-separator {
  background-color: _light($_color-gray); // For IE11
  background-color: _var-color-light-gray();
  height: 1px;
  box-shadow: none;
  border: none;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  margin-right: auto;
  margin-left: auto;
  max-width: 100px;
}
