.#{ $_prefix }c-google-adsense {
	text-align: center;
}

.#{ $_prefix }l-contents__sidebar .#{ $_prefix }c-google-adsense  {
	margin-bottom: var(--_margin1);

	&:last-child {
		margin-bottom: 0;
	}
}
