.#{ $_prefix }c-entries {
  @include _list-unstyled();
  @include _lattice();

  &__item {
    @include _lattice__col(1, 2);

    @include _media-min(lg) {
      @include _lattice__col--width(1 / 3 * 100%);
    }

    > a {
      display: block;
      color: $_color-text; // for IE11
      color: _var-color-text();
      text-decoration: none;
    }
  }

  &--simple,
  &--text {
    margin: 0;
    display: block;
    border-top: 1px solid _lighter($_color-gray);

    .#{ $_prefix }c-entries__item {
      margin: 0;
      max-width: none;
      border-bottom: 1px solid _lighter($_color-gray);
      padding: 0;
    }
  }

  &--simple {
    .#{ $_prefix }c-entries__item {
      > a {
        @include _padding(1, 0);
      }
    }
  }

  &--text {
    .#{ $_prefix }c-entries__item {
      > a {
        @include _padding(.5, 0);
      }
    }
  }

  &--panel {
    .#{ $_prefix }c-entries__item {
      display: flex;

      > a {
        flex: 1 1 auto;
        box-shadow: 0 0 35px 0 rgba(#000, .1);
        @include _transition(box-shadow);
        display: flex;

        @include _hover(lg) {
          box-shadow: 0 7px 35px 0 rgba(#000, .15);
        }
      }
    }
  }

  &[data-has-infeed-ads="true"] {
    .#{ $_prefix }c-entries__item {
      @include _media-max(sm) {
        @include _lattice__col--width(100%);
      }
    }
  }

  [data-has-sidebar="true"] &,
  [data-is-slim-width="true"] & {
    &--rich-media {
      .#{ $_prefix }c-entries__item {
        @include _media-min(lg) {
          @include _lattice__col--width(1 / 2 * 100%);
        }
      }
    }
  }
}
