.#{$_prefix}c-entries {
  @include _list-unstyled();
  @include _row();
  @include _row--margin(.5);

  @include _media-min(md) {
    @include _row--margin(1);
  }

  @include _media-min(lg) {
    @include _row--margin(2);
  }

  &[data-has-infeed-ads="true"] {
    .#{$_prefix}c-entries__item {
      @include _media-max(sm) {
        @include _row__col(1, 1);
      }
    }
  }

  &__item {
    @include _row__col(1, 2);
    @include _row__col--margin(.5);

    @include _media-min(md) {
      @include _row__col--margin(1);
    }

    @include _media-min(lg) {
      @include _row__col(1, 3);
      @include _row__col--margin(2);
    }

    > a {
      display: block;
      color: $_color-text;
      text-decoration: none;
    }
  }

  &--simple {
    margin: 0;
    display: block;

    .#{$_prefix}c-entries__item {
      margin: 0;
      max-width: none;
      border-bottom: 1px solid _lighter($_color-gray);
      padding: 0;

      > a {
        @include _padding(.5, 0);

        @include _media-min(md) {
          @include _padding(1, 0);
        }
      }
    }
  }
}

.#{$_prefix}l-body--right-sidebar,
.#{$_prefix}l-body--left-sidebar,
.#{$_prefix}l-body--one-column-slim {
  .#{$_prefix}c-entries--rich-media {
    .#{$_prefix}c-entries__item {
      @include _media-min(lg) {
        @include _row__col--width(50%);
      }
    }
  }
}
