.#{$_prefix}c-prev-next-nav {
  $root: &;

  @include _margin(1, 0, 0);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 1.5px);
    content: '';
    display: block;
    width: 3px;
    background-color: $_color-black;
  }

  &__item {
    position: relative;
    flex: 1 1 0%;
    width: calc(50% - #{_space(.5)});
    display: flex;
    overflow: hidden;

    &--prev {
      @include _margin(0, 0, 0, .5);
    }

    &--next {
      @include _margin(0, .5, 0, 0);
    }

    > a {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      @include _padding(1);

      &::before {
        @include _position(absolute, 8px, 8px, 8px, 8px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-accent, .4);
        background-image: radial-gradient(rgba($color-accent, .9) 33%, transparent 33%);
        background-size: 3px 3px;
        content: '';
        color: #fff;
        font-weight: bold;
        opacity: 0;
        visibility: hidden;
        @include _transition(opacity);
      }
    }

    @include _hover() {
      > a {
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }

      #{$root}__item-figure {
        transform: scale(1.05);
      }
    }
  }

  &__item-figure {
    @include _position(absolute, 0, 0, 0, 0);
    @include _background-image-cover();
    background-color: _lighter($_color-gray);
    @include _transition(transform);
    backface-visibility: hidden;
  }

  &__item-label {
    position: relative;
    @include _font-size-line-height($_base-font-size-px - 4);
  }

  &__item-title {
    position: relative;
    @include _font-size-line-height($_base-font-size-px);

    @include _media-min(lg) {
      @include _font-size-line-height($_base-font-size * 1.2);
    }
  }
}
