.#{$_prefix}c-page-top {
  @include _position(fixed, null, 0, 44px, null);
  z-index: 99998;
  background-color: $color-accent;
  @include _square(40px);
  @include _transition(opacity);
  visibility: hidden;
  opacity: 0;

  // @see https://qiita.com/usagimaru/items/761e9a5f3d78b1939df8
  bottom: calc(constant(safe-area-inset-bottom) + 49px);
  bottom: calc(env(safe-area-inset-bottom) + 49px);

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
  }

  @include _media-min(md) {
    @include _square(50px);
  }

  @include _hover(lg) {
    background-color: darken($color-accent, 5%);
  }

  a {
    @include _position(absolute, 0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
    font-size: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}
