.wp-block-post-template {
	h2 {
		--entry-content-h2-background-color: initial;
		--entry-content-h2-border-left: initial;
		--wp--preset--color--sm-text: initial;
		--entry-content-h2-padding: initial;
	}

	h3 {
		--entry-content-h3-border-bottom: initial;
		--entry-content-h3-padding: initial;
	}
}
