.#{ $_prefix }p-infobar {
  &--center {
    .#{ $_prefix }c-container {
      display: flex;
      justify-content: center;
    }
  }

  &--right {
    .#{ $_prefix }c-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    background-color: var-color-accent();
    font-weight: bold;
    text-decoration: none;
    padding: 5px;

    .#{ $_prefix }c-container {
      @media all and (-ms-high-contrast: none) {
        margin-right: 0; // For IE11
        margin-left: 0; // For IE11
      }
    }
  }

  &__content {
    flex: 0 1 auto;
    color: $_color-white; // For IE11
    color: _var-color-white();

    a {
      color: inherit;
    }
  }
}

a.#{ $_prefix }p-infobar {
  @include _transition(filter);
  @include _hover(lg) {
    filter: brightness(90%);
  }
}

.#{ $_prefix }l-header {
  &:not(.#{ $_prefix }l-header--overlay-sm):not(.#{ $_prefix }l-header--sticky-overlay-sm):not(.#{ $_prefix }l-header--sticky-overlay-colored-sm) {
    .#{ $_prefix }p-infobar {
      @include _media-max(md) {
        display: none;
      }
    }
  }

  &--overlay-sm,
  &--sticky-overlay-sm,
  &--sticky-overlay-colored-sm {
    & + .#{ $_prefix }l-contents .#{ $_prefix }p-infobar {
      @include _media-max(md) {
        display: none;
      }
    }
  }

  &:not(.#{ $_prefix }l-header--overlay-lg):not(.#{ $_prefix }l-header--sticky-overlay-lg):not(.#{ $_prefix }l-header--sticky-overlay-colored-lg) {
    .#{ $_prefix }p-infobar {
      @include _media-min(lg) {
        display: none;
      }
    }
  }

  &--overlay-lg,
  &--sticky-overlay-lg,
  &--sticky-overlay-colored-lg {
    & + .#{ $_prefix }l-contents .#{ $_prefix }p-infobar {
      @include _media-min(lg) {
        display: none;
      }
    }
  }
}
