.#{ $_prefix }p-overlay-search-box {
  .#{ $_prefix }c-input-group {
    width: 80vw;
    max-width: 480px;

    &__field {
      > input {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(#fff, .7);
        color: #fff;

        &:focus {
          border-bottom-color: #fff;
        }
      }
    }

    &__btn {
      background-color: transparent;
      border: none;
      color: #fff;
    }
  }
}
