.#{ $_prefix }l-header {
  z-index: 1000;
  background-color: #fff; // for IE11
  background-color: _var-background-color();
  color: var-color-header-text();
  @include _transition(background-color, visibility, opacity);
  overflow: hidden;

  @include _media-min(lg) {
    overflow: visible;
  }

  &[aria-hidden="true"],
  &[aria-hidden="true"] .#{ $_prefix }p-drop-nav {
    visibility: hidden;
    opacity: 0;
    // height: 1px;
    overflow: hidden;
  }

  &__content {
    @include _padding(.25, 0);

    @include _media-min(lg) {
      padding: 0;
    }
  }

  .#{ $_prefix }c-hamburger-btn__bar {
    background-color: var-color-header-text();
  }

  /**
   * Sticky header
   */
  @mixin sticky-header() {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      box-shadow: 0 1px 2px 1px rgba(#000, .05);

      .admin-bar & {
        @include _media-min(601px) {
          top: 46px;
        }

        @include _media-min(783px) {
          top: 32px;
        }
      }
    }
  }

  &--sticky-sm {
    @include _media-max(md) {
      @include sticky-header();
    }
  }

  &--sticky-lg {
    @include _media-min(lg) {
      @include sticky-header();
    }
  }

  /**
   * Non-sticky overlay header
   */
  @mixin overlay-header() {
    @include _position(absolute, null, 0, null, 0);
    background-color: transparent;

    // For IE11
    @media all and (-ms-high-contrast: none) {
      top: 0;

      .admin-bar & {
        top: 32px;
      }
    }
  }

  @mixin overlay-header-white-text() {
    color: var-color-overlay-header-text();

    .#{ $_prefix }c-hamburger-btn__bar {
      background-color: var-color-overlay-header-text();
    }
  }

  &--overlay-sm {
    @include _media-max(md) {
      @include overlay-header();
      @include overlay-header-white-text();
    }
  }

  &--overlay-lg {
    @include _media-min(lg) {
      @include overlay-header();
      @include overlay-header-white-text();
    }
  }

  /**
   * Sticky overlay header
   */
  @mixin sticky-overlay-header() {
    @include overlay-header();
    @include overlay-header-white-text();
    position: fixed;
  }

  &--sticky-overlay-sm {
    @include _media-max(md) {
      @include sticky-overlay-header();
    }
  }

  &--sticky-overlay-lg {
    @include _media-min(lg) {
      @include sticky-overlay-header();
    }
  }

  /**
   * Colored sticky overlay
   */
  @mixin sticky-overlay-colored-header() {
    @include overlay-header();
    position: fixed;

    [data-scrolled="false"] & {
      @include overlay-header-white-text();
    }

    [data-scrolled="true"] & {
      background-color: #fff; // for IE11
      background-color: _var-background-color();
      box-shadow: 0 1px 2px 1px rgba(#000, .05);
    }
  }

  &--sticky-overlay-colored-sm {
    @include _media-max(md) {
      @include sticky-overlay-colored-header();
    }
  }

  &--sticky-overlay-colored-lg {
    @include _media-min(lg) {
      @include sticky-overlay-colored-header();
    }
  }

  &:not(.l-header--left) {
    .#{ $_prefix }c-row {
      &,
      &__col {
        margin-bottom: 0;
      }
    }
  }

  &__drop-nav {
    display: none;
    visibility: hidden;
    @include _position(fixed, 0, 0, null, 0, 10);
    transform: translateY(-100%);
    box-shadow: 0 1px 2px 1px rgba(#000, .05);
    color: var-color-drop-nav-text();
    @include _transition(transform, visibility);
    transition-timing-function: ease-in;

    @include _media-min(lg) {
      display: block;
    }

    &[aria-hidden="false"] {
      top: 0;
      transform: translateY(0);
      visibility: visible;
      @include _transition(transform);
      transition-timing-function: ease-out;
    }

    .admin-bar & {
      &[aria-hidden="false"] {
        transform: translateY(32px);
      }
    }
  }
}

/**
 * simple header
 */
.#{ $_prefix }l-simple-header {
  &__row {
    @include _media-min(lg) {
      @include _padding(.5, 0);
    }
  }
}

/**
 * 1row header
 */
.#{ $_prefix }l-1row-header {
  &__branding,
  &__content {
    @include _media-min(lg) {
      @include _padding(.25, 0);
    }
  }

  .#{ $_prefix }p-global-nav {
    &--vertical {
      justify-content: flex-end;
    }

    .#{ $_prefix }c-navbar {
      &__item {
        flex: 0 1 auto;
      }
    }
  }
}

/**
 * 2rows header
 */
.#{ $_prefix }l-2row-header {
  &__row {
    &:nth-child(1) {
      @include _media-min(lg) {
        @include _padding(.25, 0);
      }
    }
  }

  .#{ $_prefix }p-global-nav {
    .#{ $_prefix }c-navbar {
      &__item {
        > a {
          @include _padding-top(.5);
          @include _padding-bottom(.5);
        }
      }
    }
  }
}

/**
 * centered header
 */
.#{ $_prefix }l-center-header {
  &__row:nth-child(1) {
    @include _media-min(lg) {
      @include _padding(.5, 0);
    }

    .#{ $_prefix }l-center-header[data-has-global-nav="true"] & {
      @include _media-min(lg) {
        @include _margin(1, 0, .25);
        padding: 0;
      }
    }
  }

  .#{ $_prefix }p-global-nav {
    &--vertical {
      justify-content: center;
    }

    .#{ $_prefix }c-navbar {
      justify-content: center;

      &__item {
        flex: 0 1 auto;

        > a {
          @include _padding-top(.75);
          @include _padding-bottom(.75);
        }
      }
    }
  }
}

/**
 * Left
 */
[data-header-layout="left"] {
  @include _media-min(lg) {
    $body-margin-left: 280px; // for IE11
    --body-margin-left: #{ $body-margin-left };

    margin-left: $body-margin-left; // for IE11
    margin-left: var-body-margin-left();

    .#{ $_prefix }p-footer-sticky-nav,
    .#{ $_prefix }p-footer-cta {
      left: $body-margin-left; // for IE11
      left: var-body-margin-left();
    }
  }
}
.#{ $_prefix }l-header--left {
  @include _media-min(lg) {
    $body-margin-left: 280px; // for IE11
    @include _position(fixed, 0, 0, 0, 0);
    width: $body-margin-left; // for IE11
    width: var-body-margin-left();
    @include _padding-top(1);

    .admin-bar & {
      top: 32px;
    }

    .#{ $_prefix }c-container {
      padding-right: 0;
      padding-left: 0;
    }

    .#{ $_prefix }c-site-branding {
      @include _padding(0, 1);

      &--has-logo {
        text-align: center;
      }
    }

    .#{ $_prefix }p-header-content {
      @include _padding(0, 1);
    }

    .#{ $_prefix }p-global-nav,
    .#{ $_prefix }p-header-sub-nav {
      .#{ $_prefix }c-navbar {
        flex-direction: column;
      }
    }

    .#{ $_prefix }p-global-nav {
      .#{ $_prefix }c-navbar {
        &__item > a {
          align-items: flex-start;
          @include _padding(.5, 1);
        }

        &__item[aria-haspopup="true"]::before {
          @include _triangle-left(10px, 16px, var(--accent-color, $color-accent));
          left: auto;
          bottom: auto;
          right: -0;
          top: calc(50% - 5px);
        }

        &__item > .c-navbar__submenu {
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
        }
      }
    }

    .#{ $_prefix }p-header-sub-nav {
      .#{ $_prefix }c-navbar {
        &__item {
          margin-right: 0;
          margin-left: 0;

          > a {
            justify-content: flex-start;
            @include _padding(.125, 1);
          }
        }
      }
    }
  }
}

[data-has-global-nav="true"] {
  .#{ $_prefix }l-2row-header__row,
  .#{ $_prefix }l-center-header__row {
    &:last-child {
      @include _margin-top(.25);
    }
  }
}
