.#{ $_prefix }c-meta {
  &__item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: .75em;
    }

    &--author {
      white-space: initial;

      img {
        flex: 0 0 auto;
        @include _circle(24px);
        margin-right: 5px;
      }
    }
  }
}
