.wp-block-categories{
  @include widget-list-base();
  margin-left: auto;

  .children {
    @include widget-list-base();
    @include _margin-top(.25);
    margin-left: 1em;
  }
}

.wp-block-categories__list {
  @include widget-list-base();

  ul {
    @include widget-list-base();
    @include _margin-top(.25);
    margin-left: 1em;
  }
}
