.#{ $_prefix }p-footer-sub-nav {
  border-top: 1px solid transparent;
  border-top-color: _lighter($_color-gray); // For IE11
  border-top-color: _var-lighter-color-gray();
  padding: 0;

  .#{ $_prefix }c-navbar {
    @include _padding(.25, 0);
    justify-content: flex-start;
    overflow: auto;
    scrollbar-width: none;
    white-space: nowrap;

    @include _media-min(lg) {
      justify-content: center;
    }

    &__item {
      flex: 0 0 auto;
    }
  }
}
