@charset 'utf-8';

@import '../../app/core/core';
@import '../../app/foundation/_placeholder/placeholder';

@import 'accordion/app';
@import 'box/app';
@import 'btn-box/app';
@import 'btn/app';
@import 'child-pages/app';
@import 'container/app';
@import 'faq/app';
@import 'information/app';
@import 'items/app';
@import 'media-text/app';
@import 'panels/app';
@import 'section-break-the-grid/app';
@import 'section-side-heading/app';
@import 'section-with-image/app';
@import 'spider-contents-slider/app';
@import 'spider-slider/app';
@import 'section/app';
@import 'step/app';
@import 'tabs/app';

.c-row[data-columns]:where(:not([data-columns="1"])) {
	@include _media-max(sm) {
		@include _row--margin(.5);

		> .c-row__col {
			@include _row__col--margin(.5);
		}
	}
}

// @todo WordPress 5.9 iframed content hack.
// https://github.com/WordPress/gutenberg/blob/f2161e246b9fdd9a2a56e7552b0b28050f1a5302/packages/block-editor/src/components/iframe/index.js#L70-L74
html :where(.editor-styles-wrapper) {
  display: block;
}
