@charset 'utf-8';

@import '../../core/core';
@import '../../foundation/_placeholder/placeholder';

@import 'accordion/editor';
@import 'box/editor';
@import 'btn-box/editor';
@import 'btn/editor';
@import 'container/editor';
@import 'faq/editor';
@import 'information/editor';
@import 'items/editor';
@import 'limited-datetime/editor';
@import 'media-text/editor';
@import 'panels/editor';
@import 'section/editor';
@import 'section-break-the-grid/editor';
@import 'section-side-heading/editor';
@import 'section-with-image/editor';
@import 'step/editor';

.c-row[data-columns]:not([data-columns="1"]) {
	@include _media-max(sm) {
		@include _row--margin(.5);

		> .c-row__col {
			@include _row__col--margin(.5);
		}
	}
}
