@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../app/core/mixin/widget' as *;

.wp-block-rss {
	@include widget-list-base();

	& {
		margin-left: auto;
	}

	&__item-publish-date,
	&__item-author {
		@include core.set-font-size-level(-2);
	}

	&__item-excerpt {
		@include core.set-font-size-level(-1);
	}
}

ul.wp-block-rss.is-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--_margin-2);

	> li {
		margin: 0;
		width: auto;
	}

	@include core.media-min(600px) {
		gap: var(--_margin1);

		@for $i from 2 through 6 {
			&.columns-#{ $i } {
				grid-template-columns: repeat(#{ $i }, 1fr);
			}
		}
	}
}
