.#{ $_prefix }c-site-branding {
  &__title {
    @include _font-size-line-height(1);
    font-weight: bold;

    @include _media-min(md) {
      @include _font-size-line-height(1.5);
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .custom-logo {
      max-width: none;
    }
  }

  &__description {
    margin-top: 2px;
    @include _font-size(13px);
    line-height: 1;
  }
}

.l-center-header .#{ $_prefix }c-site-branding__title {
  @include _media-min(lg) {
    @include _font-size-line-height(2);
  }
}
