@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

:where(.c-entry > *) {
	margin-inline: auto;
	max-width: var(--wp--custom--content-width);
}

:where(.c-entry__body > *) {
	margin-inline: auto;
	max-width: var(--wp--custom--content-width);
}

:where(.c-entry__content > :not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: var(--wp--custom--content-width);
}

.c-entry {
	max-width: 100%;

	&__header {
		margin-bottom: var(--_margin1);
	}

	&__meta {
		margin-top: var(--_margin-2);
		@include core.set-font-size-level(-1);

		a {
			color: inherit;
			text-decoration: none;

			@include core.hover() {
				text-decoration: underline;
			}
		}
	}

	&__body {
		max-width: 100%;
		@include core.set-content-level(1);
	}

	&__content {
		max-width: 100%;
		@include core.clearfix();
	}

	&__footer {
		margin-top: var(--_margin2);
		@include core.set-content-level(1);
	}
}
