.#{ $_prefix }c-entry {
	&__header {
		margin-bottom: var(--_margin1);
	}

	&__meta {
		margin-top: var(--_margin-2);
		@include _set-font-size-level(-1);

		a {
			color: inherit;
			text-decoration: none;

			@include _hover() {
				text-decoration: underline;
			}
		}
	}

	&__body {
		@include _set-content-level(1);
	}

	&__content {
		@include _clearfix();

		@at-root {
			:where(#{ & } > :where(:not(.alignleft):not(.alignright):not(.alignfull))) {
				max-width: var(--wp--style--global--content-size);
			}
		}
	}

	&__footer {
		margin-top: var(--_margin2);
		@include _set-content-level(1);
	}
}
