.#{ $_prefix }c-entry {
  &__header {
    @include _margin-bottom(1);
  }

  &__meta {
    @include _margin-top(.25);
    @include _font-size-line-height(12px);

    a {
      color: inherit;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__body {
    @include items-gutter();
  }

  &__content {
    @include _clearfix();

    > * {
      @include content-alignment();
    }
  }

  &__footer {
    @include items-gutter();
    @include _margin-top(1.5);
  }
}

// All one column templates
[data-has-sidebar="false"] {
  &[data-header-layout="left"] {
    .#{ $_prefix }c-entry__content {
      @include _media-min(lg) {
        $body-margin-left: 280px;
        margin-left: calc(50% - (100vw - #{ $body-margin-left }) / 2); // for IE11
        margin-right: calc(50% - (100vw - #{ $body-margin-left }) / 2); // for IE11
        margin-left: calc(50% - (100vw - #{ var-body-margin-left() }) / 2);
        margin-right: calc(50% - (100vw - #{ var-body-margin-left() }) / 2);
      }
    }
  }
}

// Blank / One column full
[data-is-full-template="true"] {
  .#{ $_prefix }c-entry__content {
    &:not([data-home-page-container="true"]) {
      --wp-block-width: 100%;

      > * {
        width: auto;
      }
    }
  }
}

// One column slim / Blank slim
[data-has-sidebar="false"][data-is-slim-width="true"] {
  .#{ $_prefix }c-entry__content {
    --wp-block-width: 46rem;
  }
}

// One column
[data-has-sidebar="false"] {
  .#{ $_prefix }c-entry__content {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

// Right / Left sidebar
[data-has-sidebar="true"] {
  .#{ $_prefix }c-entry__content {
    $container_margin: _space(1, true);
    $sidebar_margin: _space(1, true, true);
    --wp-block-width: calc(var(--_container-max-width, 1280px) - 336px - #{ $sidebar_margin } - #{ $container_margin } * 2);

    > * {
      width: auto;
    }
  }
}
