.l-contents__container {
	> .p-breadcrumbs-wrapper:first-child,
	> .u-slim-width > .p-breadcrumbs-wrapper:first-child {
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);
	}
}

.l-contents__container {
	> .p-breadcrumbs-wrapper:last-child,
	> .u-slim-width > .p-breadcrumbs-wrapper:last-child {
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);
	}
}
