$_base-font-size-px: 16px !default;
$_between-lines: (1rem / 2.3) !default;
$_container-max-width: 1280px !default;
$_transition-duration: .2s !default;
$_font-path: '../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/font' !default;
$_base-margin-bottom: 1.25 !default;
$_h2-font-size-scale: 1.5 !default;
$_h2-margin-top: $_base-margin-bottom * 2 !default;
$_h2-margin-bottom: $_base-margin-bottom * 1.25 !default;
$_h3-margin-top: $_base-margin-bottom * 1.75 !default;
$_h3-margin-bottom: $_base-margin-bottom * .75 !default;
$_h4-margin-bottom: $_base-margin-bottom * .5 !default;
$_border-radius: 6px !default;
$color-accent: #bd3c4f !default;
$one-column-slim-max-width: 46rem !default;
$border-bottom-width: 2px !default;
$_font-family: -apple-system, BlinkMacSystemFont, Helvetica, Meiryo, MyYuGothicM, YuGothic, "Helvetica Neue", sans-serif !default;
