.wp-block-calendar {
	@extend %calendar;
	display: table;
	width: auto !important;

	.wp-calendar-table {
		width: auto !important;
	}

	.wp-calendar-nav {
		margin-top: var(--_margin-1);
		display: flex;
		justify-content: space-between;
	}
}
