.wp-block-calendar {
  @extend %calendar;
  @include calendar();
  display: table;
  width: auto !important;

  .wp-calendar-table {
    width: auto !important;
  }

  .wp-calendar-nav {
    @include _margin-top(.5);
    display: flex;
    justify-content: space-between;
  }
}
