.#{ $_prefix }p-overlay-widget-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  &__inner {
    @include _padding(.5);

    @include _media-min(md) {
      @include _padding(1);
    }
  }
}
