.#{$_prefix}p-section-front-page-content {
  margin-top: 0;
  margin-bottom: 0;

  &--no-vpadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  [data-has-sidebar="true"] & {
    @include _padding(1.5, 0);

    & + * {
      @include _media-min(lg) {
        @include _margin-top(2);
      }
    }
  }
}

[data-has-sidebar="true"] {
  * + .#{$_prefix}p-section-front-page-content {
    @include _media-min(lg) {
      @include _margin-top(2);
    }
  }
}
