.wpaw-term {
	background-color: var(--wp--preset--color--sm-accent);
	color: var(--wp--preset--color--sm-text-alt);
	font-weight: bold;
	@include _set-font-size-level(-2);
	padding: calc(var(--_padding-2) * .5) var(--_padding-2);
}
