.#{$_prefix}c-breadcrumbs {
  @include _margin(.25, 0, 1);
  @include _font-size-line-height(11px);
  color: #999;

  @include _media-min(lg) {
    @include _margin(.25, 0, 2);
  }

  a {
    color: #999;
    text-decoration: none;

    @include _hover() {
      text-decoration: underline;
    }
  }
}
