.#{ $_prefix }c-breadcrumbs {
  @include _font-size-line-height(11px);

  &__item:nth-child(n + 2)::before {
    border-color: #999;
  }

  &,
  a {
    color: #999;
  }

  a {
    text-decoration: none;

    @include _hover(lg) {
      text-decoration: underline;
    }
  }

  .#{ $_prefix }l-contents & {
    &:first-child,
    &:last-child {
      @include _margin-top(.25);
      @include _margin-bottom(.25);
    }
  }
}
