.#{ $_prefix }c-pagination {
  text-align: center;
  font-size: 0;

  &__item,
  &__item-link,
  &__item-ellipsis {
    margin: 0 2px;
    display: inline-flex;
    font-size: 14px;
    line-height: 1;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    vertical-align: top;
  }

  &__item {
    background-color: $color-accent;
    color: #fff;
  }

  &__item-link,
  &__item-ellipsis {
    background-color: _lighter($_color-gray);
    color: #999;
  }

  &__item-link {
    @include _hover(lg) {
      background-color: _light($_color-gray);
      color: #fff;
    }
  }

  .#{ $_prefix }p-archive &,
  .#{ $_prefix }p-archive + & {
    @include _margin-top(1);

    @include _media-min(lg) {
      @include _margin-top(1.5);
    }
  }
}
