@import '../../../app/core/core';
@import '../../../app/foundation/_placeholder/placeholder';

.smb-section {
  @extend %section;

  &__subtitle {
    @extend %section-subtitle;
    color: var-color-accent();
  }

  &__title {
    @extend %section-title;

    &::after {
      background-color: var-color-accent();
    }

    & + .smb-section__lede-wrapper,
    & + .smb-section__lede {
      @extend %section-lede;
    }
  }

  // @deprecated
  &__title,
  &__lede-wrapper,
  &__lede {
    & + .smb-section__body {
      @extend %section-body;
    }
  }

  &__header {
    & + .smb-section__body {
      @extend %section-body;
    }
  }

  &__body {
    @extend %entry-content;
  }

  &.alignfull,
  &.alignwide {
    > .smb-section__inner {
      > .#{ $_prefix }c-container.#{ $_prefix }u-slim-width {
        @include _media-min(_rem2px($one-column-slim-max-width) + 1px) {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }
}

.smb-section__background-text__text {
  $editor-font-sizes: (
    'sm-small': 10px,
    'sm-normal': 12px,
    'sm-medium': 14px,
    'sm-large': 16px,
    'sm-xlarge': 18px,
    'sm-xxlarge': 20px,
    'sm-xxxlarge': 40px,
  );

  $editor-font-sizes-md: (
    'sm-small': 14px,
    'sm-normal': 16px,
    'sm-medium': 20px,
    'sm-large': 28px,
    'sm-xlarge': 36px,
    'sm-xxlarge': 42px,
    'sm-xxxlarge': 84px,
  );

  // @see src/css/app/foundation/_wordpress/_font-size
  @each $slug, $size in $editor-font-sizes {
    &.has-#{ $slug }-font-size {
      @include _media-only(sm) {
        @include _font-size-line-height($size);
      }

      $size-md: map-get($editor-font-sizes-md, $slug);

      @if $size != $size-md {
        @include _media-only(md) {
          @include _font-size-line-height($size-md);
        }
      }
    }
  }
}
