.smb-section {
  @extend %section;

  &__subtitle {
    @extend %section-subtitle;
    color: var-color-accent();
  }

  &__title {
    @extend %section-title;

    &::after {
      background-color: var-color-accent();
    }

    & + .smb-section__lede-wrapper,
    & + .smb-section__lede {
      @extend %section-lede;
    }
  }

  &__title,
  &__lede-wrapper,
  &__lede {
    & + .smb-section__body {
      @extend %section-body;
    }
  }

  &__body {
    @extend %entry-content;
  }

  &.alignfull,
  &.alignwide {
    .smb-section__inner {
      > .#{ $_prefix }c-container.#{ $_prefix }u-slim-width {
        @include _media-min(_rem2px($one-column-slim-max-width) + 1px) {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }
}
