@import '../../../app/core/core';
@import '../../../app/foundation/_placeholder/placeholder';

.smb-section {
	--smb-section--subtitle-color: var(--wp--preset--color--sm-accent);

	&__subtitle {
	}

	&__title {
		&::after {
			background-color: var(--wp--preset--color--sm-accent);
		}
	}

	&__body {
		@extend %entry-content;
	}
}

// @deprecated
@include _media-only(md) {
	.smb-section__background-text__text.has-sm-small-font-size{
		font-size: .875rem;
		line-height: calc(.3 + .7 / (1 + .875 * .875 / 2.5 - .875 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-normal-font-size{
		font-size: 1rem;
		line-height: calc(.3 + .7 / (1 + 1 * 1 / 2.5 - 1 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-medium-font-size{
		font-size: 1.25rem;
		line-height: calc(.3 + .7 / (1 + 1.25 * 1.25 / 2.5 - 1.25 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-large-font-size{
		font-size: 1.75rem;
		line-height: calc(.3 + .7 / (1 + 1.75 * 1.75 / 2.5 - 1.75 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-xlarge-font-size{
		font-size: 2.25rem;
		line-height: calc(.3 + .7 / (1 + 2.25 * 2.25 / 2.5 - 2.25 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-xxlarge-font-size{
		font-size: 2.625rem;
		line-height: calc(.3 + .7 / (1 + 2.625 * 2.625 / 2.5 - 2.625 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-xxxlarge-font-size{
		font-size: 5.25rem;
		line-height: calc(.3 + .7 / (1 + 5.25 * 5.25 / 2.5 - 5.25 / 2.5) + var(--_half-leading) * 2);
	}
}

// @deprecated
@include _media-only(sm) {
	.smb-section__background-text__text.has-sm-small-font-size{
		font-size: .625rem;
		line-height: calc(.3 + .7 / (1 + .625 * .625 / 2.5 - .625 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-normal-font-size{
		font-size: .75rem;
		line-height: calc(.3 + .7 / (1 + .75 * .75 / 2.5 - .75 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-medium-font-size{
		font-size: .875rem;
		line-height: calc(.3 + .7 / (1 + .875 * .875 / 2.5 - .875 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-large-font-size{
		font-size: 1rem;
		line-height: calc(.3 + .7 / (1 + 1 * 1 / 2.5 - 1 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-xlarge-font-size{
		font-size: 1.125rem;
		line-height: calc(.3 + .7 / (1 + 1.125 * 1.125 / 2.5 - 1.125 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-xxlarge-font-size{
		font-size: 1.25rem;
		line-height: calc(.3 + .7 / (1 + 1.25 * 1.25 / 2.5 - 1.25 / 2.5) + var(--_half-leading) * 2);
	}

	.smb-section__background-text__text.has-sm-xxxlarge-font-size{
		font-size: 2.5rem;
		line-height: calc(.3 + .7 / (1 + 2.5 * 2.5 / 2.5 - 2.5 / 2.5) + var(--_half-leading) * 2);
	}
}
