.#{$_prefix}c-meta {
  &__item {
    display: inline-block;

    & + & {
      padding-left: .75em;
    }

    &--author {
      img {
        @include _circle(24px);
        margin-right: 5px;
      }
    }
  }
}
