@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.c-overlay-container {
	position: fixed;
	top: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	@include core.transition(opacity);
	background-color: rgba(#000, .7);

	&:target {
		top: 0;
		z-index: 100000;
		opacity: 1;
		visibility: visible;
	}

	&__inner {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: fit-content;
		overflow: auto;

		> * {
			position: relative;
			z-index: 1;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
	}

	&__close-btn {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;
		@include core.square(60px);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--wp--preset--color--sm-text);
		color: var(--wp--preset--color--sm-text-alt);
		text-decoration: none;
	}
}
