@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../core/mixin/btn' as *;

.c-comment {
	--_border-radius: var(--_global--border-radius);

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include core.media-min(md) {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&__figure {
		margin: 0 0 20px;
		position: relative;
		flex: 0 0 auto;
		@include core.circle(60px);
		max-width: 60px;
		border: 2px solid var(--wp--preset--color--sm-lighter-gray);

		@include core.media-min(md) {
			margin: 0 20px 0 0;
		}

		> img {
			max-width: none;
			height: 56px;
			width: 56px;
			padding: 0;
		}
	}

	&__body {
		flex: 1 1 auto;
		border-radius: var(--_border-radius);
		overflow-wrap: break-word;
		padding: var(--_padding1);
		width: 100%;
		background-color: var(--wp--preset--color--sm-lightest-gray);
	}

	&__meta {
		margin: 0 0 var(--_margin-1);
		@include core.set-font-size-level(-2);

		cite {
			font-style: normal;
			font-weight: bold;
		}

		a {
			color: inherit;
			text-decoration: none;

			@include core.hover() {
				text-decoration: underline;
			}
		}
	}

	&__content {
		@include core.set-font-size-level(0);
		@include core.set-content-level(-1);
	}

	&__reply {
		text-align: right;
	}

	.comment-reply-link {
		margin: var(--_margin-1) 0 0;
		@include sm-btn();
	}
}

.bypostauthor .c-comment {
	align-items: flex-end;

	@include core.media-min(md) {
		align-items: flex-start;
		flex-direction: row-reverse;
	}

	&__figure {
		@include core.media-min(md) {
			margin: 0 0 0 20px;
		}
	}
}

.c-comment__figure + .c-comment__body {
	@include core.top-balloon((
		background-color: var(--wp--preset--color--sm-lightest-gray),
		border-color: null,
		border-size: null,
		triangle-size: 10px,
	));

	&::before,
	&::after {
		margin-left: 0;
		left: 24px;
	}

	@include core.media-min(md) {
		max-width: calc(100% - 80px);
		@include core.balloon-triangle(left, 10px, var(--wp--preset--color--sm-lightest-gray));

		&::before,
		&::after {
			top: 28px;
		}
	}
}

.bypostauthor .c-comment__figure + .c-comment__body {
	&::before,
	&::after {
		left: auto;
		right: 24px;
	}

	@include core.media-min(md) {
		@include core.balloon-triangle(right, 10px, var(--wp--preset--color--sm-lightest-gray));

		&::before,
		&::after {
			top: 28px;
		}
	}
}
