.#{ $_prefix }c-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__figure {
    margin: 0 0 20px;
    position: relative;
    flex: 0 0 auto;
    @include _circle(60px);
    max-width: 60px;
    border: 2px solid _var-lighter-color-gray();

    @include _media-min(md) {
      margin: 0 20px 0 0;
    }

    > img {
      max-width: none;
      height: 56px;
      width: 56px;
      padding: 0;
    }
  }

  &__body {
    flex: 1 1 auto;
    border-radius: _var-border-radius();
    overflow-wrap: break-word;
    @include _padding(.5);
    width: 100%;
    background-color: _var-lightest-color-gray();

    @include _media-min(md) {
      @include _padding(.75);
    }
  }

  &__meta {
    @include _margin(0, 0, .5);
    @include _font-size-line-height($_base-font-size-px - 4);
    color: _var-light-color-text();

    cite {
      font-style: normal;
      font-weight: bold;
    }

    a {
      color: inherit;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__content {
    @include _font-size-line-height($_base-font-size-px - 1);
    @include _content(.5);

    > h2 {
      @include _font-size-line-height($_h2-font-size-scale / 1.5);
    }

    > h3 {
      @include _font-size-line-height($_h3-font-size-scale / 1.5);
    }

    > h4 {
      @include _font-size-line-height($_h4-font-size-scale / 1.5);
    }

    > h5 {
      @include _font-size-line-height($_h5-font-size-scale / 1.5);
    }

    > h6 {
      @include _font-size-line-height($_h6-font-size-scale / 1.5);
    }

    > h1 {
      @include _font-size-line-height($_h1-font-size-scale / 1.5);
    }
  }

  &__reply {
    text-align: right;
  }

  .comment-reply-link {
    @include btn();
    @include _margin(.5, 0, 0);
    background-color: var-color-accent();
    border-radius: _var-border-radius();
    color: _var-color-white();
    @include _font-size-line-height($_base-font-size-px - 2);
    @include _padding(.25rem, 1rem);
  }
}

.bypostauthor .#{ $_prefix }c-comment {
  align-items: flex-end;

  @include _media-min(md) {
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  &__figure {
    @include _media-min(md) {
      margin: 0 0 0 20px;
    }
  }
}

.#{ $_prefix }c-comment__figure + .#{ $_prefix }c-comment__body {
  @include _top-balloon((
    background-color: #{ _var-lightest-color-gray() },
    border-color: null,
    border-size: null,
    triangle-size: 10px,
  ));

  &::before,
  &::after {
    margin-left: 0;
    left: 24px;
  }

  @include _media-min(md) {
    @include _balloon-triangle(left, 10px, #{ _var-lightest-color-gray() });
    max-width: calc(100% - 80px);

    &::before,
    &::after {
      top: 28px;
    }
  }
}

.bypostauthor .#{ $_prefix }c-comment__figure + .#{ $_prefix }c-comment__body {
  &::before,
  &::after {
    left: auto;
    right: 24px;
  }

  @include _media-min(md) {
    @include _balloon-triangle(right, 10px, #{ _var-lightest-color-gray() });

    &::before,
    &::after {
      top: 28px;
    }
  }
}
