.#{ $_prefix }c-comment {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include _media-min(md) {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&__figure {
		margin: 0 0 20px;
		position: relative;
		flex: 0 0 auto;
		@include _circle(60px);
		max-width: 60px;
		border: 2px solid var(--wp--preset--color--sm-lighter-gray);

		@include _media-min(md) {
			margin: 0 20px 0 0;
		}

		> img {
			max-width: none;
			height: 56px;
			width: 56px;
			padding: 0;
		}
	}

	&__body {
		flex: 1 1 auto;
		border-radius: var(--_border-radius);
		overflow-wrap: break-word;
		padding: var(--_padding1);
		width: 100%;
		background-color: var(--wp--preset--color--sm-lightest-gray);
	}

	&__meta {
		margin: 0 0 var(--_margin-1);
		@include _set-font-size-level(-2);

		cite {
			font-style: normal;
			font-weight: bold;
		}

		a {
			color: inherit;
			text-decoration: none;

			@include _hover() {
				text-decoration: underline;
			}
		}
	}

	&__content {
		@include _set-font-size-level(0);
		@include _set-content-level(-1);
	}

	&__reply {
		text-align: right;
	}

	.comment-reply-link {
		@include btn();
		margin: var(--_margin-1) 0 0;
	}
}

.bypostauthor .#{ $_prefix }c-comment {
	align-items: flex-end;

	@include _media-min(md) {
		align-items: flex-start;
		flex-direction: row-reverse;
	}

	&__figure {
		@include _media-min(md) {
			margin: 0 0 0 20px;
		}
	}
}

.#{ $_prefix }c-comment__figure + .#{ $_prefix }c-comment__body {
	@include _top-balloon((
		background-color: var(--wp--preset--color--sm-lightest-gray),
		border-color: null,
		border-size: null,
		triangle-size: 10px,
	));

	&::before,
	&::after {
		margin-left: 0;
		left: 24px;
	}

	@include _media-min(md) {
		@include _balloon-triangle(left, 10px, var(--wp--preset--color--sm-lightest-gray));
		max-width: calc(100% - 80px);

		&::before,
		&::after {
			top: 28px;
		}
	}
}

.bypostauthor .#{ $_prefix }c-comment__figure + .#{ $_prefix }c-comment__body {
	&::before,
	&::after {
		left: auto;
		right: 24px;
	}

	@include _media-min(md) {
		@include _balloon-triangle(right, 10px, var(--wp--preset--color--sm-lightest-gray));

		&::before,
		&::after {
			top: 28px;
		}
	}
}
