.wpaw-site-branding {
	&__logo {
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;
			font-weight: bold;
		}

		.custom-logo {
			height: auto;
			max-width: 100%;
			width: 100%;
		}
	}

	&__logo {
		picture {
			img {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	&__description {
		margin-top: var(--_margin-1);
		@include _set-between-content-level(-1);
	}
}
