.wpaw-site-branding {
  &__logo {
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: bold;
    }

    .custom-logo {
      height: auto;
      max-width: 100%;
    }
  }

  &__description {
    @include _margin(.75, 0, 0);
    @include _between-content(.5);
  }
}
