.wp-block-table {
	th,
	td {
		padding: var(--_padding-2);
	}

	th {
		font-weight: bold;
	}

	thead {
		background-color: var(--wp--preset--color--sm-accent);

		th {
			border: 1px solid rgba(255, 255, 255, .3);
			color: var(--wp--preset--color--sm-text-alt);
		}
	}
}
