.wp-block-table {
	th,
	td {
		border: 1px solid var(--wp--preset--color--sm-lighter-gray);
		padding: var(--_padding-2);
	}

	th {
		font-weight: bold;
	}

	thead {
		background-color: var(--wp--preset--color--sm-accent);

		th {
			border-color: rgba(255, 255, 255, .3);
			color: var(--wp--preset--color--sm-text-alt);
		}
	}
}

.wp-block-table.is-style-stripes {
	border-bottom: none;
}
