img[class*="wp-image-"],
.wp-block-image img {
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, .1),
              0 1px 3px 0 rgba(0, 0, 0, .1);

  &.noshadow {
    box-shadow: none;
  }
}

.wp-block-image figcaption {
  @include _margin(6px, 0, 0);
  color: $_color-gray;
  @include _font-size($_base-font-size-px - 2);
  @include _line-height($_base-font-size-px + 4);
  text-align: left;
}

.wp-block-image.aligncenter {
  display: table;
}

.wp-block-image.alignfull {
  @mixin alignfull-image() {
    width: 100vw;
    max-width: none;
  }

  @include _media-max(md) {
    > img {
      @include alignfull-image();
    }
  }

  [data-has-sidebar="false"] & {
    > img {
      @include alignfull-image();
    }
  }
}

.wp-block-image.alignwide {
  @mixin alignwide-image() {
    width: 100%;
    max-width: none;
  }

  @include _media-max(md) {
    > img {
      @include alignwide-image();
    }
  }

  [data-has-sidebar="false"] & {
    > img {
      @include alignwide-image();
    }
  }
}
