.#{$_prefix}c-page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include _padding(2, 0);

  &[data-has-image="true"] {
    min-height: 300px;
    @include _padding(1, 0);

    @include _media-min(md) {
      min-height: 400px;
    }

    @include _media-min(lg) {
      min-height: 500px;
    }

    .#{$_prefix}c-page-header__content {
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__meta {
    @include _margin-top(.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include _font-size-line-height(12px);
    font-weight: bold;

    a {
      @include _hover(lg) {
        opacity: .7;
      }
    }
  }
}
