.wp-profile-box {
	background-color: var(--wp--preset--color--sm-lightest-gray);
	color: var(--wp--preset--color--sm-text);

	&__title {
		border-bottom: 1px solid transparent;
		border-bottom-color: var(--wp--preset--color--sm-lighter-gray);
		@include _set-font-size-level(2);
		padding: var(--_padding-1);

		@include _media-min(md) {
			padding: var(--_padding-1) var(--_padding1);
		}
	}

	&__container {
		overflow: hidden;
		padding: var(--_padding-1);

		@include _media-min(md) {
			padding: var(--_padding-1) var(--_padding1);
		}
	}

	&__figure {
		margin: calc(var(--_half-leading) * 1rem) var(--_margin1) 0 0;

		@include _media-min(md) {
			float: left;
		}

		img {
			border-radius: 100%;
			height: auto;
			width: 48px;

			@include _media-min(md) {
				width: 96px;
			}
		}
	}

	&__body {
		overflow: hidden;
	}

	&__name {
		margin-bottom: var(--_margin-2);
		@include _set-font-size-level(0);
	}

	&__content {
		@include _set-content-level(-1);
		@include _set-font-size-level(-1);
	}

	&__sns-accounts {
		margin-top: var(--_margin-2);
		@include _list-unstyled();
		overflow: hidden;
	}

	&__sns-accounts-item {
		margin-right: .5em;
		display: inline-block;
		@include _set-font-size-level(-2);
		font-weight: bold;

		a {
			color: inherit;
			text-decoration: none;

			@include _hover() {
				text-decoration: underline;
			}

			svg {
				margin-right: 3px;
			}
		}
	}

	&__buttons {
		margin-top: var(--_margin-1);
		padding-bottom: 1px;
	}

	&__detail-btn,
	&__archives-btn {
		@include btn();
	}

	&__detail-btn {
		margin-right: .5em;
		border: 1px solid transparent;
		border-color: var(--wp--preset--color--sm-accent);
	}

	&__archives-btn {
		background-color: var(--wp--preset--color--sm-text-alt);
		border: 1px solid transparent;
		border-color: var(--wp--preset--color--sm-accent);
		color: var(--wp--preset--color--sm-accent);
	}
}
