.wpco {
  background-color: _lightest($_color-gray);
  border: 1px solid _lighter($_color-gray);
  @include _padding(.5, .5, .25);
  visibility: hidden;

  .wpco-wrapper[aria-hidden="false"] & {
    visibility: visible;
  }

  @include _media-min(md) {
    @include _padding(.5, 1, .25);
  }

  &__title {
    @include _margin(0, 0, .25);
    @include _font-size-line-height($_base-font-size-px);
  }

  .contents-outline {
    ol {
      @include _list-unstyled();
      counter-reset: wpco;
      border-top: 1px dotted _lighter($_color-gray);
    }

    li {
      &:not(:first-child) {
        border-top: 1px dotted _lighter($_color-gray);
      }

      ol {
        margin-top: -1px;
      }
    }

    a {
      display: inline-flex;
      color: $_color-text;
      @include _padding(.25, 0);
      text-decoration: none;
      @include _transition(opacity);

      @include _hover(lg) {
        opacity: .8;
      }

      &::before {
        flex: 0 0 auto;
        align-self: flex-start;
        @include _margin(calc(#{$_between-lines} - 1px), .25, 0, 0);
        display: inline-block;
        background-color: $color-accent;
        color: #fff;
        font-size: 10px;
        line-height: 1;
        padding: .25em .55em .35em .55em;
        counter-increment: wpco;
        content: counter(wpco);
      }
    }

    li li > a { padding-left: 1.5em; }
    li li li > a { padding-left: 3em; }
    li li li li > a { padding-left: 4.5em; }
    li li li li li > a { padding-left: 6em; }
  }
}
