.wpco {
  background-color: #fcfcfc;
  border: 1px solid _lighter($_color-gray);
  @include _padding(.5, .5, .25);
  display: none;

  @include _media-min(md) {
    @include _padding(.5, 1, .25);
  }

  &[aria-hidden="false"] {
    display: block;
  }

  &__title {
    @include _margin(0, 0, .25);
    @include _font-size-line-height($_base-font-size-px);
  }

  &__body {
    ol {
      @include _list-unstyled();
      @include _margin-top(.25);
      counter-reset: wpco;
    }

    li {
      border-top: 1px dotted _lighter($_color-gray);
      @include _padding(.25, 0);

      ol {
        @include _margin-bottom(-.25);
      }
    }

    a {
      display: inline-block;
      color: $_color-text;
      text-decoration: none;

      @include _hover() {
        text-decoration: underline;
      }

      &::before {
        @include _position(relative, -2px);
        @include _margin(0, .25, 0, 0);
        display: inline-block;
        background-color: $color-accent;
        color: #fff;
        font-size: 10px;
        line-height: 1;
        padding: .25em .5em .35em .5em;
        counter-increment: wpco;
        content: counters(wpco, "-") " ";
      }
    }

    li li > a { padding-left: 1em; }
    li li li > a { padding-left: 2em; }
    li li li li > a { padding-left: 3em; }
    li li li li li > a { padding-left: 4em; }
  }
}
