.#{ $_prefix }p-social-nav {
  background-color: _lightest($_color-gray); // For IE11
  background-color: _var-lightest-color-gray();
  border-top: 1px solid transparent;
  border-top-color: _lightest($_color-gray); // For IE11
  border-top-color: _var-lightest-color-gray();
  @include _padding(1, 0);

  &__inner {
    display: flex;
    justify-content: center;
  }

  .#{ $_prefix }c-navbar {
    flex-wrap: wrap;

    &__item {
      flex: 0 0 auto;
      margin: .25em .5em;
    }
  }

  a {
    flex: none;
    color: $_color-gray; // For IE11
    color: _var-color-gray();
    display: block;
    line-height: 1;
    overflow: hidden;
    text-decoration: none;
  }

  svg {
    display: inline-block;
    height: 1em;
    width: 0.875em;
    vertical-align: -0.125em;
  }

  .fa-amazon {
    color: #ff9900;
  }

  .fa-bitbucket {
    color: #0052cc;
  }

  .fa-paypal {
    color: #012f87;
	}

  .fa-stripe {
    color: #635BFF;
  }

  .fa-codepen {
    color: #000;
  }

  .fa-dribbble {
    color: #ea4c89;
  }

  .fa-dropbox {
    color: #0061ff;
  }

  .fa-facebook {
    color: #0276FB;
  }

  .fa-flickr {
    color: #000;
  }

  .fa-github {
    color: #171515;
  }

  .fa-gitlab {
    color: #fca121;
  }

  .fa-google {
    color: #4285F4;
  }

  .fa-instagram {
    color: #ef0175;
  }

  .fa-linkedin {
    color: #0a66c2;
  }

  .fa-medium {
    color: #000;
  }

  .fa-pinterest {
    color: #e60023;
  }

  .fa-reddit {
    color: #ff4500;
  }

  .fa-skype {
    color: #0078d7;
  }

  .fa-slack {
    color: #000;
  }

  .fa-slideshare {
    color: #0277b5;
  }

  .fa-snapchat {
    color: #fffc00;
  }

  .fa-stack-overflow {
    color: #f48023;
  }

  .fa-tumblr {
    color: #000;
  }

  .fa-vimeo {
    color: #1ab7ea;
  }

  .fa-twitter {
    color: #1da1f2;
  }

  .fa-wordpress {
    color: #0073aa;
  }

  .fa-youtube {
    color: #f00;
  }

  .fa-spotify {
    color: #1ed760;
  }

  .fa-foursquare {
    color: #2d5be3;
  }

  .fa-line {
    color: #00b900;
  }

  .fa-app-store {
    color: #000;
  }

  .fa-google-play {
    color: #000;
  }

  .fa-twitch {
    color: #9146ff;
  }

  .fa-discord {
    color: #7289da;
  }

  .fa-apple {
    color: #000;
  }
}
