@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../core/mixin/cover-img' as *;

.c-page-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	padding-top: var(--_padding2);
	padding-bottom: var(--_padding2);

	&[data-has-image="true"] {
		height: clamp(300px, 62.5vw, 500px);

		.c-page-header__content {
			color: var(--wp--preset--color--white);
		}
	}

	&[data-align="center"] {
		justify-content: center;

		.c-page-header__content {
		align-items: center;
		}
	}

	&[data-align="right"] {
	justify-content: flex-end;

		.c-page-header__content {
		align-items: flex-end;
		}
	}

	.c-container {
		flex: 1 1 auto;
	}

	&__bgimage {
		@include cover-img();

		& {
			position: absolute;
			inset: 0;
		}
	}

	&__bgimage-caption {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		color: var(--wp--preset--color--white);
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);
	}

	&__content {
		position: relative;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;

		a {
			color: inherit;
			text-decoration: none;

			@include core.hover() {
				text-decoration: underline;
			}
		}
	}

	&__meta {
		margin-top: var(--_margin-2);
		@include core.set-font-size-level(-1);
		font-weight: bold;
	}
}
