.wp-block-latest-posts {
  @include widget-list-base();

  &__post-date {
    @include _font-size-line-height($_base-font-size-px - 4);
  }

  &__post-excerpt {
    margin: 0;
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  &.is-grid {
    @include _row();
    @include _row--margin(.25);

    &.alignright,
    &.alignleft {
      float: none;
    }

    > li {
      margin: 0;
      width: auto;
      @include _row__col(1, 1);
      @include _row__col--margin(.25);
    }

    @include _media-min(md) {
      @include _row--margin(1);

      @for $i from 2 through 6 {
        &.columns-#{$i} {
          > li {
            $width: percentage(1 / $i);
            @include _row__col--width($width);
            @include _row__col--margin(1);
          }
        }
      }
    }
  }
}
