@mixin alignfull() {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: auto;
  max-width: none;
}

@mixin alignwide() {
  @include _container();
  @include alignfull();
  position: relative;
  right: -50vw;
  transform: translateX(-50%);
  max-width: $_container-max-width;
}

@mixin container-slim-width() {
  @include _media-min(lg) {
    margin-right: auto;
    margin-left: auto;
    max-width: $one-column-slim-max-width;
    padding-right: 0;
    padding-left: 0;
  }
}
