@mixin alignfull() {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: auto;
  max-width: none;
}

@mixin alignwide() {
  margin-right: _space(2) * -1;
  margin-left: _space(2) * -1;
  width: auto;
  max-width: none;
}

@mixin container-slim-width() {
  @include _media-min(lg) {
    margin-right: auto;
    margin-left: auto;
    max-width: $one-column-slim-max-width;
    padding-right: 0;
    padding-left: 0;
  }
}
