@mixin btn() {
  @include _btn();
  background-color: $color-accent;
  border: none;
  border-radius: $_border-radius;
  color: #fff;
  @include _padding(.5, 1.25);
  @include _transition(background-color);

  @include _hover(lg) {
    background-color: darken($color-accent, 5%);
  }
}
