@mixin container-padding() {
  padding-right: $_container-margin;
  padding-left: $_container-margin;

  padding-right: calc(#{ _var-container-margin() } + constant(safe-area-inset-right));
  padding-left: calc(#{ _var-container-margin() } + constant(safe-area-inset-left));

  padding-right: calc(#{ _var-container-margin() } + env(safe-area-inset-right));
  padding-left: calc(#{ _var-container-margin() } + env(safe-area-inset-left));
}

@mixin container-slim-width() {
  @include _media-min(lg) {
    margin-right: auto;
    margin-left: auto;
    max-width: $one-column-slim-max-width;
    padding-right: 0;
    padding-left: 0;
  }
}
