@mixin container-padding() {
  padding-right: $_container-margin;
  padding-left: $_container-margin;

  padding-right: calc(#{ _var-container-margin-sm() } + constant(safe-area-inset-right));
  padding-left: calc(#{ _var-container-margin-sm() } + constant(safe-area-inset-left));

  padding-right: calc(#{ _var-container-margin-sm() } + env(safe-area-inset-right));
  padding-left: calc(#{ _var-container-margin-sm() } + env(safe-area-inset-left));

  @supports (-ms-ime-align: auto) {
    padding-right: #{ _var-container-margin-sm() }; // for Edge
    padding-left: #{ _var-container-margin-sm() }; // for Edge
  }

  @include _media-min(md) {
    padding-right: $_container-margin * 2;
    padding-left: $_container-margin * 2;

    padding-right: calc(#{ _var-container-margin() } + constant(safe-area-inset-right));
    padding-left: calc(#{ _var-container-margin() } + constant(safe-area-inset-left));

    padding-right: calc(#{ _var-container-margin() } + env(safe-area-inset-right));
    padding-left: calc(#{ _var-container-margin() } + env(safe-area-inset-left));

    @supports (-ms-ime-align: auto) {
      padding-right: #{ _var-container-margin-sm() }; // for Edge
      padding-left: #{ _var-container-margin-sm() }; // for Edge
    }
  }
}

@mixin container-slim-width() {
  @include _media-min(lg) {
    margin-right: auto;
    margin-left: auto;
    max-width: $one-column-slim-max-width;
    padding-right: 0;
    padding-left: 0;
  }
}
