@mixin entry-content($coefficient: 1) {
  @include _content($coefficient);

  > h2 + h3,
  > h3 + h4,
  > h4 + h5,
  > h5 + h6 {
    margin-top: 0;
  }

  > h2 {
    border-left: $border-bottom-width solid transparent;
    border-left-color: var-color-accent();
    background-color: _lightest($_color-gray);
    color: $_color-text;
    @include _padding(.25, .25, .25, .5);
  }

  > h3 {
    border-bottom: 1px solid _lighter($_color-gray);
    @include _padding(0, 0, .25);
  }

  > table {
    @extend %table;
  }

  > ul,
  > ol, {
    > li {
      & + li {
        @include _margin-top(.25);
      }
    }
  }

  > blockquote {
    @extend %blockquote;
  }
}
