@mixin table() {
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 1px solid _lighter($_color-gray);
    @include _padding(.25, .5);
  }

  th {
    font-weight: bold;
  }

  thead {
    th {
      background-color: var-color-accent();
      border-right: 1px solid transparent;
      border-right-color: var-color-accent-light();
      border-left: 1px solid transparent;
      border-left-color: var-color-accent-light();
      color: #fff;
    }
  }

  tbody {
    th {
      background-color: var-color-accent-lightest();
      color: $_color-text;
      text-align: left;
    }
  }

  figcaption {
    @include figcaption();
  }
}
