.#{$_prefix}p-global-nav {
  &[aria-hidden="true"] {
    visibility: hidden;
  }

  .#{$_prefix}c-navbar {
    &__item {
      > a {
        color: $_color-text;
        @include _font-size-line-height($_base-font-size-px - 2);
        font-weight: bold;
        @include _padding(1, .75);
      }

      &[class*="current_"],
      &[class*="current-"] {
        > a {
          color: $color-accent;
        }
      }

      @include _hover(lg) {
        > a {
          color: $color-accent;
        }
      }

      > .#{$_prefix}c-navbar__submenu {
        left: 50%;
        transform: translateX(-50%);
        &::before {
          content: '';
          display: block;
          @include _triangle-top(16px, 10px, $color-accent);
          position: absolute;
          top: -10px;
          left: calc(50% - 8px);
        }
      }
    }

    &__submenu {
      background-color: $color-accent;
      z-index: 1;
    }

    &__subitem {
      @include _font-size-line-height($_base-font-size-px - 2);

      @include _hover(lg) {
        background-color: rgba(#fff, .05);
      }

      > a {
        color: #fff;
        @include _padding(.5rem, 1rem);
      }
    }
  }
}
