.snow-monkey-posts {
  &__title {
    @include section-title();
  }

  &__action {
    @include _margin(1, 0, 0);
    text-align: center;

    @include _media-min(lg) {
      @include _margin(1.5, 0, 0);
    }
  }

  &__more {
    @extend .#{$_prefix}c-btn;
    font-weight: bold;
    width: auto;
  }

  [data-is-slim-widget-area="true"] & {
    @include _media-min(lg) {
      .#{$_prefix}c-entries--rich-media {
        .#{$_prefix}c-entries__item {
          @include _row__col(1, 2);

          @include _media-min(lg) {
            @include _row__col(1, 1);
          }
        }
      }

      .#{$_prefix}c-entries--simple {
        .#{$_prefix}c-entries__item {
          &:first-child {
            > a {
              border-top: none;
              padding-top: 0;
            }
          }
        }

        .#{$_prefix}c-entry-summary__term {
          @include _media-min(lg) {
            display: none;
          }
        }

        .#{$_prefix}c-entry-summary__figure {
          @include _media-min(lg) {
            @include _margin-right(.5);
          }
        }
      }

      .#{$_prefix}c-entry-summary {
        &__title {
          @include _font-size($_base-font-size);
          @include _line-height($_base-font-size * 1.5);
        }
      }
    }
  }
}
