.#{$_prefix}c-widget {
  &__title {
    position: relative;
    @include _margin(0, 0, .5);
    @include _font-size-line-height($_base-font-size-px);
    font-weight: bold;
    text-align: center;

    &::before {
      position: absolute;
      top: calc(50% - 1.5px);
      right: 0;
      left: 0;
      display: block;
      content: '';
      height: 3px;
      background-color: $_color-black;
    }

    span {
      position: relative;
      display: inline-block;
      background-color: #fff;
      padding: 0 .5em;
    }
  }

  .#{$_prefix}l-footer-widget-area & {
    @include _font-size-line-height($_base-font-size-px - 2);

    &__title {
      @include _margin(0, 0, .25);
      @include _font-size-line-height($_base-font-size-px);
      font-weight: bold;
    }
  }
}

/**
 * Unstyled list base style
 */
@mixin widget-list-base() {
  @include _list-unstyled();

  > li + li {
    @include _margin(.25, 0, 0);
  }
}

/**
 * Text link base style
 */
@mixin widget-link-base() {
  color: $_color-text;
  text-decoration: none;

  @include _hover(lg) {
    text-decoration: underline;
  }
}

/**
 * Item has children expander
 */
@mixin widget-has-children-expander() {
  position: relative;

  @include _hover(lg) {
    .children-expander {
      opacity: 1;
      visibility: visible;
    }
  }
}

/**
 * Children
 */
@mixin widget-children() {
  @keyframes widget_children_show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  display: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  @include _margin(.25, 0, 0);
  @include _padding(.25, 0);

  &[data-is-hidden="false"] {
    display: block;
    animation: widget_children_show .5s;
  }
}

/**
 * wpaw posts list base
 */
@mixin wpaw-posts-list-base() {
  &__item {
    &:not(:first-child) {
      @include _margin(.5, 0, 0);
    }

    > a {
      color: $_color-text;
      @include _transition(color);

      @include _hover(lg) {
        color: $_color-gray;
      }
    }
  }

  &__title {
    @include _margin(0, 0, .25);
    @include _font-size($_base-font-size-px - 2);
    @include _line-height($_base-font-size-px + 4);
  }

  &__taxonomy {
    margin: 0 0 3px;
    line-height: 1;
  }

  &__term {
    background-color: $color-accent;
  }

  &__date {
    @include _font-size-line-height(11px);
  }
}

/**
 * Full width
 */
@mixin widget-full-width() {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

@import 'children-expander';
@import 'widget-meta';
@import 'widget-recent-entries';
@import 'widget-recent-comments';
@import 'widget-archive';
@import 'widget-categories';
@import 'widget-pages';
@import 'widget-nav-menu';
@import 'widget-calendar';
@import 'widget-tag-cloud';
@import 'widget-text';
@import 'wpaw-recent-posts';
@import 'wpaw-any-posts';
@import 'wpaw-ranking';
@import 'wpaw-pr-box';
@import 'wpaw-showcase';
@import 'wpaw-slider';
@import 'wpaw-site-branding';
@import 'wpaw-taxonomy-posts';
@import 'wpaw-pickup-slider';

@import 'snow-monkey-recent-posts';
