.widget_inc2734_wp_awesome_widgets_slider {
  padding: 0;
}

.wpaw-slider {
  // front page widget area
  .#{$_prefix}l-body--one-column-fluid .#{$_prefix}l-front-page-widget-area & {
    @include widget-full-width();
  }

  .slick-dotted.slick-slider {
    margin: 0;
  }

  .slick-dots {
    bottom: 10px;
  }
}
