.widget_inc2734_wp_awesome_widgets_pr_box {
  padding: 0;
}

.wpaw-pr-box {
  // font page widget area
  .#{$_prefix}c-section & {
    @include widget-full-width();

    @include _padding(1, 0);

    @include _media-min(lg) {
      @include _padding(2, 0);
    }

    &__inner {
      @include _container();
    }

    &__title {
      margin: 0;
    }
  }

  // not front page widget area
  .#{$_prefix}c-widget & {
    @include _padding(.5);

    @include _media-min(lg) {
      @include _padding(1);
    }
  }

  &__title {
    margin: 0;
  }

  &__lead {
    @include _content(.5);
    @include _margin(.75, 0, 0);
    @include _font-size-line-height($_base-font-size-px - 2);
    color: _light($_color-text);
  }

  &__row {
    @include _margin-top(1);
  }

  &__item-figure {
    @include _margin-bottom(.25);

    @include _media-min(lg) {
      @include _margin-bottom(.75);
    }
  }

  &__item-summary {
    @include _content(.5);
    @include _font-size-line-height($_base-font-size-px - 2);

    @include _media-min(lg) {
      @include _margin-top(.25);
    }
  }

  &__action {
    @include _margin(1.5, 0, 0);
  }

  &__more {
    @include btn();
    @include _padding(.5, 1);

    @include _media-min(lg) {
      @include _padding(.5, 2);
    }
  }
}
