.widget_inc2734_wp_awesome_widgets_showcase {
  padding: 0;
}

.wpaw-showcase {
  // front page widget area
  .#{$_prefix}c-section & {
    @include widget-full-width();
  }

  background-attachment: scroll;
  @include _padding(1.5, 0);

  @include _media-min(lg) {
    background-attachment: fixed;
    @include _padding(2, 0);
  }

  &__inner {
    @include _media-min(md) {
      @include _margin(0, -1);
    }
  }

  &__body {
    @include _content(.5);

    @include _media-min(md) {
      @include _content(1);
      @include _padding(0, 1);
    }
  }

  &__figure {
    @include _margin(1, 0, 0);

    @include _media-min(md) {
      margin: 0;
      @include _padding(0, 1);
    }
  }

  &__lead {
    @include _content();
  }

  &__more {
    @include btn();
    white-space: normal;
    @include _font-size-line-height($_base-font-size-px);
    @include _padding(.25, 1);

    @include _media-min(md) {
      @include _padding(.25, 2);
    }
  }

  &--format-1,
  &--format-2 {
    .wpaw-showcase {
      &__figure {
        flex: 1 0 auto;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        @include _media-min(md) {
          margin-right: 0;
          margin-left: 0;
          max-width: 50%;
        }
      }
    }
  }

  &--format-3 {
    .wpaw-showcase {
      &__body {
        @include _margin-bottom(1);
      }
    }
  }

  .#{$_prefix}l-body--right-sidebar &,
  .#{$_prefix}l-body--left-sidebar & {
    @include _media-min(lg) {
      @include _padding(1, 0);
    }

    &__inner {
      @include _media-min(md) {
        @include _margin(0, -.5);
      }
    }

    &__body {
      @include _media-min(md) {
        @include _padding(0, .5);
      }
    }

    &__figure {
      @include _media-min(md) {
        @include _padding(0, .5);
      }
    }

    &__more {
      @include _media-min(md) {
        @include _padding(.25, 1);
      }
    }
  }
}
