.widget_inc2734_wp_awesome_widgets_slider {
  padding: 0;
}

.wpaw-slider {
  &__item-body {
    @include _position(absolute, 0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    > * {
      flex: 0 1 auto;
    }
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    @include _padding(0, 1);

    > * {
      flex: 0 1 auto;

      @include _media-min(md) {
        max-width: _strip-unit(map-get($_sizes, md)) * 1rem;
      }

      @include _media-min(lg) {
        max-width: _strip-unit(map-get($_sizes, lg)) * 1rem;
      }
    }
  }

  &__item-title {
    color: #fff;
    font-weight: bold;
    @include _font-size($_base-font-size * 1.5);
    @include _line-height($_base-font-size * 2);
    @include _margin(0, 0, .25);

    @include _media-min(md) {
      @include _font-size-line-height($_base-font-size * 2);
    }

    @include _media-min(lg) {
      @include _font-size-line-height($_base-font-size * 3);
    }
  }

  &__item-summary {
    color: #fff;
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  &__item-more {
    @include _margin-top(1);
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    @include _font-size-line-height($_base-font-size-px - 2);
    @include _padding(.25, 1);
    text-decoration: none;

    @include _media-min(lg) {
      opacity: .8;
      @include _transition(opacity);
    }

    @include _hover() {
      opacity: 1;
    }
  }

  .slick-dotted.slick-slider {
    margin: 0;
  }

  .slick-dots {
    bottom: 10px;
  }

  @include _media-max(sm) {
    .slick-slide {
      height: 70vh;

      @include _media-min(lg) {
        min-height: 650px;
      }

      &::before {
        display: none;
      }
    }
  }

  // front page widget area
  .#{$_prefix}l-body--one-column-fluid .#{$_prefix}l-front-page-widget-area & {
    @include widget-full-width();
  }
}
