.widget_inc2734_wp_awesome_widgets_showcase {
  padding: 0;
}

@mixin showcase-md-width() {
  &--format-1,
  &--format-2 {
    .wpaw-showcase__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .wpaw-showcase__figure {
      flex: 1 0 auto;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      max-width: 50%;
      flex-wrap: nowrap;
    }

    .wpaw-showcase__body {
      flex: 1 1 0;
    }

    .wpaw-showcase__action {
      text-align: left;
    }
  }

  &--format-1 {
    .wpaw-showcase__inner {
      flex-direction: row;
    }
  }

  &--format-2 {
    .wpaw-showcase__inner {
      flex-direction: row-reverse;
    }
  }

  &--format-3 {
    .wpaw-showcase__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.wpaw-showcase {
  background-attachment: scroll;
  @include _padding(.75, 0);

  @include _media-min(md) {
    @include _padding(1, 0);
  }

  .wpaw-showcase__inner {
    @include _margin(0, -.5);

    @include _media-min(md) {
      @include _margin(0, -1);
    }
  }

  &__body {
    @include _content(.5);
    @include _padding(0, .5);

    @include _media-min(md) {
      @include _content(1);
      @include _padding(0, 1);
    }
  }

  &__figure {
    @include _margin(1, 0, 0);
    @include _padding(0, .5);

    @include _media-min(md) {
      @include _padding(0, 1);
    }
  }

  &__lead {
    @include _content(.5);

    @include _media-min(md) {
      @include _content(1);
    }
  }

  &__more {
    @include btn();
    white-space: normal;
    @include _font-size-line-height($_base-font-size-px);
    @include _padding(.25, 1);

    @include _media-min(md) {
      @include _padding(.25, 2);
    }
  }

  &--format-3 {
    .wpaw-showcase__figure {
      @include _margin-bottom(-.75);

      @include _media-min(md) {
        @include _margin-bottom(-1);
      }
    }
  }

  @include _media-only(md) {
    @include showcase-md-width();
  }

  // front page widget areas
  .#{$_prefix}c-section & {
    @include widget-full-width();
  }

  // main area widget areas
  .#{$_prefix}l-contents__main & {
    @include _media-min(md) {
      @include showcase-md-width();
    }

    @include _media-min(lg) {
      @include _padding(2, 0);
    }

    &__figure {
      @include _media-min(lg) {
        @include _margin-bottom(-2);
      }
    }
  }
}
