.widget_inc2734_wp_awesome_widgets_slider {
  padding: 0;
}

.wpaw-slider {
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-body {
    position: relative;
    max-width: 100%;
    @include _padding(1);

    @include _media-min(md) {
      width: _strip-unit(map-get($_sizes, md)) * 1rem;
    }

    @include _media-min(lg) {
      width: _strip-unit(map-get($_sizes, lg)) * 1rem;
    }
  }

  &__item-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include _padding(0, 1);

    > * {
      flex: 0 1 auto;
      max-width: 100%;
    }
  }

  &__item-title {
    font-weight: bold;
    @include _font-size($_base-font-size * 1.5);
    @include _line-height($_base-font-size * 2);
    @include _margin(0, 0, .25);
  }

  &__item-summary {
    @include _content(.5);
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  &__item-more {
    @include _margin-top(1);
    display: inline-block;
    background-color: transparent;
    border-radius: 30px;
    @include _font-size-line-height($_base-font-size-px - 2);
    @include _padding(.25, 1);
    text-decoration: none;

    @include _media-min(lg) {
      opacity: .8;
      @include _transition(opacity);
    }

    @include _hover() {
      opacity: 1;
    }
  }

  // @see https://github.com/kenwheeler/slick/issues/1868
  .slick-slider {
    overflow: hidden;
    .slick-list {
      margin-right: -1px;
    }
  }

  .slick-dotted.slick-slider {
    margin: 0;
  }

  .slick-dots {
    bottom: 10px;
  }

  .slick-slide {
    &::before {
      display: none;
    }
  }

  // Main area widget areas of 1column templates
  .#{$_prefix}l-body--one-column .#{$_prefix}l-archive-top-widget-area &,
  .#{$_prefix}l-body--one-column .#{$_prefix}l-front-page-widget-area &,
  .#{$_prefix}l-body--one-column-slim .#{$_prefix}l-archive-top-widget-area &,
  .#{$_prefix}l-body--one-column-slim .#{$_prefix}l-front-page-widget-area &,
  .#{$_prefix}l-body--one-column-fluid .#{$_prefix}l-archive-top-widget-area &,
  .#{$_prefix}l-body--one-column-fluid .#{$_prefix}l-front-page-widget-area &,
  .#{$_prefix}l-body--one-column-full .#{$_prefix}l-archive-top-widget-area &,
  .#{$_prefix}l-body--one-column-full .#{$_prefix}l-front-page-widget-area & {
    @include widget-full-width();

    &__item-title {
      @include _media-min(md) {
        @include _font-size-line-height($_base-font-size * 2);
      }

      @include _media-min(lg) {
        @include _font-size-line-height($_base-font-size * 3);
      }
    }
  }
}
