@charset 'utf-8';

$_font-path: false;
$img-path: '../../../img';
@import '../../core/core';
@import '../../foundation/_placeholder/placeholder';

@import 'btn-box/block';
@import 'box/block';
@import 'section/block';
@import 'section-with-image/block';
@import 'section-break-the-grid/block';
@import 'media-text/block';
@import 'accordion/block';
@import 'step/block';
@import 'container/block';
