.wp-block-heading.is-style-plain {
	--entry-content-h2-background-color: transparent;
	--entry-content-h2-border-left: none;
	--wp--preset--color--sm-text: inherit;
	--entry-content-h2-padding: 0;
	--entry-content-h3-border-bottom: none;
	--entry-content-h3-padding: 0;
}
