.#{ $_prefix }c-copyright {
  background-color: $_color-black; // For IE11
  background-color: _var-color-black();
  color: _light($_color-gray); // For IE11
  color: _var-light-color-gray();
  @include _font-size-line-height($_base-font-size-px - 2);
  @include _padding(.5, 0);

  a {
    color: inherit;
    text-decoration: none;

    @include _hover(lg) {
      text-decoration: underline;
    }
  }
}

body:not([style*="margin-bottom"]) .#{ $_prefix }l-footer .#{ $_prefix }c-copyright {
  padding-bottom: calc(#{ _space(.5) } + constant(safe-area-inset-bottom)); // for IE11
  padding-bottom: calc(#{ _space(.5) } + env(safe-area-inset-bottom)); // for IE11

  padding-bottom: calc(#{ _var-space() } * .5 + constant(safe-area-inset-bottom));
  padding-bottom: calc(#{ _var-space() } * .5 + env(safe-area-inset-bottom));

  @supports (-ms-ime-align: auto) {
    padding-bottom: calc(#{ _var-space() } * .5); // for Edge
  }
}
