@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../app/placeholder/entry-content';
@use '../../app/placeholder/widget';

.wp-block-latest-posts {
	@extend %widget-list-base;
	margin-left: auto;

	&__post-date {
		@include core.set-font-size-level(-2);
	}

	&__post-excerpt {
		margin: 0;
		@include core.set-font-size-level(-1);
	}

	&__post-full-content {
		margin-top: var(--_margin-2);
		@extend %entry-content;

		// For editor
		> div:not([class]) {
			@extend %entry-content;
		}
	}
}

ul.wp-block-latest-posts {
	&.is-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: var(--_margin-2);

		> li {
			margin: 0;
			width: auto;
		}

		@include core.media-min(600px) {
			gap: var(--_margin1);

			@for $i from 2 through 6 {
				&.columns-#{ $i } {
					grid-template-columns: repeat(#{ $i }, 1fr);
				}
			}
		}
	}
}
