.#{ $_prefix }p-related-posts {
	.#{ $_prefix }c-entries--rich-media {
		@include _media-min(lg) {
			--entries--item-width: 25%;
		}

		.#{ $_prefix }c-entry-summary {
			&__content {
				display: none;
			}
		}
	}

	.#{ $_prefix }c-entry-summary {
		&__title {
			margin-bottom: var(--_margin-2);
			@include _set-font-size-level(0);
		}
	}
}
