.#{$_prefix}c-drawer {
  z-index: 100000;
  background-color: $color-accent;
  @include _font-size-line-height($_base-font-size-px - 2);

  > .#{$_prefix}c-drawer__menu:last-child,
  > .#{$_prefix}c-drawer__sub-nav:last-child {
    @include _padding(0, 0, .5);
  }

  &, a {
    color: #fff;
  }

  &__body {
    z-index: 100000;
  }

  &__toggle {
    @include _transition(transform);
    transform: rotate(90deg);

    &[aria-expanded="true"] {
      transform: rotate(-90deg);
    }
  }

  &__item {
    @include _padding(.5, .5, 0);
  }

  &__submenu {
    @include _margin-right(-.5);
  }

  &__sub-nav {
    @include _font-size-line-height($_base-font-size-px - 4);

    * + & {
      @include _margin-top(.5);
      @include _padding-top(.25);
      border-top: 1px solid rgba(#fff, .4);
    }

    .#{$_prefix}c-drawer__item {
      @include _padding-top(.25);
    }

    .#{$_prefix}c-drawer__submenu {
      @include _margin-right(-.25);
    }
  }
}

@supports (padding-left: constant(safe-area-inset-left)) or (padding-left: env(safe-area-inset-left)) {
  [id="drawer-nav"] {
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    width: calc(#{$_base-line-height * 10} + constant(safe-area-inset-left));
    width: calc(#{$_base-line-height * 10} + env(safe-area-inset-left));
  }
}
