.#{ $_prefix }c-drawer {
  $drawer-font-size: $_base-font-size-px - 2;

  z-index: 100000;
  background-color: var-color-accent();
  color: #fff;
  @include _font-size-line-height($drawer-font-size);

  > .#{ $_prefix }c-drawer__menu:last-child,
  > .#{ $_prefix }c-drawer__sub-nav:last-child {
    @include _padding(0, 0, .5);
  }

  a {
    color: inherit;
  }

  .#{$_prefix}c-ic-angle-right {
    transform: translateY(0) translateX(-.15em);

    &::before {
      border-color: #fff;
    }
  }

  &__toggle {
    @include _square(_px2rem(_vertical-rhythm($drawer-font-size)));
    @include _transition(transform);
    transform: rotate(90deg);

    &[aria-expanded="true"] {
      transform: rotate(-90deg);
    }
  }

  &__item {
    @include _padding(.5, .5, 0);
  }

  &__submenu {
    @include _margin-right(-.5);
  }

  &__sub-nav {
    @include _font-size-line-height($_base-font-size-px - 4);

    * + & {
      @include _margin-top(.5);
      @include _padding-top(.25);
      border-top: 1px solid rgba(#fff, .4);
    }

    .#{ $_prefix }c-drawer__item {
      @include _padding-top(.25);
    }

    .#{ $_prefix }c-drawer__submenu {
      @include _margin-right(-.25);
    }
  }
}

[id="drawer-nav"] {
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  width: calc(#{ $_base-line-height * 10 } + constant(safe-area-inset-left));
  width: calc(#{ $_base-line-height * 10 } + env(safe-area-inset-left));
}
