.#{$_prefix}c-drawer {
  z-index: 100000;
  background-color: $color-accent;
  @include _font-size-line-height($_base-font-size-px - 2);

  &, a {
    color: #fff;
  }

  &__body {
    z-index: 100000;
  }

  &__toggle {
    @include _transition(transform);
    transform: rotate(90deg);

    &[aria-expanded="true"] {
      transform: rotate(-90deg);
    }
  }

  &__item {
    @include _padding(.5, .5, 0);
  }

  &__submenu {
    @include _margin-right(-.5);
  }

  &__sub-nav {
    @include _font-size-line-height($_base-font-size-px - 4);

    * + & {
      @include _margin-top(.5);
      @include _padding-top(.25);
      border-top: 1px solid rgba(#fff, .4);
    }

    .#{$_prefix}c-drawer__item {
      @include _padding-top(.25);
    }

    .#{$_prefix}c-drawer__submenu {
      @include _margin-right(-.25);
    }
  }
}
