@function var-body-margin-left() {
  @return var(--body-margin-left, 0px);
}

@function var-color-accent() {
  @return var(--accent-color, #{ $color-accent });
}

@function var-color-accent-dark() {
  @return var(--dark-accent-color, #{ _dark($color-accent) });
}

@function var-color-accent-light() {
  @return var(--light-accent-color, #{ _light($color-accent) });
}

@function var-color-accent-lighter() {
  @return var(--lighter-accent-color, #{ _lighter($color-accent) });
}

@function var-color-accent-lightest() {
  @return var(--lightest-accent-color, #{ _lightest($color-accent) });
}

@function var-color-sub-accent() {
  @return var(--sub-accent-color);
}

@function var-color-sub-accent-dark() {
  @return var(--dark-sub-accent-color);
}

@function var-color-sub-accent-light() {
  @return var(--light-sub-accent-color);
}

@function var-color-sub-accent-lighter() {
  @return var(--lighter-sub-accent-color);
}

@function var-color-sub-accent-lightest() {
  @return var(--lightest-sub-accent-color);
}

@function var-color-header-text() {
  @return var(--header-text-color, $_color-text);
}

@function var-color-overlay-header-text() {
  @return var(--overlay-header-text-color, $_color-white);
}

@function var-color-drop-nav-text() {
  @return var(--drop-nav-text-color, $_color-text);
}
