@use 'sass:map';
@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.widget_inc2734_wp_awesome_widgets_slider {
	padding: 0;
}

.wpaw-slider {
	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item-body {
		position: relative;
		max-width: 100%;
		padding: var(--_padding1);
	}

	&__item-content {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include core.media-min(md) {
			max-width: map.get(core.$sizes, md);
		}

		@include core.media-min(lg) {
			max-width: map.get(core.$sizes, lg);
		}

		> * {
			flex: 0 1 auto;
			max-width: 100%;
		}
	}

	&__item-title {
		margin-bottom: var(--_margin-1);
		font-weight: bold;
		@include core.set-fluid-font-size-level(1);
	}

	&__item-summary {
		@include core.set-font-size-level(-1);
		@include core.set-between-content-level(-1);
	}

	&__item-more {
		margin-top: var(--_margin1);

		&--ghost {
			background-color: transparent;
			border-radius: 30px;
			border-width: 1px;
			border-style: solid;

			@include core.media-min(lg) {
				opacity: .8;
				@include core.transition(opacity);
			}

			@include core.hover() {
				opacity: 1;
			}
		}
	}

	.slick-dotted.slick-slider {
		margin: 0;
	}

	.slick-dots {
		bottom: 10px;
	}

	.slick-slide {
		&::before {
			display: none;
		}
	}
}

[data-has-sidebar="false"] {
	[data-is-content-widget-area="true"] {
		.wpaw-slider {
			&__item-title {
				@include core.set-fluid-font-size-level(4);
			}
		}
	}
}
