@charset 'utf-8';

@import 'core/core';
@import 'foundation/_placeholder/placeholder';
@import 'adminbar';

$editor-gutter: 1rem;

@mixin content-alignment {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - #{ $editor-gutter } * 2);
  max-width: 1280px; // for IE11
  max-width: var(--wp-block-width);
}

.wp-block {
  margin: 0;
  max-width: none;
  @include content-alignment();

  .wp-block {
    width: auto;
    max-width: none;
  }
}

// @todo To adjust the Float view in the editor to match the front view.
.wp-block[data-align="right"],
.wp-block[data-align="left"] {
  .block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.wp-block[data-align="center"] {
  clear: both;
  text-align: initial;

  > * {
    margin-right: auto;
    margin-left: auto;
  }
}

.block-editor-block-list__block {
  margin: 0;
}

.block-editor-writing-flow {
  overflow: hidden;
}
.edit-post-visual-editor__post-title-wrapper,
.is-root-container > .wp-block {
  margin-right: auto;
  margin-left: auto;
}

.wp-block[data-align="wide"] {
  max-width: none;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
  @include _font-size-line-height($_h2-font-size-scale);
  font-weight: bold;
  font-family: $_font-family;
  @include _padding(.25, 0);
}

.block-editor-block-switcher {
  overflow: hidden;
}

.block-editor-editor-skeleton__content {
  max-width: 100%;
}

.block-editor-editor-skeleton__content {
  overflow-x: hidden;
}

// サイドバーの横幅分 alignfull, alignwide から引く
.edit-post-layout.is-mode-visual.is-sidebar-opened {
  @include _media-min(782px) {
    --body-margin-left: 280px;
  }
}

.editor-styles-wrapper .block-editor-writing-flow .block-editor-block-list__layout.is-root-container {
  > .wp-block[data-align="full"],
  > .block-editor-block-list__block[data-align="full"] {
    clear: both;
    margin-right: 0;
    margin-left: 0;
    width: auto;
    max-width: none;
  }

  > .wp-block[data-align="wide"],
  > .block-editor-block-list__block[data-align="wide"] {
    width: auto;
    max-width: calc(1280px + 240px); // for IE11
    max-width: calc(var(--wp-block-width) + 240px);
  }
}

.editor-styles-wrapper .block-editor-writing-flow .c-container {
  max-width: none;

  > * {
    @include content-alignment();
  }
}

.l-body--one-column-full,
.l-body--blank,
.l-body--blank-content {
  .editor-styles-wrapper {
    --wp-block-width: 100%;
  }

  .wp-block {
    width: auto;
  }
}

.l-body--one-column-slim,
.l-body--blank-slim {
  .editor-styles-wrapper {
    --wp-block-width: 46rem;
  }
}

.l-body--right-sidebar,
.l-body--left-sidebar {
  .editor-styles-wrapper {
    $container_margin: _space(1, true);
    $sidebar_margin: _space(1, true, true);
    --wp-block-width: calc(var(--_container-max-width, 1280px) - 336px - #{ $sidebar_margin } - #{ $container_margin } * 2);
  }
}

// @see src/css/object/component/_entries.scss
.l-body--one-column-slim,
.l-body--blank-slim,
.l-body--right-sidebar,
.l-body--left-sidebar {
  .editor-styles-wrapper {
    .#{ $_prefix }c-entries {
      &--rich-media,
      &--panel {
        .#{ $_prefix }c-entries__item {
          @include _media-min(lg) {
            @include _lattice__col--width(1 / 2 * 100%);
          }
        }
      }
    }
  }
}
