@charset 'utf-8';

@import 'style';

:root {
  --wp-block-width: var(--_container-max-width, 1280px);
}

#tinymce {
  margin: 10px;
  padding: 0;
}

.mce-preview-object.mce-object-iframe iframe[src*="rcm-fe.amazon-adsystem.com"] {
  height: 100%;
}

body {
  padding: 50px 0;
}

// @todo 本来不要かも
.block-editor-block-list__block[data-align="full"] .block-editor-warning {
  @include _media-min(600px) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

.block-editor-writing-flow {
  overflow: hidden;
}

.is-root-container,
.wp-block-freeform {
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  @extend %entry-content;
}

.edit-post-visual-editor__post-title-wrapper,
.block-editor-block-list__layout.is-root-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px; // for IE11
  max-width: var(--wp-block-width);
  @include container-padding();
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
  @include _font-size-line-height($_base-font-size * $_h2-font-size-scale);
  font-weight: bold;
  font-family: $_font-family;
  @include _padding(.25, 0);
}

.wp-block {
  max-width: none;
}

// @todo Workaround for centering a block when width is specified.
.block-editor-block-list__layout .wp-block {
  margin-right: initial;
  margin-left: initial;
}
.block-editor-block-list__layout .wp-block[data-type="core/list"] {
  margin-left: 1.5em;
}

// @todo To adjust the Float view in the editor to match the front view.
[data-align="right"],
[data-align="left"] {
  .block-editor-block-list__block {
    margin-top: initial;
    margin-bottom: initial;
  }
}

[data-align="center"] {
  clear: both;
  text-align: initial;

  > * {
    margin-right: auto;
    margin-left: auto;
  }
}

// @see src/css/foundation/_wordpress/_align/_align.scss
.block-editor-writing-flow .block-editor-block-list__layout.is-root-container {
  > [data-align="full"],
  > [data-align="wide"],
  [class*="smb-"] > [data-align="full"],
  [class*="smb-"] > [data-align="wide"] {
    clear: both;
    @include alignfull();

    &.wp-block-image {
      img {
        width: 100%;
        max-width: none;
      }
    }
  }

  > [data-align="wide"],
  [class*="smb-"] > [data-align="wide"] {
    @include _media-min(lg) {
      position: relative;
      right: -50vw; // for IE
      right: calc(-50vw + #{ var-body-margin-left() } / 2);
      transform: translateX(-50%);
      max-width: $_container-max-width; // for IE11
      max-width: _var-container-max-width();
    }
  }
}

.block-editor-block-switcher {
  overflow: hidden;
}

.wp-block-image {
  > div {
    > div {
      max-width: none !important;
      max-height: none !important;
    }
  }
}

[data-type="core/html"] {
  textarea {
    @include _pre();
  }
}

[data-type="core/quote"] {
  > .block-editor-rich-text__editable {
    @include _content();
  }
}

.wp-block-archives[data-type="core/archives"],
.wp-block-calendar[data-type="core/calendar"],
.wp-block-categories[data-type="core/categories"],
.wp-block-latest-comments[data-type="core/latest-comments"],
.wp-block-rss[data-type="core/rss"] {
  display: block;
}

[data-align="center"] > .wp-block-categories {
  margin-right: auto;
  margin-left: auto;
  display: table;
}

[data-align="center"] > ul.wp-block-latest-posts {
  &:not(.is-grid) {
    margin-right: auto;
    margin-left: auto;
    display: table;
  }
}

.u-hidden,
.u-hidden-sm,
.u-hidden-md,
.u-hidden-md-up,
.u-hidden-lg,
.u-hidden-lg-up,
.u-hidden-xl,
.u-hidden-xl-up {
  @include _visible();
  outline: 1px dashed rgba(#127db8, .8);

  &::after {
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    color: $_color-white; // For IE11
    color: _var-color-white();
    background-color: #127db8;
    font-size: 12px;
    line-height: 1;
    padding: 4px 4px;
    opacity: .8;
  }
}

.u-hidden::after { content: '.u-hidden'; }
.u-hidden-sm::after { content: '.u-hidden-sm'; }
.u-hidden-md::after { content: '.u-hidden-md'; }
.u-hidden-md-up::after { content: '.u-hidden-md-up'; }
.u-hidden-lg::after { content: '.u-hidden-lg'; }
.u-hidden-lg-up::after { content: '.u-hidden-lg-up'; }
.u-hidden-xl::after { content: '.u-hidden-xl'; }
.u-hidden-xl-up::after { content: '.u-hidden-xl-up'; }
