@charset 'utf-8';

@import 'core/core';
@import 'foundation/_placeholder/placeholder';

/**
 * Alert
 */
.wpac-alert {
  $color: #fff9e6;
  @include _alert();
  @include _between-content(.75);
  background-color: $color;
  border: 1px solid darken(desaturate($color, 10%), 10%);
  border-radius: $_border-radius; // for IE11
  border-radius: _var-border-radius();
  color: darken(desaturate($color, 60%), 60%);
  @include _padding(.5);

  &--warning {
    background-color: adjust-hue($color, -30deg);
    border-color: adjust-hue(darken(desaturate($color, 10%), 10%), -30deg);
    color: adjust-hue(darken(desaturate($color, 60%), 60%), -30deg);
  }

  &--success {
    background-color: adjust-hue($color, 40deg);
    border-color: adjust-hue(darken(desaturate($color, 15%), 15%), 40deg);
    color: adjust-hue(darken(desaturate($color, 70%), 70%), 40deg);
  }

  > .mceEditable,
  &__body {
    @include _content(.75);
  }
}

/**
 * Balloon
 */
.wpac-balloon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__person {
    margin: 0 0 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @include _media-min(md) {
      margin: 0 20px 0 0;
    }
  }

  &__figure {
    position: relative;
    flex: 0 0 60px;
    @include _circle(60px);
    max-width: 60px;
    border: 2px solid transparent;
    border-color: _lighter($_color-gray); // For IE11
    border-color: _var-lighter-color-gray();

    > img {
      max-width: 100%;
      height: auto;
      padding: 0;
    }
  }

  &__name {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }

  &__body {
    @include _between-content(.75);
    flex: 1 1 auto;
    border-radius: $_border-radius; // for IE11
    border-radius: _var-border-radius();
    overflow-wrap: break-word;
    @include _padding(.5);
    max-width: 100%;
    width: 100%;

    @include _top-balloon((
      background-color: [_lightest($_color-gray), _var-lightest-color-gray()],
      border-color: null,
      border-size: null,
      triangle-size: 10px,
    ));

    &::before,
    &::after {
      margin-left: 0;
      left: 24px;
    }

    @include _media-min(md) {
      max-width: calc(100% - 80px);
      @include _balloon-triangle(left, 10px, [_lightest($_color-gray), _var-lightest-color-gray()]);
    }
  }

  &--reverse {
    align-items: flex-end;

    @include _media-min(md) {
      flex-direction: row-reverse;
      align-items: center;
    }

    .wpac-balloon__person {
      @include _media-min(md) {
        margin: 0 0 0 20px;
      }
    }

    .wpac-balloon__body {
      &::before,
      &::after {
        left: auto;
        right: 24px;
      }

      @include _media-min(md) {
        @include _balloon-triangle(right, 10px, [_lightest($_color-gray), _var-lightest-color-gray()]);
      }
    }
  }
}

/**
 * Columns
 */
.wpac-columns {
  &__row {
    @include _lattice();
  }

  &__col {
    @include _lattice__col();

    @each $size, $screen-min in $_sizes {
      @include _media-min($screen-min) {
        $prefix: _size-prefix($size);

        @for $max_columns from 1 through 5 {
          @for $i from 1 through $max_columns {
            &#{$prefix}-#{ $i }-#{ $max_columns } {
              @include _lattice__col--width($i / $max_columns * 100%);
            }
          }
        }
      }
    }
  }

  &__col-inner {
    flex: 1;
  }
}

/**
 * Section
 */
.wpac-section {
  @extend %section;

  &__title {
    @extend %section-title;

    & + .wpac-section__body {
      @extend %section-body;
    }
  }

  &--inverse {
    background-color: _lightest($_color-gray); // For IE11
    background-color: _var-lightest-color-gray();
  }

  & + .wpac-section {
    margin-top: 0 !important;
  }
}

[data-has-sidebar="false"] {
  .wpac-section {
    @include alignfull();
  }

  &[data-header-layout="left"] {
    .wpac-section {
      @include _media-min(lg) {
        $body-margin-left: 280px;
        margin-left: calc(50% - (100vw - #{ $body-margin-left }) / 2) !important; // for IE11
        margin-right: calc(50% - (100vw - #{ $body-margin-left }) / 2) !important; // for IE11
        margin-left: calc(50% - (100vw - #{ var-body-margin-left() }) / 2) !important;
        margin-right: calc(50% - (100vw - #{ var-body-margin-left() }) / 2) !important;
      }
    }
  }
}

/**
 * Highlighter
 */
.wpac-highlighter {
  background: linear-gradient(transparent 60%, rgba(#fffd6b, .7) 60%);
}
