.#{ $_prefix }c-entries {
  @include _list-unstyled();
  @include _lattice();

  &__item {
    @include _lattice__col(1, 2);

    @include _media-min(lg) {
      @include _lattice__col--width(1 / 3 * 100%);
    }

    > a {
      display: block;
      color: inherit;
      text-decoration: none;
    }
  }

  &--simple,
  &--text,
  &--text2,
  &--large-image {
    display: block;

    &.#{ $_prefix }c-entries {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    .#{ $_prefix }c-entries__item {
      margin: 0;
      padding: 0;
      max-width: none;
    }
  }

  &--simple,
  &--text,
  &--text2 {
    border-top: 1px solid _var-lighter-color-gray();

    .#{ $_prefix }c-entries__item {
      border-bottom: 1px solid _var-lighter-color-gray();
    }
  }

  &--simple {
    .#{ $_prefix }c-entries__item {
      > a {
        @include _padding(1, 0);
      }
    }
  }

  &--text,
  &--text2 {
    .#{ $_prefix }c-entries__item {
      > a {
        @include _padding(.5, 0);
      }
    }
  }

  &--large-image {
    @include items-gutter(1);

    .#{ $_prefix }c-entries__item {
      > a {
        color: $_color-white;
      }
    }
  }

  &--panel {
    .#{ $_prefix }c-entries__item {
      display: flex;

      > a {
        flex: 1 1 auto;
        max-width: 100%;
        box-shadow: 0 0 35px 0 rgba(#000, .1);
        @include _transition(box-shadow);
        display: flex;

        @include _hover(lg) {
          box-shadow: 0 7px 35px 0 rgba(#000, .15);
        }
      }
    }
  }

  &--rich-media,
  &--panel {
    &[data-has-infeed-ads="true"],
    &[data-force-sm-1col="true"] {
      .#{ $_prefix }c-entries__item {
        @include _media-max(sm) {
          @include _lattice__col--width(100%);
        }
      }
    }
  }
}

// @see src/css/admin/app.scss
[data-has-sidebar="true"] .#{ $_prefix }c-entries,
[data-is-slim-width="true"] .#{ $_prefix }c-entries {
  &--rich-media,
  &--panel {
    .#{ $_prefix }c-entries__item {
      @include _media-min(lg) {
        @include _lattice__col--width(1 / 2 * 100%);
      }
    }
  }
}
