@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.c-entries {
	--entries--gap: var(--_margin1);
	--entries--item-width: 50%;

	@include core.list-unstyled();

	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(-1 * var(--entries--gap));
	margin-right: calc(-1 * var(--entries--gap) * .5);
	margin-left: calc(-1 * var(--entries--gap) * .5);

	@include core.media-min(lg) {
		--entries--item-width: 33.33333%;
	}

	&--gap-s {
		--entries--gap: var(--_margin-1);
	}

	&--gap-m {
		--entries--gap: var(--_margin1);
	}

	&--gap-l {
		--entries--gap: var(--_margin2);
	}

	&__item {
		flex: 0 1 var(--entries--item-width);
		max-width: var(--entries--item-width);
		margin-bottom: var(--entries--gap);
		padding-right: calc(var(--entries--gap) * .5);
		padding-left: calc(var(--entries--gap) * .5);

		> a {
			display: block;
			color: inherit;
			text-decoration: none;
		}
	}

	&--simple,
	&--text,
	&--text2,
	&--large-image {
		display: block;

		&.c-entries {
			--entries--item-width: none;

			margin-right: 0;
			margin-left: 0;
			margin-bottom: 0;
		}

		.c-entries__item {
			margin-bottom: 0;
			padding-right: 0;
			padding-left: 0;
		}

		.c-entry-summary__meta .c-meta {
			justify-content: start;
		}
	}

	&--simple,
	&--text,
	&--text2 {
		border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);

		.c-entries__item {
			border-bottom: 1px solid var(--wp--preset--color--sm-lighter-gray);
		}
	}

	&--simple {
		.c-entries__item {
			> a {
				padding-top: var(--entries--gap);
				padding-bottom: var(--entries--gap);
			}
		}
	}

	&--text,
	&--text2 {
		--entries--gap: var(--_padding-1);

		&.c-entries--gap-s {
			--entries--gap: var(--_padding-2);
		}

		&.c-entries--gap-m {
			--entries--gap: var(--_padding-1);
		}

		&.c-entries--gap-l {
			--entries--gap: var(--_padding1);
		}

		.c-entries__item {
			> a {
				padding-top: var(--entries--gap);
				padding-bottom: var(--entries--gap);
			}
		}
	}

	&--large-image {
		@include core.set-content-level(1);

		.c-entries__item {
			> a {
				color: var(--wp--preset--color--white);
			}
		}
	}

	&--panel {
		.c-entries__item {
			display: flex;

			> a {
				flex: 1 1 auto;
				max-width: 100%;
				box-shadow: 0 0 35px 0 rgba(#000, .1);
				@include core.transition(box-shadow);
				display: flex;

				@include core.hover() {
					box-shadow: 0 7px 35px 0 rgba(#000, .15);
				}
			}
		}
	}

	&--rich-media,
	&--panel {
		&[data-has-infeed-ads="true"],
		&[data-force-sm-1col="true"] {
			@include core.media-max(sm) {
				--entries--item-width: 100%;
			}
		}
	}
}

// @see src/css/admin/app.scss
[data-has-sidebar="true"] .c-entries,
[data-is-slim-width="true"] .c-entries {
	&--rich-media,
	&--panel {
		@include core.media-min(lg) {
			--entries--item-width: 50%;
		}
	}
}
