@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../app/placeholder/entry-content';

.smf-complete-content,
.smf-system-error-content,
.smf-item__controls {
	@extend %entry-content;
}

.snow-monkey-form--button-has-accent-color .smf-button-control__control {
	background-color: var(--wp--preset--color--sm-accent);
	background-image: none;
	color: var(--wp--preset--color--white);
	border: none;
	@include core.transition(filter);

	@include core.hover() {
		filter: brightness(90%);
	}
}

// @todo WordPress 5.9 iframed content hack.
// https://github.com/WordPress/gutenberg/blob/f2161e246b9fdd9a2a56e7552b0b28050f1a5302/packages/block-editor/src/components/iframe/index.js#L70-L74
html :where(.editor-styles-wrapper) {
	display: block;
}
