.#{$_prefix}p-social-nav {
  background-color: _lightest($_color-gray);
  border-top: 1px solid _lighter($_color-gray);
  @include _padding(1, 0);
  text-align: center;

  .#{$_prefix}c-navbar {
    justify-content: center;

    &__item {
      flex: none;
      margin: 0 .5em;
    }
  }

  a {
    flex: none;
    color: #999;
    display: block;
    line-height: 1;
    overflow: hidden;
    text-decoration: none;

    > span {
      display: none;
    }
  }
}
