.#{$_prefix}c-entry {
  &__header {
    @include _margin-bottom(1);
    border-bottom: $border-bottom-width solid $_color-black;
    @include _padding(0, 0, .25);

    .wp-share-buttons {
      @include _margin(.5, 0, 0);
    }
  }

  &__title {
    @include _margin(0, 0, .25);
    letter-spacing: 0;
  }

  &__meta {
    @include _font-size-line-height(12px);
    font-weight: bold;

    a {
      color: $_color-text;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__body {
    @include items-gutter();
  }

  &__content {
    @include _clearfix();
  }

  &__footer {
    @include items-gutter();
    @include _margin(1.5, 0, 0);
  }
}
