.#{$_prefix}c-entry {
  &__header {
    @include _margin-bottom(1);
  }

  &__title {
    letter-spacing: 0;
  }

  &__meta {
    @include _margin-top(.25);
    @include _font-size-line-height(12px);
    letter-spacing: 0;

    a {
      color: $_color-text;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__body {
    @include items-gutter();
  }

  &__content {
    @include _clearfix();

    > .alignfull {
      clear: both;

      @include _media-max(md) {
        @include alignfull();
      }

      [data-has-sidebar="false"] & {
        @include alignfull();
      }

      &.wp-block-image {
        @mixin alignfull-image() {
          width: 100vw;
          max-width: none;
        }

        @include _media-max(md) {
          > img {
            @include alignfull-image();
          }
        }

        [data-has-sidebar="false"] & {
          > img {
            @include alignfull-image();
          }
        }
      }
    }

    > .alignwide {
      clear: both;

      @include _media-max(md) {
        @include alignfull();
      }

      [data-is-slim-width="true"][data-has-sidebar="false"] & {
        @include _media-min(lg) {
          @include alignwide();
        }
      }

      [data-is-slim-width="false"][data-has-sidebar="false"] & {
        @include _media-only(lg) {
          @include alignfull();
        }

        @include _media-min(xl) {
          @include alignwide();
        }
      }

      &.wp-block-image {
        @mixin alignwide-image() {
          width: 100%;
          max-width: none;
        }

        @include _media-max(md) {
          > img {
            @include alignwide-image();
          }
        }

        [data-has-sidebar="false"] & {
          > img {
            @include alignwide-image();
          }
        }
      }
    }
  }

  &__footer {
    @include items-gutter();
    @include _margin-top(1.5);
  }

  [data-is-full-template="false"] .#{$_prefix}l-contents__main > & {
    @include _margin-top(1.5);
  }

  [data-has-sidebar="true"] .#{$_prefix}l-contents__main > & {
    @include _media-min(lg) {
      margin-top: 0;
    }
  }
}
