.#{$_prefix}c-entry {
  &__header {
    @include _margin(0, 0, 1);
    border-bottom: $border-bottom-width solid $_color-black;
    @include _padding(0, 0, .25);

    .wp-share-buttons {
      @include _margin(.5, 0, 0);
    }
  }

  &__title {
    @include _margin(0, 0, .25);
    letter-spacing: 0;
  }

  &__meta {
    @include _font-size-line-height(12px);
    font-weight: bold;

    a {
      color: $_color-text;
      text-decoration: none;

      @include _hover(lg) {
        opacity: .7;
      }
    }
  }

  &__content {
    @include _clearfix();
    @include entry-content();
  }

  &__footer {
    @include items-gutter();
    @include _margin(2, 0, 0);
  }

  * + & {
    @include _margin-top(1.5);

    @include _media-min(md) {
      @include _margin-top(2);
    }
  }
}
