@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../app/core/mixin/widget' as *;

.wp-block-latest-comments {
	@include widget-list-base();

	& {
		margin-left: auto;
	}

	&__comment {
		line-height: inherit;
	}

	&__comment-meta {
	}

	&__comment-date {
		@include core.set-font-size-level(-2);
	}

	&__comment-excerpt {
		> p {
			margin: 0;
			@include core.set-font-size-level(-1);
		}
	}
}

ol.wp-block-latest-comments {
	margin-left: auto;
}
