.wp-block-latest-comments {
	@extend %widget-list-base;
	margin-left: auto;

	&__comment {
		line-height: inherit;
	}

	&__comment-meta {
	}

	&__comment-date {
		@include _set-font-size-level(-2);
	}

	&__comment-excerpt {
		> p {
			margin: 0;
			@include _set-font-size-level(-1);
		}
	}
}

ol.wp-block-latest-comments {
	margin-left: auto;
}
