/**
 * Button
 */
.wpac-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }
}

/**
 * Alert
 */
.wpac-alert {
  $color: #bdb53c;
  @include _alert();
  background-color: _lighter($color);
  border: 1px solid $color;
  border-radius: $_border-radius;
  color: _dark($color);
  @include _padding(.5);

  &--warning {
    $color: #bd543c;
    background-color: _lighter($color);
    border-color: $color;
    color: _dark($color);
  }

  &--success {
    $color: #90bd3c;
    background-color: _lighter($color);
    border-color: $color;
    color: _dark($color);
  }
}

/**
 * Balloon
 */
.wpac-balloon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &--reverse {
    flex-direction: row-reverse;

    .wpac-balloon__person {
      margin: 0 0 0 20px;
    }

    .wpac-balloon__body {
      &::before, &::after {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }

      @include _right-balloon((
        background-color: #fff,
        border-color: _light($_color-gray),
        border-size: 1px,
      ));
    }
  }

  &__person {
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__figure {
    position: relative;
    flex: none;
    @include _circle(60px);
    border: 2px solid _lighter($_color-gray);

    > img {
      max-width: 100%;
      height: auto;
    }
  }

  &__name {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }

  &__body {
    @include _left-balloon((
      background-color: #fff,
      border-color: _light($_color-gray),
      border-size: 1px,
    ));
    flex: 1;
    border-radius: $_border-radius;
    @include _padding(.5);
  }
}

/**
 * Columns
 */
.wpac-columns {
  &__row {
    @extend .#{$_prefix}c-row;
    @include _row--margin(1);
  }

  &__col {
    @extend .#{$_prefix}c-row__col;
    @include _row__col--margin(1);

    @each $size, $screen-min in $_sizes {
      @include _media-min($screen-min) {
        $prefix: _size-prefix($size);

        @for $max_columns from 1 through 5 {
          @for $i from 1 through $max_columns {
            &#{$prefix}-#{$i}-#{$max_columns} {
              @extend .#{$_prefix}c-row__col#{$prefix}-#{$i}-#{$max_columns};
            }
          }
        }
      }
    }
  }

  &__col-inner {
    flex: 1;
  }
}

/**
 * Section
 */
.wpac-section {
  @include section();

  &--inverse {
    background-color: _lightest($_color-gray);
  }

  &__container {
    @include _container();
  }

  & + & {
    margin-top: 0 !important;
  }
}
