/**
 * Button
 */
.wpac-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }
}

/**
 * Alert
 */
.wpac-alert {
  $color: #bdb53c;
  @include _alert();
  background-color: _lighter($color);
  border: 1px solid $color;
  border-radius: $_border-radius;
  color: _dark($color);
  @include _padding(.5);

  &--warning {
    $color: #bd543c;
    background-color: _lighter($color);
    border-color: $color;
    color: _dark($color);
  }

  &--success {
    $color: #90bd3c;
    background-color: _lighter($color);
    border-color: $color;
    color: _dark($color);
  }
}

/**
 * Balloon
 */
.wpac-balloon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__person {
    margin: 0 0 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @include _media-min(md) {
      margin: 0 20px 0 0;
    }
  }

  &__figure {
    position: relative;
    flex: none;
    @include _circle(60px);
    border: 2px solid _lighter($_color-gray);

    > img {
      max-width: 100%;
      height: auto;
    }
  }

  &__name {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }

  &__body {
    flex: 1 1 auto;
    border-radius: $_border-radius;
    word-break: break-all;
    @include _padding(.5);
    max-width: 100%;
    width: 100%;

    @include _top-balloon((
      background-color: #fff,
      border-color: _light($_color-gray),
      border-size: 1px,
    ));

    &::before,
    &::after {
      margin-left: 0;
      left: 24px;
    }

    @include _media-min(md) {
      @include _balloon-triangle(left, 10px, #fff, 1px, _light($_color-gray));
    }
  }

  &--reverse {
    align-items: flex-end;

    @include _media-min(md) {
      flex-direction: row-reverse;
      align-items: center;
    }

    .wpac-balloon__person {
      @include _media-min(md) {
        margin: 0 0 0 20px;
      }
    }

    .wpac-balloon__body {
      &::before,
      &::after {
        left: auto;
        right: 24px;
      }

      @include _media-min(md) {
        @include _balloon-triangle(right, 10px, #fff, 1px, _light($_color-gray));
      }
    }
  }
}

/**
 * Columns
 */
.wpac-columns {
  &__row {
    @extend .#{$_prefix}c-row;
    @include _row--margin(1);
  }

  &__col {
    @extend .#{$_prefix}c-row__col;
    @include _row__col--margin(1);

    @each $size, $screen-min in $_sizes {
      @include _media-min($screen-min) {
        $prefix: _size-prefix($size);

        @for $max_columns from 1 through 5 {
          @for $i from 1 through $max_columns {
            &#{$prefix}-#{$i}-#{$max_columns} {
              @extend .#{$_prefix}c-row__col#{$prefix}-#{$i}-#{$max_columns};
            }
          }
        }
      }
    }
  }

  &__col-inner {
    flex: 1;
    @include entry-content();
  }
}

/**
 * Section
 */
.wpac-section {
  @include section();

  &--inverse {
    background-color: _lightest($_color-gray);
  }

  &__container {
    @include _container();
  }

  &__body {
    @include entry-content();
  }

  & + & {
    margin-top: 0 !important;
  }

  .#{$_prefix}l-body--one-column &,
  .#{$_prefix}l-body--one-column-fluid &,
  .#{$_prefix}l-body--one-column-slim & {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }

  .#{$_prefix}l-body--one-column-slim & {
    &__body {
      margin: 0 auto;
      max-width: map-get($_sizes, 'lg');
    }
  }
}

/**
 * Highlighter
 */
.wpac-highlighter {
  background: linear-gradient(transparent 60%, rgba(#fffd6b, .7) 60%);
}
