/**
 * Button
 */
.wpac-btn {
  @include btn();

  &--full {
    width: 100%;
    display: block;
  }
}

/**
 * Alert
 */
.wpac-alert {
  $color: #fff9e6;
  @include _alert();
  @include _content(.75);
  background-color: $color;
  border: 1px solid darken(desaturate($color, 10%), 10%);
  border-radius: $_border-radius;
  color: darken(desaturate($color, 60%), 60%);
  @include _padding(.5);

  &--warning {
    background-color: adjust-hue($color, -30deg);
    border-color: adjust-hue(darken(desaturate($color, 10%), 10%), -30deg);
    color: adjust-hue(darken(desaturate($color, 60%), 60%), -30deg);
  }

  &--success {
    background-color: adjust-hue($color, 40deg);
    border-color: adjust-hue(darken(desaturate($color, 15%), 15%), 40deg);
    color: adjust-hue(darken(desaturate($color, 70%), 70%), 40deg);
  }

  > .mceEditable {
    @include _content(.75);
  }
}

/**
 * Balloon
 */
.wpac-balloon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__person {
    margin: 0 0 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @include _media-min(md) {
      margin: 0 20px 0 0;
    }
  }

  &__figure {
    position: relative;
    flex: 0 0 60px;
    @include _circle(60px);
    max-width: 60px;
    border: 2px solid _lighter($_color-gray);

    > img {
      max-width: 100%;
      height: auto;
      padding: 0;
    }
  }

  &__name {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
  }

  &__body {
    @include _content(.75);
    flex: 1 1 auto;
    border-radius: $_border-radius;
    word-break: break-all;
    @include _padding(.5);
    max-width: 100%;
    width: 100%;

    @include _top-balloon((
      background-color: #fff,
      border-color: _light($_color-gray),
      border-size: 1px,
    ));

    &::before,
    &::after {
      margin-left: 0;
      left: 24px;
    }

    @include _media-min(md) {
      max-width: calc(100% - 80px);
      @include _balloon-triangle(left, 10px, #fff, 1px, _light($_color-gray));
    }
  }

  &--reverse {
    align-items: flex-end;

    @include _media-min(md) {
      flex-direction: row-reverse;
      align-items: center;
    }

    .wpac-balloon__person {
      @include _media-min(md) {
        margin: 0 0 0 20px;
      }
    }

    .wpac-balloon__body {
      &::before,
      &::after {
        left: auto;
        right: 24px;
      }

      @include _media-min(md) {
        @include _balloon-triangle(right, 10px, #fff, 1px, _light($_color-gray));
      }
    }
  }
}

/**
 * Columns
 */
.wpac-columns {
  &__row {
    @include _row();
    @include _row--margin(1);
  }

  &__col {
    @include _row__col(null, null);
    @include _row__col--margin(1);

    @each $size, $screen-min in $_sizes {
      @include _media-min($screen-min) {
        $prefix: _size-prefix($size);

        @for $max_columns from 1 through 5 {
          @for $i from 1 through $max_columns {
            &#{$prefix}-#{$i}-#{$max_columns} {
              $width: $i / $max_columns * 100%;
              @include _row__col--width($width);
            }
          }
        }
      }
    }
  }

  &__col-inner {
    flex: 1;
    @include entry-content();
  }
}

/**
 * Section
 */
.wpac-section {
  @include section();

  &__title {
    @include section-title();
  }

  &--inverse {
    background-color: _lightest($_color-gray);
  }

  &__container {
    @include _container();
  }

  &__body {
    @include entry-content();
  }

  & + & {
    margin-top: 0 !important;
  }

  [data-has-sidebar="false"] & {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }

  .#{$_prefix}l-body--one-column-slim & {
    &__container > * {
      margin-right: auto;
      margin-left: auto;
      max-width: $one-column-slim-max-width;
    }
  }
}

/**
 * Highlighter
 */
.wpac-highlighter {
  background: linear-gradient(transparent 60%, rgba(#fffd6b, .7) 60%);
}
