// @deprecated
.has-small-font-size {
  @include _font-size-line-height(13px);
}

// @deprecated
.has-medium-font-size {
  @include _font-size-line-height(20px);
}

// @deprecated
.has-large-font-size {
  @include _font-size-line-height(36px);
}

// @deprecated
.has-huge-font-size {
  @include _font-size-line-height(48px);
}

$editor-font-sizes: (
  'sm-small': 14px,
  'sm-normal': 16px,
  'sm-medium': 20px,
  'sm-large': 28px,
  'sm-xlarge': 44px,
  'sm-xxlarge': 52px,
  'sm-xxxlarge': 60px,
);

$editor-font-sizes-md: (
  'sm-small': 14px,
  'sm-normal': 16px,
  'sm-medium': 20px,
  'sm-large': 28px,
  'sm-xlarge': 44px,
  'sm-xxlarge': 76px,
  'sm-xxxlarge': 96px,
);

$editor-font-sizes-lg: (
  'sm-small': 14px,
  'sm-normal': 16px,
  'sm-medium': 20px,
  'sm-large': 28px,
  'sm-xlarge': 44px,
  'sm-xxlarge': 76px,
  'sm-xxxlarge': 140px,
);

@each $slug, $size in $editor-font-sizes {
  .has-#{ $slug }-font-size {
    @include _font-size-line-height($size);

    @include _media-min(md) {
      @include _font-size-line-height(map-get($editor-font-sizes-md, $slug));
    }

    @include _media-min(lg) {
      @include _font-size-line-height(map-get($editor-font-sizes-lg, $slug));
    }
  }
}
