.#{ $_prefix }p-footer-sticky-nav {
  @include _position(fixed, null, 0, 0, 0);
  z-index: 9999;
  background-color: $_color-white; // For IE11
  background-color: _var-color-white();
  box-shadow: 0 0 2px 0 rgba(#000, .25);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  @include _transition(opacity);

  @include _media-min(lg) {
    display: none;
  }

  &[data-clickable="false"] {
    .#{ $_prefix }c-navbar {
      opacity: .2;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }

  a {
    display: block;
    color: _light($_color-text); // For IE11
    color: _var-light-color-text();
    @include _font-size(10px);
    line-height: 1.2;
    padding: .5em 0;
    text-decoration: none;

    > svg {
      margin: 0 auto 2px;
      display: block;
    }
  }

  .#{ $_prefix }c-navbar {
    &__item {
      flex: 1 1 0%;

      > a {
        color: inherit;
      }

      &[data-active-menu] {
        color: var-color-accent();
      }

      &.sm-nav-menu-item-highlight {
        background-color: var-color-accent();
        color: $_color-white; // For IE11
        color: _var-color-white();
      }
    }
  }
}
