@use 'sass:math';
@use '../../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../../../core/mixin/btn' as *;
@use '../../../../core/mixin/section' as *;

.snow-monkey-posts {
	&__title {
		@include section-title();
		text-align: center;

		& + * {
			@include section-body();
		}
	}

	&__action {
		margin-top: var(--_margin2);
		text-align: center;
	}

	&__more {
		font-weight: bold;
		width: auto;
		@include sm-btn();
	}
}

[data-is-slim-widget-area="true"] .snow-monkey-posts {
	.c-entries--rich-media,
	.c-entries--panel {
		@include core.media-min(lg) {
			--entries--item-width: 100%;
		}
	}

	.c-entries--simple {
		.c-entry-summary__term {
			@include core.media-min(lg) {
				display: none;
			}
		}

		.c-entry-summary__figure {
			@include core.media-min(lg) {
				margin-right: var(--_margin-1);
			}
		}
	}

	.c-entries--large-image {
		.c-entry-summary__figure {
			&::before {
				padding: math.div(100% * 4, 3) 0 0;
			}
		}
	}
}
