.snow-monkey-posts {
	&__title {
		@include section-title();
		text-align: center;

		& + * {
			@include section-body();
		}
	}

	&__action {
		margin-top: var(--_margin2);
		text-align: center;
	}

	&__more {
		@extend .#{ $_prefix }c-btn;
		font-weight: bold;
		width: auto;
	}
}

[data-is-slim-widget-area="true"] .snow-monkey-posts {
	.#{ $_prefix }c-entries--rich-media,
	.#{ $_prefix }c-entries--panel {
		@include _media-min(lg) {
			--entries--item-width: 100%;
		}
	}

	.#{ $_prefix }c-entries--simple {
		.#{ $_prefix }c-entry-summary__term {
			@include _media-min(lg) {
				display: none;
			}
		}

		.#{ $_prefix }c-entry-summary__figure {
			@include _media-min(lg) {
				margin-right: var(--_margin-1);
			}
		}
	}

	.#{ $_prefix }c-entries--large-image {
		.#{ $_prefix }c-entry-summary__figure {
			&::before {
				padding: 100% * 4 / 3 0 0;
			}
		}
	}
}
