.#{ $_prefix }p-drop-nav {
	background-color: var(--_global--background-color);

	@media print {
		display: none;
	}

	.#{ $_prefix }p-global-nav {
		display: flex;
		justify-content: center;
	}

	.#{ $_prefix }c-site-branding {
		margin-right: var(--_margin-1);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);

		&__description {
			display: none;
		}
	}

	.#{ $_prefix }p-global-nav .#{ $_prefix }c-navbar {
		justify-content: center;

		&__item {
			flex: 0 1 auto;

			> a {
				padding-top: var(--_padding-1);
				padding-bottom: var(--_padding-1);
			}
		}
	}

	&--has-site-branding {
		.#{ $_prefix }p-global-nav {
			justify-content: space-between;
		}
	}
}
