.#{$_prefix}p-related-posts {
  .#{$_prefix}c-entries--rich-media {
    .#{$_prefix}c-entries__item {
      @include _media-min(lg) {
        @include _row__col(1, 4);
      }
    }

    .#{$_prefix}c-entry-summary {
      &__content {
        display: none;
      }
    }
  }

  .#{$_prefix}c-entry-summary {
    &__title {
      @include _margin(0, 0, .25);
      @include _font-size($_base-font-size);
      @include _line-height($_base-font-size * 1.5);
    }
  }

  .#{$_prefix}l-body--right-sidebar &,
  .#{$_prefix}l-body--left-sidebar {
    @include _media-min(lg) {
      .#{$_prefix}c-entries--rich-media {
        @include _row--margin(1);

        .#{$_prefix}c-entries__item {
          @include _row__col--margin(1);
        }
      }
    }
  }
}
