.#{$_prefix}c-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include _media-min(md) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__figure {
    margin: 0 0 20px;
    position: relative;
    flex: none;
    @include _circle(60px);
    border: 2px solid _lighter($_color-gray);

    @include _media-min(md) {
      margin: 0 20px 0 0;
    }

    > img {
      max-width: none;
      height: 56px;
      width: 56px;
      padding: 0;
    }
  }

  &__body {
    flex: 1 1 auto;
    border-radius: $_border-radius;
    word-break: break-all;
    @include _padding(.5);
    max-width: 100%;
    width: 100%;

    @include _top-balloon((
      background-color: #fff,
      border-color: _light($_color-gray),
      border-size: 1px,
    ));

    &::before,
    &::after {
      margin-left: 0;
      left: 24px;
    }

    @include _media-min(md) {
      @include _padding(.75);
      @include _balloon-triangle(left, 10px, #fff, 1px, _light($_color-gray));

      &::before,
      &::after {
        top: 28px;
      }
    }
  }

  &__meta {
    @include _margin(0, 0, .5);
    @include _font-size-line-height($_base-font-size-px - 4);
    color: #999;

    cite {
      font-style: normal;
      font-weight: bold;
    }

    a {
      color: #999;
      text-decoration: none;

      @include _hover(lg) {
        text-decoration: underline;
      }
    }
  }

  &__content {
    @include _font-size-line-height($_base-font-size-px - 2);
    @include _content(.5);

    > h2 {
      @include _font-size-line-height($_base-font-size * $_h2-font-size-scale / 1.5);
    }

    > h3 {
      @include _font-size-line-height($_base-font-size * $_h3-font-size-scale / 1.5);
    }

    > h4 {
      @include _font-size-line-height($_base-font-size * $_h4-font-size-scale / 1.5);
    }

    > h5 {
      @include _font-size-line-height($_base-font-size * $_h5-font-size-scale / 1.5);
    }

    > h6 {
      @include _font-size-line-height($_base-font-size * $_h6-font-size-scale / 1.5);
    }

    > h1 {
      @include _font-size-line-height($_base-font-size * $_h1-font-size-scale / 1.5);
    }
  }

  &__reply {
    text-align: right;
  }

  .comment-reply-link {
    @include _btn();
    @include _margin(.5, 0, 0);
    background-color: $color-accent;
    border-radius: $_border-radius;
    color: #fff;
    @include _font-size-line-height($_base-font-size-px - 2);
    @include _padding(.25rem, 1rem);

    @include _hover(lg) {
      background-color: darken($color-accent, 5%);
    }
  }
}
