.#{ $_prefix }c-copyright {
  background-color: $_color-black;
  color: _light($_color-gray);
  @include _font-size-line-height($_base-font-size-px - 2);
  @include _padding(.5, 0);

  a {
    color: _lighter($_color-gray);
    text-decoration: none;

    @include _hover(lg) {
    text-decoration: underline;
    }
  }

  body:not([style*="margin-bottom"]) .#{ $_prefix }l-footer & {
    padding-bottom: calc(#{ _space(.5) } + constant(safe-area-inset-bottom)); // for IE11
    padding-bottom: calc(#{ _space(.5) } + env(safe-area-inset-bottom)); // for IE11

    padding-bottom: calc(#{ _var-space() } * .5 + constant(safe-area-inset-bottom));
    padding-bottom: calc(#{ _var-space() } * .5 + env(safe-area-inset-bottom));
  }
}
