.#{$_prefix}c-copyright {
  border-top: 1px solid _lighter($_color-gray);
  background-color: $_color-black;
  color: #ccc;
  @include _font-size-line-height($_base-font-size-px - 2);
  @include _padding(.5, 0);

  a {
    color: _lighter($_color-text);
    text-decoration: none;

    @include _hover(lg) {
    text-decoration: underline;
    }
  }

  body:not([style*="margin-bottom"]) .#{$_prefix}l-footer & {
    @supports (padding-bottom: env(safe-area-inset-bottom)) or (padding-bottom: constant(safe-area-inset-bottom)) {
      padding-bottom: calc(#{_space(.5)} + constant(safe-area-inset-bottom));
      padding-bottom: calc(#{_space(.5)} + env(safe-area-inset-bottom));
    }
  }
}
