@use '../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core.scss';

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

.wp-oembed-blog-card__favicon {
	display: none;
}

.amp-wp-article-content {
	@include core.set-content-level(1);
}
