.wpaw-local-nav {
	border-top: 1px solid var(--wp--preset--color--sm-text);
	padding-top: var(--_padding-2);

	&__list,
	&__sublist {
		@include _list-unstyled();
	}

	&__item,
	&__subitem {
		> a {
			display: inline-block;
			color: inherit;
			text-decoration: none;

			@include _hover() {
				color: var(--wp--preset--color--sm-accent);
			}
		}
	}

	&__item {
		> a {
			font-weight: bold;
			padding: var(--_padding-2) 0;

			& + .wpaw-local-nav__sublist {
				margin-top: var(--_margin-2);
				border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
				padding-top: var(--_padding-2);
			}
		}
	}

	&__subitem {
		position: relative;
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);

		&__icon {
			position: absolute;
			top: var(--_padding-2);
			left: 0;
			color: var(--wp--preset--color--sm-accent);
		}

		> a {
			padding-left: 1.25rem;
		}
	}

	&--vertical {
		.wpaw-local-nav__subitem {
			.wpaw-local-nav__sublist {
				margin-top: var(--_margin-1);
				border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
				padding-top: var(--_margin-2);
			}

			.wpaw-local-nav__subitem {
				@include _set-font-size-level(-1);
				padding-top: 0;
				padding-bottom: 0;

				.wpaw-local-nav__subitem__icon {
					top: 0;
				}

				.wpaw-local-nav__sublist {
					margin-top: var(--_margin-2);
				}
			}
		}
	}

	&--horizontal {
		.wpaw-local-nav__item {
			overflow: hidden;
		}

		.wpaw-local-nav__sublist {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0 var(--_margin1);

			> .wpaw-local-nav__subitem {
				flex: 0 0 auto;

				@supports(gap: 1px) {
					margin-left: 0;
				}
			}
		}
	}
}
