@import '_align/app';
@import '_bypostauthor/app';
@import '_font-size/app';
@import '_gallery/app';
@import '_has-background/app';
@import '_post-password-form/app';
@import '_screen-reader-text/app';
@import '_single-attachment/app';
@import '_sticky/app';
@import '_wp-caption/app';
