.widget_inc2734_wp_awesome_widgets_showcase {
	padding: 0;
}

.wpaw-showcase {
	padding-top: var(--_padding2);
	padding-bottom: var(--_padding2);

	&__inner {
	}

	&__body {
	}

	&__figure {
		margin-top: var(--_margin-1);
	}

	&__title {
		margin-bottom: var(--_margin1);
	}

	&__lead {
		@include _set-between-content-level(1);
	}

	&__action {
		margin-top: var(--_margin1);
	}

	&--format-1,
	&--format-2 {
		@include _media-min(md) {
			.wpaw-showcase__inner {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}

			.wpaw-showcase__figure {
				flex: 0 0 auto;
				margin-top: 0;
				margin-right: 0;
				margin-left: 0;
				max-width: 50%;
				flex-wrap: nowrap;
			}

			.wpaw-showcase__body {
				flex: 1 1 0;
			}

			.wpaw-showcase__action {
				text-align: left;
			}
		}
	}

	&--format-1 {
		@include _media-min(md) {
			.wpaw-showcase__inner {
				flex-direction: row;
				flex-wrap: nowrap;

				> :first-child {
					padding-left: 0;
				}

				> :last-child {
					padding-right: 0;
				}
			}

			.wpaw-showcase__body {
				padding-right: var(--_padding1);
			}

			.wpaw-showcase__figure {
				padding-left: var(--_padding1);
			}
		}
	}

	&--format-2 {
		@include _media-min(md) {
			.wpaw-showcase__inner {
				flex-direction: row-reverse;
				flex-wrap: nowrap;

				> :first-child {
					padding-right: 0;
				}

				> :last-child {
					padding-left: 0;
				}
			}

			.wpaw-showcase__body {
				padding-left: var(--_padding1);
			}

			.wpaw-showcase__figure {
				padding-right: var(--_padding1);
			}
		}
	}

	&--format-3 {
		.wpaw-showcase__figure {
			margin-bottom: calc(-1 * var(--_padding2)); // equal .wpaw-showcase bottom padding

			@include _media-min(md) {
				margin-top: var(--_margin1);
			}
		}

		.wpaw-showcase__body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

[data-is-slim-widget-area="true"] {
	.wpaw-showcase {
		@include _media-min(lg) {
			.wpaw-showcase__inner {
				display: block;
			}

			.wpaw-showcase__figure {
				margin-top: var(--_margin1);
				max-width: none;
			}

			.wpaw-showcase__title {
				margin-bottom: var(--_margin-1);
			}

			.wpaw-showcase_lead {
				@include _set-between-content-level(-1);
			}

			.wpaw-showcase_action {
				margin-top: var(--_margin-1);
			}
		}
	}
}

[data-has-sidebar="false"] {
	[data-is-content-widget-area="true"] {
		.wpaw-showcase {
			@include _media-min(lg) {
				padding: var(--_padding3);
			}

			&--format-3 {
				.wpaw-showcase__figure {
					@include _media-min(lg) {
						margin-bottom: calc(-1 * var(--_padding3)); // equal .wpaw-showcase bottom padding
					}
				}
			}
		}
	}
}
