@mixin alignfull() {
  clear: both !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: auto !important;
  max-width: none !important;

  table {
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin alignwide() {
  margin-right: auto !important;
  margin-left: auto !important;
  width: auto !important;
  max-width: calc(1280px + 240px) !important; // for IE11
  max-width: calc(var(--wp-block-width) + 240px) !important;
}
