@mixin blockquote {
  position: relative;
  background-image: url(#{ $img-path }/blockquote/top.svg), url(#{ $img-path }/blockquote/bottom.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
  background-size: 35px;
  border: none;

  &,
  &.is-large,
  &.is-style-large {
    @include _padding(1, .5, .5, 1.5);
  }

  @include _media-min(md) {
    background-size: 70px;

    &,
    &.is-large,
    &.is-style-large {
      @include _padding(1.5, 1, .75, 2);
    }
  }

  &::before {
    content: '';
    @include _position(absolute, 1rem, null, null, 1rem);
    display: block;
    @include _square(1.25rem);
    background-image: url(#{ $img-path }/blockquote/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include _media-min(md) {
      @include _square(1.5rem);
    }
  }

  cite {
    @extend %blockquote__cite;
  }
}

@mixin blockquote__cite {
  @include _margin-top(.5);
  display: block;
  @include _font-size-line-height($_base-font-size-px - 2);
  color: _light($_color-text); // For IE11
  color: _var-light-color-text();
  font-style: italic;
}
