@mixin cover-img {
  position: relative;
  overflow: hidden;

  > picture {
    @include _position(absolute, 0, 0, 0, 0);
  }

  > img,
  > picture > img {
    @include _position(absolute, 50%, 0, 0, 50%);
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);

    @supports(object-fit: cover) {
      top: 0;
      left: 0;
      min-height: auto;
      min-width: auto;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      transform: none;
    }
  }
}
