@import '../../app/core/core';

.wpcf7:not(:last-child) {
	margin-bottom: var(--_margin2);
}

.wpcf7-form {
	@include _set-content-level(1);
}

.wpcf7-text,
.wpcf7-textarea {
	@include _form-control();
	vertical-align: top;
}

.wpcf7-submit {
	@include btn();
}

span.wpcf7-not-valid-tip {
	color: var(--wp--preset--color--sm-accent);
}
