.#{$_prefix}c-input-group {
  &__btn {
    background-color: #fff;
  }

  &__field {
    > input[type="search"] {
      border-radius: $_border-radius 0 0 $_border-radius; // for IE11
      border-radius: _var-border-radius() 0 0 _var-border-radius();
    }
  }
}
