@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

:where(.l-contents__container > *) {
	margin-inline: auto;
	max-width: var(--wp--style--global--content-size);
}

:where(.l-contents__main > *) {
	margin-inline: auto;
	max-width: var(--wp--style--global--content-size);
}

.l-contents {
	--contents--gap: var(--_margin2);

	overflow-x: clip;

	&__inner {
		max-width: 100%;
	}

	&__sidebar {
		@include core.set-content-level(1);
	}
}

/**
 * Right/Left sidebar
 */
[data-has-sidebar="true"] {
	.l-contents {
		--contents--main-basis: var(--wp--custom--has-sidebar-main-basis);
		--contents--sidebar-basis: var(--wp--custom--has-sidebar-sidebar-basis);

		&__inner {
			display: flex;
			flex-wrap: wrap;
			gap: var(--contents--gap);

			[data-is-content-widget-area="true"]:first-child {
				@include core.media-max(md) {
					margin-top: calc(-1 * var(--contents--gap));
				}
			}
		}

		&__main {
			flex-grow: 999;
			flex-basis: var(--contents--main-basis);
			min-width: 0;

			.c-section > .c-container {
				padding-right: 0;
				padding-left: 0;
			}
		}

		&__sidebar {
			margin: 0;
			flex-grow: 1;
			flex-basis: var(--contents--sidebar-basis);
			min-width: 0;

			@include core.media-max(md) {
				margin-top: var(--contents--gap);
			}
		}
	}
}

/**
 * Right sidebar
 */
.l-body--right-sidebar {
	.l-contents {
		&__inner {
			flex-direction: row;
		}
	}
}

/**
 * Left sidebar
 */
.l-body--left-sidebar {
	.l-contents {
		&__inner {
			flex-direction: row-reverse;
		}
	}
}

/**
 * margin/padding settings
 */
.l-contents {
	&__inner {
		margin-top: var(--contents--gap);
		margin-bottom: var(--contents--gap);

		&:first-child {
			margin-top: 0;
			padding-top: var(--_padding2);
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: var(--_padding2);
		}
	}
}

/**
 * Blank
 * One column full
 */
[data-has-sidebar="false"][data-is-full-template="true"] {
	.l-contents {
		&__inner {
			padding-top: 0;
			padding-bottom: 0;

			[data-is-content-widget-area="true"]:first-child {
				margin-top: 0;
			}

			[data-is-content-widget-area="true"]:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// one-column
[data-has-sidebar="false"][data-is-full-template="false"] {
	.l-contents {
		[data-is-content-widget-area="true"]:first-child {
			margin-top: calc(-1 * var(--contents--gap));
		}

		[data-is-content-widget-area="true"]:last-child {
			margin-bottom: calc(-1 * var(--contents--gap));
		}

		[data-is-content-widget-area="true"] {
			margin-right: calc(-1 * var(--_container-margin-right));
			margin-left: calc(-1 * var(--_container-margin-left));
		}
	}
}

/**
 * Attachment
 */
.single-attachment .l-contents {
	display: flex;
	align-items: center;
	justify-content: center;
}
