.#{ $_prefix }l-contents {
	--contents--sidebar-width: 336px;
	--contents--gap: var(--_margin2);

	overflow: hidden;

	@include _media-min(lg) {
		overflow: visible;
	}

	&__sidebar {
		@include _set-content-level(1);
	}
}

/**
 * Right/Left sidebar
 */
[data-has-sidebar="true"] {
	.#{ $_prefix }l-contents {
		&__inner {
			display: flex;
			flex-wrap: wrap;
			gap: var(--contents--gap);
		}

		&__main {
			flex-grow: 999;
			flex-basis: var(--wp--custom--slim-width);
			min-width: 0;
		}

		&__sidebar {
			margin: 0;
			flex-grow: 1;
			flex-basis: var(--contents--sidebar-width);
			min-width: 0;
		}
	}
}

/**
 * Right sidebar
 */
.#{ $_prefix }l-body--right-sidebar {
	.#{ $_prefix }l-contents {
		&__inner {
			flex-direction: row;
		}
	}
}

/**
 * Left sidebar
 */
.#{ $_prefix }l-body--left-sidebar {
	.#{ $_prefix }l-contents {
		&__inner {
			flex-direction: row-reverse;
		}
	}
}

/**
 * margin/padding settings
 */
.#{ $_prefix }l-contents {
	&__inner {
		margin-top: var(--contents--gap);
		margin-bottom: var(--contents--gap);

		&:first-child {
			margin-top: 0;
			padding-top: var(--_padding2);
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: var(--_padding2);
		}
	}
}

// one-column-full
[data-has-sidebar="false"][data-is-full-template="true"] {
	.#{ $_prefix }l-contents {
		&__inner {
			padding-top: 0;
			padding-bottom: 0;

			[data-is-content-widget-area="true"]:first-child {
				margin-top: 0;
			}

			[data-is-content-widget-area="true"]:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// Right/Left sidebar
[data-has-sidebar="true"] {
	.#{ $_prefix }l-contents {
		&__inner {
			[data-is-content-widget-area="true"]:first-child {
				@include _media-max(md) {
					margin-top: calc(-1 * var(--contents--gap));
				}
			}
		}

		&__sidebar {
			@include _media-max(md) {
				margin-top: var(--contents--gap);
			}
		}

		&__main {
			.#{ $_prefix }c-section > .#{ $_prefix }c-container {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}

// one-column
[data-has-sidebar="false"][data-is-full-template="false"] {
	.#{ $_prefix }l-contents {
		[data-is-content-widget-area="true"]:first-child {
			margin-top: calc(-1 * var(--contents--gap));
		}

		[data-is-content-widget-area="true"]:last-child {
			margin-bottom: calc(-1 * var(--contents--gap));
		}

		[data-is-content-widget-area="true"] {
			margin-right: calc(50% - 50vw + var(--scrollbar-width) / 2);
			margin-left: calc(50% - 50vw + var(--scrollbar-width) / 2);
		}
	}

	&[data-header-layout="left"] {
		.#{ $_prefix }l-contents {
			[data-is-content-widget-area="true"] {
				@include _media-min(lg) {
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}
}

/**
 * Attachment
 */
.single-attachment .#{ $_prefix }l-contents {
	display: flex;
	align-items: center;
	justify-content: center;
}
