.#{ $_prefix }p-section-front-page-content {
	&--no-vpadding {
		padding-top: 0;
		padding-bottom: 0;
	}
}

[data-has-sidebar="true"] {
	.#{ $_prefix }p-section-front-page-content {
		@include _media-min(lg) {
			padding-top: var(--_padding1);
			padding-bottom: var(--_padding1);
		}
	}
}
