@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

.p-section-front-page-content {
	max-width: 100%;

	&--no-vpadding {
		padding-top: 0;
		padding-bottom: 0;
	}
}

[data-has-sidebar="true"] {
	.p-section-front-page-content {
		@include core.media-min(lg) {
			padding-top: var(--_padding1);
			padding-bottom: var(--_padding1);
		}
	}
}

// One column full
[data-has-sidebar="false"][data-is-full-template="true"] .l-contents__main {
	.p-section-front-page-content {
		// When [data-is-full-template="true"], the width specification is disabled and should be re-specified here.
		--wp--custom--content-width: var(--_global--container-max-width);
		--wp--custom--content-wide-width:var(--_global--container-max-width);
	}
}
