@use '../../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

[data-infobar-position="header-top"] {
	.p-infobar-wrapper--header-bottom {
		display: none;
	}
}

[data-infobar-position="header-bottom"] {
	.p-infobar-wrapper--header-top {
		display: none;
	}

	.l-header {
		&--overlay-sm,
		&--sticky-overlay-sm,
		&--sticky-overlay-colored-sm {
			.p-infobar-wrapper--header-top {
				@include core.media-max(md) {
					display: block;
				}
			}
		}

		&--overlay-lg,
		&--sticky-overlay-lg,
		&--sticky-overlay-colored-lg {
			.p-infobar-wrapper--header-top {
				@include core.media-min(lg) {
					display: block;
				}
			}
		}
	}
}
