/*
 * @see src/css/block-editor/app.scss
 */

.alignleft.alignleft.alignleft {
	float: left;
	margin-top: 0;
	margin-right: var(--_margin1);
	margin-bottom: var(--_margin1);
	margin-left: 0;
}

.alignright.alignright.alignright {
	float: right;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: var(--_margin1);
	margin-left: var(--_margin1);
}

.alignleft,
.alignright {
	max-width: 50%;

	&:not([width]) {
		width: fit-content;
	}

	&:first-child + * {
		margin-top: 0;
	}
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
	clear: both;

	&.wp-block-archives,
	&.wp-block-calendar,
	&.wp-block-categories,
	&.wp-block-embed,
	&.wp-block-file,
	&.wp-block-image,
	&.wp-block-latest-comments,
	&.wp-block-search,
	&.wp-block-site-logo,
	&.wp-block-table {
		width: fit-content;
	}
}

.alignfull {
	@include alignfull();

	& + .alignfull {
		margin-top: 0 !important;
	}
}

.alignwide {
	@include alignwide();
}
