[data-has-sidebar="true"] {
  .smb-spider-slider {
    .#{ $_prefix }c-container {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @include _media-min(lg) {
    .smb-spider-slider--shifted.alignfull,
    [data-align="full"] > .smb-spider-slider--shifted {
      .spider__canvas {
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

[data-header-layout="left"] {
  .smb-spider-slider {
    .#{ $_prefix }c-container {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
