.editor-styles-wrapper,
.customize-control-sidebar_block_editor {
  [data-align="full"] > .smb-spider-slider--shifted,
  [data-align="wide"] > .smb-spider-slider--shifted {
    @supports (--var: 1) {
      .spider {
        --spider-reference-width: calc(100% - #{ _var-container-margin-sm() } * 2 + constant(safe-area-inset-right) + constant(safe-area-inset-left));
        --spider-reference-width: calc(100% - #{ _var-container-margin-sm() } * 2 + env(safe-area-inset-right) + env(safe-area-inset-left));

        @include _media-min(md) {
          --spider-reference-width: calc(100% - #{ _var-container-margin() } * 2 + constant(safe-area-inset-right) + constant(safe-area-inset-left));
          --spider-reference-width: calc(100% - #{ _var-container-margin() } * 2 + env(safe-area-inset-right) + env(safe-area-inset-left));
        }
      }

      .spider__canvas {
        margin-right: calc((#{ _var-container-margin-sm() } + constant(safe-area-inset-right)) * -1);
        margin-right: calc((#{ _var-container-margin-sm() } + env(safe-area-inset-right)) * -1);
        margin-left: calc((#{ _var-container-margin-sm() } + constant(safe-area-inset-left)) * -1);
        margin-left: calc((#{ _var-container-margin-sm() } + env(safe-area-inset-left)) * -1);

        @include _media-min(md) {
          margin-right: calc((#{ _var-container-margin() } + constant(safe-area-inset-right)) * -1);
          margin-right: calc((#{ _var-container-margin() } + env(safe-area-inset-right)) * -1);
          margin-left: calc((#{ _var-container-margin() } + constant(safe-area-inset-left)) * -1);
          margin-left: calc((#{ _var-container-margin() } + env(safe-area-inset-left)) * -1);
        }
      }
    }
  }
}
