.wp-block-buttons {
  @include _margin-bottom(-.5);

  &.is-content-justification-center {
    > .smb-btn-wrapper {
      @include _margin-right(.25);
      @include _margin-left(.25);
    }
  }

  &.is-content-justification-right {
    > .smb-btn-wrapper {
      margin-right: 0;
      @include _margin-left(.5);
    }
  }

  > .wp-block-button {
    @include _margin-right(.5);
    @include _padding-bottom(.5, true);
  }
}
