@mixin blockquote {
	&,
	&.is-large,
	&.is-style-large:not(.is-style-plain) {
		padding: var(--_padding-1) var(--_padding-1) var(--_padding-1) var(--_padding1);
	}

	cite {
		@extend %blockquote__cite;
	}
}

@mixin blockquote-theme {
	position: relative;
	background-image: url(#{ $img-path }/blockquote/top.svg), url(#{ $img-path }/blockquote/bottom.svg);
	background-repeat: no-repeat;
	background-position: 0 0, 100% 100%;
	background-size: 70px;
	border: none;

	&,
	&.is-large,
	&.is-style-large:not(.is-style-plain) {
		padding: var(--_padding2) var(--_padding1) var(--_padding1) var(--_padding2);;
	}

	&::before {
		content: '';
		position: absolute;
		top: 1rem;
		left: 1rem;
		display: block;
		@include _square(1.5rem);
		background-image: url(#{ $img-path }/blockquote/icon.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@mixin blockquote__cite {
	margin-top: var(--_margin-1);
	display: block;
	@include _set-font-size-level(-1);
	font-style: italic;
}
