@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

@mixin sm-btn() {
	--btn--border-radius: var(--_global--border-radius);
	--btn--background-color: var(--wp--preset--color--sm-accent);
	--btn--border: none;
	--btn--color: var(--wp--preset--color--sm-text-alt);
	--btn--padding: var(--_padding-1);
	--btn--padding-vertical: calc(var(--btn--padding) * .5);
	--btn--padding-horizontal: var(--btn--padding);

	display: inline-block;
	background-color: var(--btn--background-color);
	border: var(--btn--border);
	border-radius: var(--btn--border-radius);
	color: var(--btn--color);
	line-height: inherit;
	padding: var(--btn--padding-vertical) var(--btn--padding-horizontal);
	max-width: 100%;
	text-decoration: none;
	white-space: nowrap;
	@include core.transition(all);

	@include core.hover() {
		filter: brightness(90%);
	}
}
