@mixin btn() {
	--_border-radius: var(--_global--border-radius);

	@include _btn();
	background-color: var(--wp--preset--color--sm-accent);
	border: none;
	border-radius: var(--_border-radius);
	color: var(--wp--preset--color--sm-text-alt);
	padding: calc(var(--_padding-1) * .75) var(--_padding-1);
	max-width: 100%;
	@include _transition(all);

	@include _hover() {
		filter: brightness(90%);
	}
}
