@mixin calendar {
	table {
		border: none;
		table-layout: fixed;
		width: 100%;

		caption {
			font-weight: bold;
			text-align: center;
		}

		th,
		td {
			background-color: transparent;
			border: none;
			line-height: 1;
			padding: .5em;
		}

		thead th,
		tbody td {
			text-align: center;

			> a {
				display: inline-block;
				background-color: var(--wp--preset--color--sm-lighter-gray);
				border-radius: 2px;
				color: inherit;
				margin: -.5em;
				padding: .5em;
				text-decoration: none;
			}
		}

		tfoot {
			@include _set-font-size-level(-1);

			#prev,
			#next {
				padding-top: 1em;
			}

			#prev {
				text-align: left;
			}

			#next {
				text-align: right;
			}

			a {
				color: inherit;
			}
		}
	}

	#next {
		text-align: right;
	}
}
