@mixin cover-img {
  position: relative;
  overflow: hidden;

  > picture {
    @include _position(absolute, 0, 0, 0, 0);
  }

  > img,
  > picture > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
