@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../core/mixin/blockquote' as *;
@use '../../core/mixin/table' as *;

@mixin entry-content($level: 1) {
	@include core.set-content-level($level);

	@at-root {
		:where(#{ & } > *) {
			position: relative;
		}
	}

	& > :is(:not(.alignleft):not(.alignright):not(.alignfull)) {
		margin-left: auto;
		margin-right: auto;
	}

	> table {
		@include table();
	}

	> :where(.wp-block-list) :where(li) + :where(li),
	> :where(.wp-block-list) :where(li) + :where(li),
	> :where(.wp-block-list) * > :where(li:first-child),
	> :where(.wp-block-list) * > :where(li:first-child) {
		margin-top: var(--_margin-2);
	}

	> blockquote:not([class~="wp-block-quote"]) {
		@include blockquote();
	}
}

@mixin entry-content-theme() {
	// @see app/setup/customizer-styles.php
	> :where(h2:not([class*="is-style-"]), h2.is-style-default) {
		border-left: var(--entry-content-h2-border-left);
		background-color: var(--entry-content-h2-background-color);
		padding: var(--entry-content-h2-padding);
	}

	// @see app/setup/customizer-styles.php
	> :where(h3:not([class*="is-style-"]), h3.is-style-default) {
		border-bottom: var(--entry-content-h3-border-bottom);
		padding: var(--entry-content-h3-padding);
	}

	> blockquote:not([class~="wp-block-quote"]) {
		@include blockquote-theme();
	}
}
