@mixin entry-content($level: 1) {
	@include _set-content-level($level);

	> * {
		position: relative;
	}

	& > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		margin-left: auto;
		margin-right: auto;
	}

	> table {
		@extend %table;
	}

	> ul li + li,
	> ol li + li,
	> ul * > li:first-child,
	> ol * > li:first-child {
		margin-top: var(--_margin-2);
	}

	> blockquote:not([class~="wp-block-quote"]) {
		@extend %blockquote;
	}
}

@mixin entry-content-theme() {
	// @see app/setup/customizer-styles.php
	> h2 {
		border-left: var(--entry-content-h2-border-left);
		background-color: var(--entry-content-h2-background-color);
		color: var(--wp--preset--color--sm-text);
		padding: var(--entry-content-h2-padding);
	}

	// @see app/setup/customizer-styles.php
	> h3 {
		border-bottom: var(--entry-content-h3-border-bottom);
		padding: var(--entry-content-h3-padding);
	}

	> blockquote:not([class~="wp-block-quote"]) {
		@extend %blockquote-theme;
	}
}
