@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';
@use '../../placeholder/blockquote';
@use '../../placeholder/table';

@mixin entry-content($level: 1) {
	@include core.set-content-level($level);

	@at-root {
		:where(#{ & } > *) {
			position: relative;
		}
	}

	& > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		margin-left: auto;
		margin-right: auto;
	}

	> table {
		@extend %table;
	}

	> :where(ul) :where(li) + :where(li),
	> :where(ol) :where(li) + :where(li),
	> :where(ul) * > :where(li:first-child),
	> :where(ol) * > :where(li:first-child) {
		margin-top: var(--_margin-2);
	}

	> blockquote:not([class~="wp-block-quote"]) {
		@extend %blockquote;
	}
}

@mixin entry-content-theme() {
	// @see app/setup/customizer-styles.php
	> h2 {
		border-left: var(--entry-content-h2-border-left);
		background-color: var(--entry-content-h2-background-color);
		padding: var(--entry-content-h2-padding);
	}

	// @see app/setup/customizer-styles.php
	> h3 {
		border-bottom: var(--entry-content-h3-border-bottom);
		padding: var(--entry-content-h3-padding);
	}

	> blockquote:not([class~="wp-block-quote"]) {
		@extend %blockquote-theme;
	}
}
