@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

@mixin section() {
	padding: var(--_padding3) 0;
	@include core.section();
}

@mixin section-subtitle() {
	margin-bottom: var(--_margin-2);
	color: var(--wp--preset--color--sm-accent);
	font-weight: bold;
}

@mixin section-title() {
	@include core.set-fluid-font-size-level(4);
}

@mixin section-title-theme() {
	&::after {
		margin: var(--_margin-1) auto 0;
		content: '';
		display: block;
		width: 60px;
		height: 1px;
		background-color: var(--wp--preset--color--sm-accent);
	}
}

@mixin section-lede() {
	margin-top: var(--_margin1);
}

@mixin section-body() {
	margin-top: var(--_margin2);
}
