@mixin table() {
	border-collapse: collapse;

	th,
	td {
		border: 1px solid var(--wp--preset--color--sm-lighter-gray);
		padding: var(--_padding-2) var(--_padding-1);
	}

	th {
		font-weight: bold;
	}

	thead {
		background-color: var(--wp--preset--color--sm-accent);

		th {
			border: 1px solid rgba(255, 255, 255, .3);
			color: var(--wp--preset--color--white);
		}
	}

	tbody {
		th {
			text-align: left;
		}
	}
}
