@mixin table() {
  border-collapse: collapse;

  th, td {
    border: 1px solid _var-lighter-color-gray();
    @include _padding(.25, .5);
  }

  th {
    font-weight: bold;
  }

  thead {
    th {
      background-color: var-color-accent();
      border-right: 1px solid var-color-accent-light();
      border-left: 1px solid var-color-accent-light();
      color: _var-color-white();
    }
  }

  tbody {
    th {
      background-color: var-color-accent-lightest();
      color: _var-color-text();
      text-align: left;
    }
  }

  figcaption {
    @include figcaption();
  }
}
