@use '../../../../../vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/css/core';

/**
 * Widget title
 *
 * @see app/setup/customizer-styles.php
 */
@mixin widget-title() {
	margin: 0 0 var(--_margin-1);
	font-weight: bold;
}

/**
 * Widget title
 *
 * @see app/setup/customizer-styles.php
 */
@mixin widget-title-theme() {
	@include core.set-font-size-level(0);
	display: var(--widget-title-display);
	flex-direction: var(--widget-title-flex-direction);
	align-items: var(--widget-title-align-items);
	justify-content: var(--widget-title-justify-content);

	&::before,
	&::after {
		display: var(--widget-title-pseudo-display);
		content: var(--widget-title-pseudo-content);
		height: var(--widget-title-pseudo-height); // 1px
		background-color: var(--widget-title-pseudo-background-color); // #111
		flex: var(--widget-title-pseudo-flex);
		min-width: var(--widget-title-pseudo-min-width);
	}

	&::before {
		margin-right: var(--widget-title-before-margin-right);
	}

	&::after {
		margin-left: var(--widget-title-after-margin-left);
	}
}

/**
 * Unstyled list base style
 */
@mixin widget-list-base() {
	list-style: none;
	padding-left: 0;

	> li + li {
		margin-top: var(--_margin-2);
	}
}

/**
 * Text link base style
 */
@mixin widget-link-base() {
	color: inherit;
	text-decoration: none;

	@include core.hover() {
		text-decoration: underline;
	}
}

/**
 * Item has children expander
 */
@mixin widget-has-children-expander() {
	position: relative;
}

/**
 * Children
 */
@mixin widget-children() {
	margin-top: var(--_margin-2);
	margin-left: var(--_margin-1);

	ul {
		margin-left: var(--_margin-1);
	}
}

/**
 * Children - Theme
 */
@mixin widget-children-theme() {
	display: none;
	border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
	border-bottom: 1px solid var(--wp--preset--color--sm-lighter-gray);
	margin: var(--_padding-2) 0 0 0;
	padding: var(--_padding-2) 0;

	@keyframes widget_children_show {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&[data-is-hidden="false"] {
		margin-bottom: var(--_margin-2);
		display: block;
		animation: widget_children_show .5s;

		[data-is-hidden="false"] {
			margin-bottom: var(--_padding-2); // equal widget-children() bottom padding
			border-bottom: none;
		}
	}

	ul {
		margin-left: 0;
	}

	> li:first-child {
		margin-top: 0;
	}
}
