%section {
  @include section();
}

%section-subtitle {
  @include section-subtitle();
}

%section-title {
  @include section-title();
}

%section-lede {
  @include section-lede();
}

%section-body {
  @include section-body();
}
