.p-overlay-search-box {
	.c-input-group {
		width: min(80vw, 480px);

		&__field {
			> input {
				background-color: transparent;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid rgba(#fff, .7);
				color: var(--wp--preset--color--white);

				&:focus {
					border-bottom-color: var(--wp--preset--color--white);
				}
			}
		}

		&__btn {
			background-color: transparent;
			border: none;
			color: var(--wp--preset--color--white);
		}
	}
}
